[2018-11-30 11:39] #1276 closed

[2018-11-30 11:42] atinmu commented on #1010
@aravindavk do we need this for GCS 1.0? If not, can you please take out the GCS/1.0 blocker tag?

[2018-11-30 11:43] atinmu commented on #461
#1228 is no longer a blocker for GCS 1.0 release.

[2018-11-30 11:45] atinmu commented on #914
I believe this will be automatically taken care of when brick multiplexing PR is merged. This will just be a test effort.

@rafikc30 @vpandey-RH

[2018-11-30 11:46] atinmu commented on #940
Closing this as we've not seen this popping up in the latest testing results. Please feel free to reopen if the issue persists.

[2018-11-30 11:46] #940 closed

[2018-11-30 11:47] atinmu commented on #883
@rishubhjain ping! this is pending since long time.

[2018-11-30 11:57] atinmu commented on #1131
@Madhu-1 What more work is pending here?

[2018-12-01 09:08] atinmu commented on #1334
@vpandey-RH @rmadaka Can we please test this with latest master and see if this is still happening?

[2018-12-01 09:27] atinmu opened #1358 "PV claim should succeed when quorum of nodes are up."
Enhancement request in transaction engine:

GD2's transaction engine should be capable enough to serve PV claim requests when quorum of the gluster nodes are up in cluster. The idea is to bring in a replay mechanism in the engine so that any operations which are undone at nodes which haven't participated in the transaction can be attempted once it's back online.

[2018-12-02 06:39] aravindavk commented on #1358
Duplicate of #1091

[2018-12-02 06:43] aravindavk commented on #1331
Not applicable in GCS setup, both client and peer addresses are same in gcs setup

[2018-12-02 07:46] #1358 closed

[2018-12-02 08:07] atinmu commented on #1309
@rmadaka is this still valid with latest master?

[2018-12-03 04:30] karthik-us commented on #1334
@vpandey-RH two questions on the generated volfile.
- Why "option iam-self-heal-daemon off" this is off? and
- Why don't we have the "afr-pending-xattrs" option in the graph? In the GD1 graph we will have something like this
"option afr-pending-xattr gv1-client-0,gv1-client-1,gv1-client-2"

[2018-12-03 05:32] itisravi commented on #1334
Some more errors:
- why are DHT  and 'read-only' xlators loaded into the shd graph?
- I see `background-self-heal-count` option being set for protocol/client xlators while it is an AFR option.

I think the first step here should be to verify that the shd graph (and other graphs in general) in GD2 should map 1:1 with the graphs generated using GD1

[2018-12-03 05:46] vpandey-RH commented on #1334
@itisravi  I don't think this is the shd volfile.

[2018-12-03 05:48] vpandey-RH commented on #1334
@rafikc30  @karthik-us @itisravi Currently the following  is the contents of the shd volfile.

volume testvol3-replicate-0-client-0
    type protocol/client
    option transport.socket.keepalive 1
    option transport.socket.own-thread off
    option transport.socket.lowlat off
    option remote-host 10.70.43.208
    option ping-timeout 42
    option transport.listen-backlog 1024
    option transp

[2018-12-03 05:59] rafikc30 commented on #1334
@vpandey-RH as @karthik-us suggested, option `iam-self-heal-daemon` has to be on for self-deamon graphs. Also, Do we need to explicitly set option `self-heal-daemon` explicitly by running ```glustercli volume set pvc-95747a3e-ecc7-11e8-806f-5254006184ca replicate.self-heal-daemon on --advanced``` ? I'm asking because for one volume I see it's disabled.

[2018-12-03 06:07] vpandey-RH commented on #1334
@rafikc30  Yes, we need to explicitly add replicate.self-heal-daemon on for every volume.

[2018-12-03 06:08] vpandey-RH commented on #1334
@karthik-us Does iam-self-heal-daemon need to be on only when self-heal-daemon option is on or it should be on always ?

[2018-12-03 06:09] rafikc30 commented on #1334
Is there any reason why we choose to do so.  slef-heal is an important feature to a volume, so I thought it will be on by default.

Rafi KC

[2018-12-03 06:16] vpandey-RH commented on #1334
I am not exactly sure but what I know is in order to minimize the volfile generation process we are now generating the contents of shd volfile for a particular volume only when self-heal-daemon is set on .

[2018-12-03 06:53] rafikc30 opened #1359 "heal-info: cli command failed with Client.Timeout exceeded error"
### Observed behavior
` glustercli heal info` command failed with Client.Timeout exceeded while awaiting headers when I had lot of entries to heal (almost 3k)

[code]

### Expected/desired behavior

Heal info should not fail, at least it should be print the entries

### Details on how to reproduce (minimal and precise)
1) Create a 3-way replicate volume and start it
2) mount the volume
3) Kill one

[2018-12-03 06:57] rafikc30 commented on #1334
I did the testing on my local setup on a redular volume, I had almost 3000 entries to heal,
[code]
After lunching full heal, after som time, the heal info shows entries count as zero.
[code]

Though I had problem with heal-info(https://github.com/gluster/glusterd2/issues/1359), self-heal were doing the heals.
@rmadaka  can you please verify the issue on the latest build .

[2018-12-03 07:06] itisravi commented on #1334
Also, please don't run full heal. Run index-heal for this test case: `gluster volume heal $volname`.

[2018-12-03 07:32] aravindavk commented on #1091
**Draft design:**

Instead of depending on Transaction to replay the steps when that node comes up, we can maintain a flag in Brick structure to differentiate provisioned vs unprovisioned brick.

[code]

During initial plan, in the first iteration plan using the list of online peers. If quorum bricks are available then look for devices from the list of offline peers. If the bricks are selected fro

[2018-12-03 13:37] ksandha opened #1360 "Volume status showing port as -1 for few volumes in gcs setup"
Checking the volume status of the volume in gd2, the port number to few of the volume is set as -1

### Observed behavior
Created 90+ PVC and check the volume status for all the volumes. the ports of few of the volumes are showing -1

### Expected/desired behavior
port number should be correct

### Details on how to reproduce (minimal and precise)
1) create 90 PVC on a gcs setup
2) check the statu

[2018-12-04 09:05] harigowtham commented on #1321
The below code is infinitely called to listen to the sunrpc calls.

func (s *SunRPC) acceptLoop(stopCh chan struct{}, l net.Listener, wg *sync.WaitGroup) {
        defer wg.Done()

        var ltype string
        switch l.(type) {
        case *net.UnixListener:
                ltype = "unix"
        default:
                ltype = "tcp"
        }
        logger := log.WithFields(log.Fields{

[2018-12-04 10:24] ksandha opened #1362 "error getting volume status after deleting multiple pvc"
getting error in volume status after deleting 1000 pvc
[code]
### Observed behavior
Getting above error while running glustercli volume status

### Expected/desired behavior
As there are no pvc , there should be any error in volume status.

### Details on how to reproduce (minimal and precise)
1) Create 1000 pvc . Almost 750 were in bound state and rest were in pending state.

2) delete all the pv

[2018-12-04 10:30] ksandha commented on #1362
[glusterd2.log](https://github.com/gluster/glusterd2/files/2643477/glusterd2.log)

Attached are the glusterd2 logs
[code]

[2018-12-04 10:37] atinmu commented on #1362
from glusterd2.log:

time="2018-12-04 10:29:08.726490" level=error msg="failed to obtain lock" error="etcdserver: mvcc: database space exceeded" lockID=pvc-853f3af9-f799-11e8-881b-5254001e787d reqid=304a6979-acc3-419a-ab32-082cbffad509 source="[lock.go:180:transaction.(*Txn).lock]" txnid=ab4b3719-6c17-4c34-bb59-432ce37bf7f1
time="2018-12-04 10:29:08.729115" level=info msg="10.233.64.9 - - [04/Dec/

[2018-12-04 10:55] atinmu commented on #1359
heal info command does take longer time to finish and the default time out for heal command is 10 minutes in cli for GD1. (See cli_cmd_submit () ) . We need to have a way to ensure that client timeout can be configurable.

[2018-12-04 10:57] atinmu commented on #1360
@ksandha Could you attach the glusterd2.log? This seems like pmap_signin didn't happen?

[2018-12-04 11:05] Madhu-1 commented on #1362
@ksandha are you able to create 1000 PVC

[2018-12-04 11:34] #219 closed

[2018-12-04 11:43] ksandha commented on #1362
I am able to create 750 bound pvc after that i started deleting the pvc. One more issue i am hitting is #1349 with this.

[2018-12-04 13:36] kshlm commented on #1362
The space quota here is an internal etcd quota limit that is set by default is 2GiB. When this limit is reached, etcd needs to have compaction performed manually. Etcd servers could be set up to perform automatic compaction, but I'm not sure if the etcd operator sets up the etcd cluster this way.

Also, I don't think compaction would help us here. Having the volfiles of a 1000 volumes stored in et

[2018-12-04 13:42] Madhu-1 commented on #1362
@kshlm i think we are not storing the volfiles in ETCD as aravinda introduced volfile templates @aravindavk can yoy confirm on this.

[2018-12-04 13:52] kshlm commented on #1362
@Madhu-1 volfile templates are used for generating volfiles. But IIRC, we still store the generated volfiles (maybe just the client volfiles) in etcd.

[2018-12-04 14:34] aravindavk commented on #1362
Only client volfiles are stored in etcd. Looks like we have to store that as well to avoid using etcd space. I will send PR to save Client volfile to disk(Or make it configurable)

[2018-12-05 05:52] Madhu-1 commented on #1321
`rpc source="[server.go:155:sunrpc.(*SunRPC).acceptLoop]" transport=tcp
time="2018-12-05 05:47:45.827334" level=info msg="client disconnected" address="10.233.66.5:962" server=sunrpc source="[server.go:109:sunrpc.(*SunRPC).pruneConn]"
time="2018-12-05 05:47:51.008626" level=info msg="client connected" address="10.233.66.5:988" server=sunrpc source="[server.go:155:sunrpc.(*SunRPC).acceptLoop]" tran

[2018-12-05 06:08] aravindavk commented on #1321
Looks like while collecting heal info, `glfsheal` command mounts the volume and gets the heal info. Since this runs in regular interval, glusterd2 memory consumption is growing.

[2018-12-05 07:58] Madhu-1 opened #1364 "failed to create volumes more than 600"
### Observed behavior

failed to create volumes more than 600 on my local setup
### Expected/desired behavior
volume creation should be successful

### Details on how to reproduce (minimal and precise)
create more PVC (around 1000)

logs:
[code]
[code]

[2018-12-05 07:59] Madhu-1 commented on #1364
@aravindavk ^^

[2018-12-05 08:07] Madhu-1 commented on #1364
dueto high memory utilization gd2 pods are not responding to pings properly

[code]

[2018-12-05 08:10] Madhu-1 commented on #1321
if we have more  volumes in the gd2 cluster this will cause the issue

[2018-12-05 08:12] Madhu-1 opened #1365 "glusterd2 keep on generating the same logs"
### Observed behavior

glusterd2 keeps on generating the same logs
### Expected/desired behavior
in failure case gd2 should log only once, or it should log in regular interval of time

### Details on how to reproduce (minimal and precise)
create more volumes in gcs

### Information about the environment:
logs
[code]

[2018-12-05 08:19] rishubhjain commented on #1365
@Madhu-1 Is it because of the retries?

[2018-12-05 08:30] vpandey-RH commented on #1365
@rishubhjain  I dont think we can avoid continuous RPC requests in case of a failure but what we can do is we can limit memory leakage, which I think @harigowtham is working on and we can also limit the number of bricks for which this RPC request is sent through [#1337](https://github.com/gluster/glusterd2/pull/1337).

[2018-12-05 09:00] harigowtham commented on #1365
Same as the bug https://github.com/gluster/glusterd2/issues/1316

This happens when a brick is killed in a volume.
A single volume should be enough. killing one of the bricks causes these error messages.
@vpandey-RH The volume need not even have a client for this to happen.
Not sure why this RPC is triggered a number of times by GD2.

I'm looking into why these calls happens will update.

[2018-12-05 09:22] aravindavk commented on #1321
Try adding `conn.Close()` in `func (s *SunRPC) pruneConn()` (`$SRC/glusterd2/servers/sunrpc/server.go`, After Line 108)

[2018-12-05 09:57] harigowtham commented on #1321
The memory still keeps growing

[2018-12-05 13:28] #1362 closed, assigned to aravindavk

[2018-12-05 13:37] atinmu commented on #1364
@aravindavk / @rishubhjain - can one of you please check this?

[2018-12-06 02:56] aravindavk opened #1366 "[RFE] Mount local bricks in parallel"
On glusterd2 restart, it mounts each local brick sequentially. This may add more time to glusterd2 start if we have 1000 or more auto provisioned volumes(more local bricks for each glusterd2).

Other possibility is to use the `mount` command

- Generate the custom fstab file on glusterd2 start/restart(`$workdir/fstab`) using the local brick information.
- Use `mount --fstab /var/lib/glusterd2/fsta

[2018-12-06 05:09] Madhu-1 opened #1367 "failed to enable brick mux options"
### Observed behavior
failed to enable brick mux options
### Expected/desired behavior
brick mux value must be set to true

### Details on how to reproduce (minimal and precise)
* send HTTP request to enable brick mux
[code]
* Not that body should not be empty, need to fix this problem also
* if I sent multiple requests with same request body, the request should fail saying, something like `cluste

[2018-12-06 05:10] Madhu-1 commented on #1367
the nightly container is 3 days old in the docker hub, means `brickmux` code is not present.
how glusterd2 is understanding `cluster.brick-multiplex` option

@atinmu @vpandey-RH

[2018-12-06 05:44] atinmu commented on #1367
All the global options were already introduced by commit 3296ec8 way earlier. the brick multiplexing changes which went in recently just allowed to actually enable that option. We need to test this with latest master (once the nightly container issue is resolved).

[2018-12-06 05:44] sseshasa opened #1368 "Tracing: Add functionality to enable/update/disable tracing using glustercli command"
In addition to Glusterd2 startup options, add functionality to dynamically update, disable, enable and query the same using Gluustercli commands. See [attached](https://docs.google.com/document/d/1qH9sE58JKN1HMsihodKcfbyyoaAb774xhal9BofUQNY/edit?usp=sharing) document for additional details.

 - Must be able to enable tracing at any point in GD2 i.e., When GD2 node/pod is spawned and When GD2 node/

[2018-12-06 06:00] Madhu-1 opened #1369 "redirect logs to the stdout in glusterd2"
In current GCS setup, all the logs are written to a file. we have to step inside the container and check the logs,
if we redirect the logs to the stdout, we can use `kubectl logs` command to see glusterd2 logs.

[2018-12-06 06:30] rishubhjain commented on #1369
@Madhu-1 But this would be very specific to GCS, I think we can provide an option in the configuration file where one can mention whether the logs should be stored, either in file or redirected to stdout.

[2018-12-06 10:52] rmadaka commented on #1364
Create GCS setup with 16 vcpus and 32GB RAM for each kube node. Then try to create 1000 PVC using script. Each pvc size 1GB.

Observation:

-> I have tried to create 1000 PVC, 615 PVCs are bounded remaining pvcs are in pending state.

-> After 12 hours of idle time observed that GD2 pods rebooted more than 150 times

-> After 12 hour of idle time one of the etcd pod is in not ready state.

[code]

[2018-12-06 10:52] rmadaka commented on #1364
Attached CSI provisioner log above

[2018-12-06 14:35] JohnStrunk commented on #1369
Please make sure this is available via env or command line also. Managing config files is difficult in container environments.

[2018-12-06 18:53] vpandey-RH commented on #1367
@Madhu-1 The above call for setting the brick-multiplex on, doesn't exist.

The call should be -

curl -XPOST http://localhost:24007/v1/cluster/options -d '{"options":{"cluster.brick-multiplex": "on"}}'

I will also add the validation  for setting the brick-multiplex option.

[2018-12-07 03:37] #1321 closed

[2018-12-07 04:03] atinmu commented on #1334
Kindly retest as the fix is already in place. Closing this.

[2018-12-07 04:03] #1334 closed

[2018-12-07 04:19] atinmu opened #1374 "GD2 smoke failed with gfproxy.afr.eager-lock as undefined option"
Reference : https://build.gluster.org/job/gd2-smoke/3017/console
                    https://build.gluster.org/job/gd2-smoke/3005/console

[2018-12-07 05:45] harigowtham opened #1375 "device add from glustercli fails"
when we try to add an device for creating volumes from the cli, we get a failure instead of a success.

### Observed behavior
glustercli device add 41e3e514-e53a-4566-ae69-8997d32c8394 /dev/loop1
Device add failed

Response headers:
X-Request-Id: f490cf4b-e378-469c-864d-a33a9e1f1263
X-Gluster-Peer-Id: 41e3e514-e53a-4566-ae69-8997d32c8394
X-Gluster-Cluster-Id: e890fcc1-c817-4b89-8418-e31fc559025f

[2018-12-07 05:55] #1250 closed

[2018-12-07 06:50] harigowtham commented on #1375
I'm not able to reproduce this.
Hence closing this bug.

[2018-12-07 06:50] #1375 closed

[2018-12-07 08:36] ksandha commented on #1360
[glusterd2_port.log](https://github.com/gluster/glusterd2/files/2656475/glusterd2_port.log)

[2018-12-07 12:10] aravindavk commented on #954
With PR #1376, this can be enabled using `glustercli volume set <volname> features/shard on`

[2018-12-07 13:34] #472 closed

[2018-12-07 13:52] aravindavk commented on #376
With Glusterfs Patch https://review.gluster.org/21813 and Glusterd2 patch https://github.com/gluster/glusterd2/pull/1370 we can enable/disable xlators if option name with same name as xlator exists in respective options table.

[2018-12-07 13:52] #376 closed

[2018-12-10 05:54] atinmu commented on #1360
From the attached log:

atin@dhcp35-96:~/Downloads$ grep -irns "volume started" glusterd2_port.log
770:time="2018-12-07 07:32:19.767744" level=info msg="volume started" reqid=4eeb98bc-351c-41cb-af67-224dbf9fd757 source="[volume-start.go:176:volumes.volumeStartHandler]" volume-name=pvc-38f2c390-f9f2-11e8-9e9c-52540044da85
771:time="2018-12-07 07:32:19.777919" level=info msg="volume started" reqid=2

[2018-12-10 11:06] atinmu commented on #1360
If you have the setup, can you please check if the pid 17355 is still running on gluster-kube2-0.glusterd2.gcs ? Also can you take the glusterd statedump and share the output?

[2018-12-10 11:17] atinmu commented on #1374
I still see this at https://build.gluster.org/job/gd2-smoke/3054/console even though #1370 is merged.

[2018-12-10 11:48] atinmu commented on #1374
GCS 0.4 release will be blocked till we address this as we're seeing red through out in the gd2-smoke report. Let us try to address this at earliest.

[2018-12-10 15:41] kshlm commented on #1369
Even if we do provide an option, it will not be useful with the current containers which use systemd. As systemd is the first process in the container, the logs fetched by `kubectl logs` will be the systemd logs.

[2018-12-10 18:08] rishubhjain opened #1380 "GD2 smoke test failing due to xlator name change."
Bit-rot test failing in GD2 smoke tests with error message
 `Transaction step bitrot-enable.Commit failed on peer a71030f6-7d38-4cb5-aea6-793be99f8162 with error: xlator not found: bit-rot\nTransaction step bitrot-enable.Commit failed on peer 501da00f-ff0b-4b72-8f2e-b8937512b645 with error: xlator not found: bit-rot`.

https://build.gluster.org/job/gd2-smoke/3054/console

[2018-12-10 18:11] rishubhjain commented on #1380
Requires change in glusterfs code:
https://review.gluster.org/#/c/glusterfs/+/21733/2/xlators/features/bit-rot/src/bitd/bit-rot.c
Bit-rot xlator identifier changed from `bit-rot` to `bit-rot server`.

[2018-12-11 04:20] Madhu-1 commented on #1343
Fixed in #1321

[2018-12-11 04:20] #1343 closed

[2018-12-11 04:32] Madhu-1 commented on #1359
@rafikc30  can you use `--timeout` option in glustercli?
the default timeout is `30sec` user can adjust the timeout with `--timeout` flag in glustercli

[2018-12-11 04:39] Madhu-1 commented on #1339
I think this is related to the memory leak, @rmadaka can you reverify this one with the latest build?

[2018-12-11 05:55] rishubhjain commented on #1283
@Akarsha-rai Please try to reproduce this

[2018-12-11 07:52] #1355 closed

[2018-12-11 09:38] aravindavk commented on #1362
I overlooked this comment last week. Even if a volfile takes 10KiB, 1000 volumes volfile will consume  less than 80MiB space.

[2018-12-11 10:49] aravindavk opened #1382 "[RFE] Intelligent Volume Expand by adding subvolumes"
PR #1281(Issue #852) adds support for Volume expand by expanding the bricks. When distribute count is not given or given more than the existing value then we need to expand the volume by adding more sub volumes.

- Collect expand size as API input
- Get existing sub volume size
- if expand size > sub volume size, then number_of_new_subvols = ceil(expand_size / subvol_size)
- Number of new bricks r

[2018-12-11 10:49] aravindavk commented on #852
Volume Expand feature is available by increasing the brick size using `lvresize`. Opened new issue to expand Volume by automatically adding subvolume https://github.com/gluster/glusterd2/issues/1382

[2018-12-11 11:12] #954 closed

[2018-12-11 13:20] #919 closed

[2018-12-11 13:44] #250 closed

[2018-12-11 14:43] atinmu commented on #1380
Fixed through #612

[2018-12-11 14:43] #1380 closed

[2018-12-12 04:09] aravindavk opened #1383 "[RFE] Support for import device"
Currently, when a raw device is added Gd2 is creating PV and VG using `pvcreate` and `vgcreate` commands. Adding already existing Vgs are not possible since gd2 will again try to create pv and vg on that. Device add API should be enhanced to support importing the existing devices.

## Use case:
- If a device is managed using other provisioners like Heketi, These devices need to be imported by Gd2

[2018-12-12 05:55] atinmu opened #1384 "volume create brick directory validation logic is incorrect"
### Observed behavior

root@b9bad6008a5e:/home/go/src/github.com/gluster/glusterd2/build# ./glustercli volume create test-vol21 replica 3 172.17.0.2:/tmp/b21 172.17.0.3:/tmp/21 172.17.0.4:/tmp/b21 --force; ./glustercli volume start test-vol$i;
Volume creation failed

Response headers:
X-Gluster-Cluster-Id: 8d9dae2d-b422-476a-aa5d-5f7e6cb5eb1d
X-Gluster-Peer-Id: 75a41e07-8722-427c-bd8c-89e5cb694447

[2018-12-12 05:56] atinmu opened #1385 "glustercli for displaying all cluster wide options"
We don't have something similar to 'gluster volume get all all' from GD1/Cli where all the global cluster wide options can be displayed.

[2018-12-12 05:59] Madhu-1 commented on #1384
@atinmu is the above script is complete? can you provide the script used for your testing

[2018-12-12 07:04] Akarsha-rai commented on #1283
@rishubhjain , able to edit device as "disabled/enabled" successfully. So closing this issue

[2018-12-12 07:04] #1283 closed

[2018-12-12 07:42] atinmu opened #1387 "TestBrickMux is failing spuriously in GD2-smoke job"
Reference : https://build.gluster.org/job/gd2-smoke/3111/console

[2018-12-12 07:44] atinmu commented on #1387
https://build.gluster.org/job/gd2-smoke/3109/console
https://build.gluster.org/job/gd2-smoke/3111/console

[2018-12-12 07:45] Madhu-1 commented on #1359
client logs
[code]
server logs
[code]

[2018-12-12 07:47] atinmu opened #1388 "Failed to find write-behind xlator failure in GD2-smoke"
Reference : https://build.gluster.org/job/gd2-smoke/3108/console

[2018-12-12 07:57] vpandey-RH commented on #1387
https://build.gluster.org/job/gd2-smoke/3109/console - This error is quite frequent with e2e. I think its not related to BrickMux.

https://build.gluster.org/job/gd2-smoke/3111/console - This seems like an issue with  starting a new GD2 instance.

[2018-12-12 09:41] aravindavk opened #1389 "minimum brick size validation during Volume create"
Auto provisioned volume create validates the minimum volume size but does not validate the minimum brick size. Following command fails

[code]

Validation required after calculating brick size

[2018-12-12 09:55] aravindavk commented on #1079
Volfiles are not stored in etcd, only one call made to save Volinfo to store. Closing this issue. Please reopen if this can be optimized further.

[2018-12-12 09:55] #1079 closed

[2018-12-12 09:57] aravindavk commented on #1389
@harigowtham do you want to take this up?

[2018-12-12 10:30] harigowtham commented on #1389
@aravindavk. Yes, I'll take it up.

[2018-12-12 11:58] Shrivaibavi opened #1390 "Unable to create any type of volume on gd2 standalone"
### Observed behavior

[code]

### Expected/desired behavior

### Details on how to reproduce (minimal and precise)

### Information about the environment:

- Glusterd2 version used (e.g. v4.1.0 or master):

 glusterd version: v6.0-dev.69.git5f88917
git SHA: 5f88917
go version: go1.11.2
go OS/arch: linux/amd64

- Operating system used:
- Glusterd2 compiled from sources, as a package (rpm/deb), or

[2018-12-12 12:23] Akarsha-rai opened #1391 "Without starting volume, volume stop is success"
### Observed behavior
When volume is in created state, stopping volume is success

### Expected/desired behavior
When volume is in created state, stopping volume should fail.

### Details on how to reproduce (minimal and precise)
1. Create a volume
[code]
2. Stop the volume without starting it.
[code]

### Information about the environment:

- Glusterd2 version used (e.g. v4.1.0 or master):
[code]

[2018-12-12 12:45] kshlm commented on #1390
I tracked the request-id through the logs. The transaction is only reaches 2 of the nodes. The 3rd node isn't acting upon the transaction. This is causing the transaction to time out.

The 3rd node appears to be running an older GD2 version without the changes to the txn engine. Two of the nodes were restarted around 2018-12-12 10:02:11, with the new GD2 version. The 3rd node hasn't been restarted

[2018-12-12 13:05] Akarsha-rai opened #1393 "When one of the node is down volume stop is failing"
### Observed behavior
When one of the node is down volume stop is failing

### Expected/desired behavior
When one of the node is down volume stop is success according to gd1 cases

### Details on how to reproduce (minimal and precise)
1. Create and start volume.
2. Stop glusterd2 on one node
3. Try stopping the volume and it is failing
[code]

### Information about the environment:

- glusterd2 --

[2018-12-12 13:45] Shrivaibavi commented on #1390
@kshlm retested. It is working fine. Hence closing the issue

[2018-12-12 13:45] #1390 closed

[2018-12-12 13:46] Akarsha-rai commented on #1393
@atinmu, yes we had.
Volume info and status of testvol:
[code]

[2018-12-12 13:51] rishubhjain commented on #1393
@Akarsha-rai I think this is not a bug then because the volume cannot be stopped if the bricks are unreachable.

[2018-12-12 13:54] atinmu commented on #1393
@Akarsha-rai Are you sure GD1 allow this?

[2018-12-12 14:12] Akarsha-rai commented on #1393
@atinmu There is one test case on gd1
https://github.com/gluster/glusto-tests/blob/master/tests/functional/glusterd/test_volume_delete.py#L102

I tried running this manually on glusterd version:
glusterfs-3.8.4-52.el7rhgs.x86_64

[code]
After stopping glusterd on node 10.70.43.156

[code]

[2018-12-12 14:17] atinmu commented on #1393
I'm trying to hunt down for the reason of making such behaviour in GD1.

[2018-12-13 04:37] aravindavk commented on #1393
If a node is down we can allow to stop the Volume without any side effects. But if glusterd is down and if we are assuming that node is down then there will be a stale brick process in the node where glusterd was down. @Akarsha-rai can you verify this in your glusterd1 setup? After stopping glusterd on 10.70.43.156 and volume stop can you check in that node to see if glusterfsd processes is still

[2018-12-13 04:39] aravindavk commented on #1393
We need not stop bricks because bricks are already stopped since the node is down.

[2018-12-13 04:50] rishubhjain commented on #1393
@aravindavk I was considering the scenario where glusterd2 was down and the node is reported as down to other nodes.

[2018-12-13 05:00] Madhu-1 commented on #1393
we need to consider what happens if the node is having some network connectivity issue with ETCD

[2018-12-13 05:47] atinmu commented on #1393
Here's the GD1 behavior:

After the volume stop goes through when GD1/node goes down on one of the nodes, after GD1/node comes back online, the brick process is brought down.

[2018-12-13 07:08] Akarsha-rai commented on #1393
@aravindavk , after volume is stopped and when the node 10.70.43.156 is down:
[code]
After starting glusterd on node 10.70.43.156
[code]

[2018-12-13 07:20] aravindavk commented on #1393
Need ps output when node is up but glusterd is down. Same steps as mentioned in https://github.com/gluster/glusterd2/issues/1393#issuecomment-446601131

[2018-12-13 07:42] Akarsha-rai commented on #1393
Initial ps output on node 10.70.43.156
[code]

After volume "vol1" created, ps output on node 10.70.43.156
[code]
When glusterd is stopped on node
[code]
When the glusterd is down on node 10.70.43.156 and stopped volume "vol1", ps output is simialr to the above one.

After starting glusterd, ps output on 10.70.43.156
[code]

[2018-12-13 07:49] rishubhjain opened #1397 "GD2 smoke: self heal e2e test cases failing"
Reference : https://build.gluster.org/job/gd2-smoke/3142/console

[2018-12-13 07:59] aravindavk commented on #1393
@atinmu we can achieve the similar behavior. Do you see any problem if stale brick process exists till glusterd2 again comes back up?

[2018-12-13 08:07] atinmu commented on #1393
@aravindavk I still think functionality wise we should disallow volume stop if a node/glusterd service hosting any of the bricks is down.  For eg - If have a distribute only volume and in case I stop a volume when glusterd service is down even though that node is up and so as the glusterfsd process is, any existing mount should be able to read/write from/to the brick which by principle is wrong as

[2018-12-13 08:25] atinmu opened #1398 "--size parameter in volume create CLI isn't accepting MB format"
### Observed behavior

root@b9bad6008a5e:/home/go/src/github.com/gluster/glusterd2/build# ./glustercli volume create ivp-vol1 --size=100M
Volume creation failed

Response headers:
X-Request-Id: a2c102fb-9957-4def-86dd-6e15123661f8
X-Gluster-Cluster-Id: 8d9dae2d-b422-476a-aa5d-5f7e6cb5eb1d
X-Gluster-Peer-Id: 75a41e07-8722-427c-bd8c-89e5cb694447

Response body:
invalid Volume Size, Minimum size requ

[2018-12-13 08:33] rishubhjain commented on #1398
@atinmu Yes, I guess we missed out on MB, we have added for other formats https://github.com/gluster/glusterd2/blob/master/glustercli/cmd/utils.go#L32

[2018-12-13 09:23] vpandey-RH commented on #1397
@rishubhjain  There is an issue with glustershd crashing as soon as heal is started. That's why there is an EOF error.

[2018-12-13 09:51] Shrivaibavi opened #1400 "After enabling brick mux, i don't see the option brick-multiplex in volume info"
### Observed behavior
[code]
I see the volume option is empty.
### Expected/desired behavior
I see the volume option "brick-multiplex" : enabled in gd1 but not in gd2.
[code]
### Details on how to reproduce (minimal and precise)

### Information about the environment:

- Glusterd2 version used (e.g. v4.1.0 or master):
glusterd version: v6.0-dev.69.git5f88917
git SHA: 5f88917
go version: go1.11.2
g

[2018-12-13 09:53] atinmu commented on #1400
It will not be shown in volume info given it’s a cluster wide global option. This is a(correct) change in behaviour if you’re doing a GD1 vs GD2 comparison.

[2018-12-13 10:22] aravindavk commented on #1397
EOF issue is now resolved(#1396) by fixing the template value masking while generating volfile(Due to which `iam-self-heal-daemon` was set to off.

Now facing other issue

[code]

[2018-12-13 10:36] ksandha commented on #1364
[attacher.log](https://github.com/gluster/glusterd2/files/2675585/attacher.log)
[provisioner.log](https://github.com/gluster/glusterd2/files/2675586/provisioner.log)

hitting this issue at 758 pvc

[2018-12-13 10:37] Madhu-1 commented on #1364
@aravindavk @rishubhjain PTAL

[2018-12-13 10:40] rmadaka opened #1401 "Not able to get cluster options using glustercli commands"
Not able to get any of the cluster options using glustercli commands.

glustercli volume get command not working for getting cluster options.

### Observed behavior

### Expected/desired behavior

### Details on how to reproduce (minimal and precise)

### Information about the environment:

- Glusterd2 version used (e.g. v4.1.0 or master):
- Operating system used:
- Glusterd2 compiled from sources

[2018-12-13 10:43] rishubhjain commented on #1401
https://github.com/gluster/glusterd2/issues/1385

[2018-12-13 10:49] Madhu-1 commented on #1364
@ksandha please attach gd2 logs

[2018-12-13 10:59] ksandha commented on #1364
[glusterd2_758pvc.log](https://github.com/gluster/glusterd2/files/2675658/glusterd2_758pvc.log)

[2018-12-13 11:52] ksandha commented on #1364
1) Started 1000 pvc with a script in sequential order
2) At 758PVC were stuck and rest all in pending state.
attched the logs in above comments.
3) started to delete the pvc using script in sequential order.
seeing no pvc in
[code]
4)  Check the below command
[code]

Seems like i am hitting the below issue and very consistently
https://github.com/gluster/gcs/issues/25

[2018-12-13 12:07] Shrivaibavi commented on #1400
@atinmu If it is not given in volume info, then what is the glustercli command to check cluster wide global option ?

[2018-12-13 12:35] Shrivaibavi opened #1403 "old glusterfsd process still running after the brick mux is enabled."
### Observed behavior

When i did ps -ef | grep glusterfsd i saw the old glusterfsd process still running after the brick mux is enabled.

[code]

### Expected/desired behavior

The pid 20932 should not be running after the brick mux is enabled.

### Details on how to reproduce (minimal and precise)
1. Created 4 volumes a, b, c, d
2. Started 2 volumes a, b
3. Enabled brick mux
4. force start volum

[2018-12-13 12:37] vpandey-RH commented on #1403
Will look into it.

[2018-12-13 14:14] rmadaka opened #1404 "Brick-Mux: Different brick PID's for assigned for bricks from same node"
### Observed behavior
Brick-Multiplex enabled on volume
Killed brick PID from one of the node , then force started the distributed replica volume. Once bricks are up, observed two different brick PID's for two different different  subvols of killed brick node.

[code]
### Expected/desired behavior

With Brick multiplex enabled , same node brick pids should be same.

### Details on how to reproduce

[2018-12-13 14:35] rishubhjain commented on #1339
@rmadaka "no space available or all the devices are not registered" is received when all the disks are full or no disk has enough space to create a volume of the size mentioned in volume create.

Can you provide information about how many devices you have on each node and how much space is available on them?

[2018-12-13 14:37] rishubhjain commented on #1349
@ksandha The failure is because there is not enough space to create the volume. Can you provide the list of devices your nodes have and also the space available on them?

[2018-12-13 14:45] #999 closed

[2018-12-13 14:56] #1391 closed

[2018-12-13 15:16] aravindavk commented on #1398
PR #1386 is merged which contains the fix

[2018-12-13 15:18] rishubhjain commented on #1404
@vpandey-RH Please check.

[2018-12-13 15:47] atinmu commented on #1400
Duplicate of #1401

[2018-12-13 15:47] #1400 closed

[2018-12-13 15:49] atinmu commented on #1385
This should be an easy fix. Any volunteers?

[2018-12-13 15:51] atinmu commented on #1384
@Madhu-1

for i in {1..20}; do ./glustercli volume create test-vol$i replica 3 172.17.0.2:/tmp/b-$i 172.17.0.3:/tmp/b-$i 172.17.0.4:/tmp/b-$i --force; ./glustercli volume start test-vol$i; done

Run the above and you should be able to see for test-vol10 onwards the volume create requests would fail.

[2018-12-13 15:58] anmolsachan commented on #1058
@atinmu  The PR works for me. Sorry for the delayed response.
Closing the issue.

[2018-12-13 15:58] #1058 closed

[2018-12-13 17:15] rishubhjain commented on #1041
A basic restructuring was done by @prashanthpai. Pratik was going to work on providing a better documentation for GD2, I and @harigowtham will be helping him. @pratikvmulay Any update on the documentation?

[2018-12-13 17:23] Madhu-1 commented on #1384
@atinmu I was able to create and start volume from the above script with latest master code
[code]

[2018-12-13 17:31] vpandey-RH commented on #1404
@rmadaka  I think I know the reason why this is happening. But I will need a little more information from you. Can you paste the volume status output for the other two replica volumes ?

[2018-12-13 17:56] Madhu-1 commented on #1364
I1205 07:53:57.951826       1 event.go:221] Event(v1.ObjectReference{Kind:"PersistentVolumeClaim", Namespace:"default", Name:"gcs-app636", UID:"df1f7786-f862-11e8-bb41-525400770e06", APIVersion:"v1", ResourceVersion:"53238", FieldPath:""}): type: 'Warning' reason: 'ProvisioningFailed' failed to provision volume with StorageClass "glusterfs-csi": rpc error: code = Internal desc = failed to create v

[2018-12-13 18:09] rishubhjain commented on #1384
@atinmu I think that is because you are using shared space, I tried using a shared space and was able to reproduce the issue.
Try:
`for i in {1..20}; do ./glustercli volume create test-vol$i replica 3 172.17.0.2:/tmp/b-$i 172.17.0.3:/tmp2/b-$i 172.17.0.4:/tmp1/b-$i  --force --create-brick-dir; ./glustercli volume start test-vol$i; done`

When I provided different path the issue was resolved. Do le

[2018-12-13 18:11] rishubhjain commented on #1033
@atinmu I will pick this up once I am done with GCS/1.0-Blocker tasks

[2018-12-13 18:32] vpandey-RH opened #1405 "Demultiplexing fails when doing a force start"
Consider a scenario where multiplexing is on and all bricks are multiplexed into one brick.
Now, if brick-multiplex is set as off and a force start is performed instead of a stop and a start, then we will see that demultiplexing of all bricks will fail.

The main reason for this is that force start is meant to start only those bricks which are offline and not affect started bricks. Therefore, all

[2018-12-13 18:33] vpandey-RH commented on #1403
I think this issue is related to force start of volume. Since, force start doesn't kill bricks and  respawn  but only spawns killed ones, so in case when we set multiplex as on and then do a force start on volume the old glusterfsds are still running.

@atinmu  @aravindavk  Please have a look at [#1405](https://github.com/gluster/glusterd2/issues/1405)

[2018-12-14 07:21] rmadaka commented on #1404
[code]

[code]

[2018-12-14 09:06] vpandey-RH commented on #1404
In the current scenario, brickmux lacks in one handling one use case.
The case is - If a user is starting a volume and there are started volumes already present, so bmux will look for a targetbrick from these started volumes but if somehow there are no target bricks present, it will start independent brick processes for the bricks of current volume and not consider multiplexing bricks of current v

[2018-12-14 09:07] aravindavk commented on #1405
We should not demultiplex the bricks of running volume. This will affect the high availability of the volume. Brickmux enable/disable should be considered only while starting the new bricks.

Messaging we need to give when brickmux is enabled or disabled is "All new volumes will be brickmuxed, and already running volumes will not be affected unless it is restarted"

**Note**:

- We need to make su

[2018-12-14 10:45] Madhu-1 opened #1409 "functests are failing with latest glusterfs and glusterd2"
[code]
@aravindavk ^^

[2018-12-14 11:12] aravindavk commented on #1409
Can you check the output of `glusterfsd --print-xlatordir` and `ls $XLATORDIR/protocol/server*`

[2018-12-14 11:14] Madhu-1 commented on #1409
[code]

[2018-12-14 11:16] Madhu-1 commented on #1409
protocol dir contains only client.so file

[2018-12-14 11:17] aravindavk commented on #1409
then looks like some issue with glusterfs installation in that node

[2018-12-14 11:20] Madhu-1 commented on #1409
yes, closing this now, I forgot to do make install for glusterfs

[2018-12-14 11:20] #1409 closed

[2018-12-14 13:17] #1344 closed

[2018-12-14 17:02] vpandey-RH commented on #1403
@atinmu  But What if we turn it off and then we turn it on, we will have additional glusterfsds running in that case. And if we consider 1000 volumes for example we might end up with 1000 useless glusterfsds running.

[2018-12-14 17:10] atinmu commented on #1403
@vpandey-RH when you turn it off and stop the volumes do you see stale processes? And then when you turn it on and start all the volumes do you see more than one brick processes coming up? If any of these are true then there’s a bug but if none of them are then I believe the functionality is working as expected.

[2018-12-14 17:55] vpandey-RH commented on #1403
@atinmu  No I don't see any of the above two scenarios. But, my point is is lets say user does somehow do a force start after switching multiplex on and lets suppose he has a very large setup, he might have a huge number of stale processes on his hands which won't be removed ever until he decides to persoanlly kill each and every stale process himself.

[2018-12-15 06:03] #1401 closed

[2018-12-17 03:03] #1304 closed

[2018-12-17 04:10] atinmu commented on #1403
As I explained earlier, that's how brick multiplexing works and I don't find any benefits in changing the behaviour. In GCS, this config tuning should be preloaded as defaulted on ON and we shouldn't be expecting users to toggle this option. I'm of an opinion to close this issue.

[2018-12-17 04:12] atinmu commented on #1404
@rmadaka so did you enable brick mux tuning while some volume(s) were already running the bricks in non brick mux mode?

[2018-12-17 04:13] atinmu commented on #1405
I don't expect this to be a bug. all the bricks should be restarted when this tunable in set to on/off.

[2018-12-17 04:13] vpandey-RH commented on #1403
@atinmu  Sure. Then I think PR  [#1408](https://github.com/gluster/glusterd2/pull/1408) can be closed as well.

[2018-12-17 04:55] Madhu-1 commented on #733
Fixed in #1055

[2018-12-17 04:55] #733 closed

[2018-12-17 04:56] Madhu-1 commented on #735
@aravindavk is this also fixed in #1055

[2018-12-17 04:57] Madhu-1 commented on #1100
device info is removed from peer response

[2018-12-17 04:57] #1100 closed

[2018-12-17 05:05] aravindavk commented on #735
not yet

[2018-12-17 05:14] Madhu-1 opened #1414 "log error message for volume create validation in CLI"
### Observed behavior
currently, we are not logging the error message if there is a validation failure in glustercli
### Expected/desired behavior
in glustercli user should be able to see the detailed error message with `-v` logs.

### Details on how to reproduce (minimal and precise)

### Information about the environment:

- Glusterd2 version used (e.g. v4.1.0 or master): master
- Operating syst

[2018-12-17 05:35] Madhu-1 commented on #1398
reopening this issues, as we need to handle `MB` `mib` `GB` `Gib` formats in glustercli
[code]

[2018-12-17 05:40] rishubhjain commented on #1398
@Madhu-1 check https://github.com/gluster/glusterd2/blob/master/glustercli/cmd/utils.go#L58, I am not sure why it is not accepting MiB and MB

[2018-12-17 05:41] Madhu-1 commented on #1398
@rishubhjain PTAL #1416

[2018-12-17 09:01] Madhu-1 commented on #1364
as a chat with @ksandha seems like he is also hitting the same issue , so reopening the issue

[2018-12-17 09:07] aravindavk opened #1418 "[RFE] Support for Loopback devices as bricks"
Auto provisioning Volumes by default provisions the bricks using LVM. Alternatively Loop devices can be used to create Bricks.

## Register device(LVM vs Loop):

| LVM                                              | Loop                                             |
| ------------------------------------------------ | ------------------------------------------------ |
| Create PV

[2018-12-17 11:20] ksandha opened #1419 "Multiple GD2 pods restarts and crashes during pvc deletion"
1) Started 1000 pvc creation and created about 816 pvc and hit with issue https://github.com/gluster/glusterd2/issues/1364 .

2) started to delete the pvc's
3) after some time the kube1 (master node) went into not ready state. and crashes seen in dmesg
[code]
4)  Logged in to gd2 pod and checked the top command to see the resource consumption:-
[code]

5) The pods before deletions:-
[code]
6) Pods

[2018-12-17 11:41] atinmu commented on #1419
I have requested @harigowtham to run the profiler for PV delete to see if there're any obvious leaks in GD2 transaction. If that doesn't give us any clue we should further inspect it on the etcd side, a good test to run is by running an external etcd cluster to see if we're hitting this bottleneck or not.

[2018-12-17 12:33] #1398 closed

[2018-12-17 12:54] harigowtham commented on #1419
I checked it on a stand alone GD2 setup with external etcd by creating 15 volumes and deleting it later.

while creating, the memory kept growing up to a certain extent which is expected. And after deletion, the memory consumption did get back to normal.

I don't see any unusual memory consumption during delete and also i don't see any left over volumes in this process.

[2018-12-17 15:17] rishubhjain commented on #1090
Similar issue: https://github.com/gluster/glusterd2/issues/1289

[2018-12-18 04:38] #1414 closed

[2018-12-18 11:08] rishubhjain opened #1422 "Remove peer should fail if devices on that peer exists."
Just like bricks, we should check for devices before removing peer.

[2018-12-19 02:51] #1389 closed

[2018-12-19 07:41] rishubhjain commented on #1332
@Akarsha-rai Thanks for reporting this, this issue is because every time we add a peer to a cluster we assign a new PeerID and all the information like devices or volumes related to the old peerID is lost as we do not copy it to the new peer Info.
We need to change the workflow a bit, instead of assigning new peerID we can use the same peerID or if there is a conflict then we can assign a new peer

[2018-12-19 08:36] rishubhjain opened #1425 "Extra etcd memory consumption"
During peer add, new peerID is assigned to the added peer, but the old peer ID and peer info details remain in external etcd which leads to extra memory consumption.

[2018-12-19 08:38] atinmu commented on #1425
What do you mean by "old" peer id here? Could you elaborate?

[2018-12-19 09:05] rishubhjain commented on #1425
Considering a scenario where there is a 2 node cluster(using external etcd) and I have a 3rd node(using external etcd) that I want to add to the cluster. Since GD2 is running on the 3rd cluster it has a peer ID. Once I add the 3rd node to the cluster it will get a new PeerID, but the old peer ID of the 3rd node is not removed from external etcd, which is a waste of etcd space.

[2018-12-19 12:57] Shrivaibavi opened #1427 "Bricks are not running and volume stop failed"
### Observed behavior

[code]

### Expected/desired behavior

The volume stop should be successful
### Details on how to reproduce (minimal and precise)

### Information about the environment:

- Glusterd2 version used (e.g. v4.1.0 or master):
glusterd version: v6.0-dev.88.gitea22407
git SHA: ea22407
go version: go1.11.2
go OS/arch: linux/amd64

- Operating system used:
- Glusterd2 compiled from s

[2018-12-19 13:34] rishubhjain opened #1428 "GD2 smoke test failures"
Reference https://build.gluster.org/job/gd2-smoke/3261/console

Failed to spawn glusterd2 in BrickMux e2e tests

Unable to reproduce this scenario locally.

[2018-12-19 13:39] vpandey-RH commented on #1428
@rishubhjain This happens sometimes. But, I have seen this error only during CI builds, Its very rare in my local as well. But retrigger the build and it will pass.

[2018-12-19 13:47] rishubhjain commented on #1428
@vpandey-RH Yes, but retriggering should not be a solution to the problem, trying to find out the real cause.

[2018-12-19 13:59] rishubhjain commented on #1427
Can you paste brick logs of the time when you started volume "xyz" ?

[2018-12-19 14:01] Shrivaibavi commented on #1427
@rishubhjain The logs are quite big. you can use my machine instead if you want to debug.
10.70.35.30

[2018-12-19 14:23] aravindavk commented on #1428
I suspect cleanup issue for connection refused errors. May be last tests didn't kill all running glusterd2 or something like that. Create a PR to Dump all glusterd2.log contents to stdout by adding logic in https://github.com/gluster/glusterd2/blob/master/extras/centos-ci.sh#L52  (Trigger retests to uncover the glusterd2 start issue)

[2018-12-19 14:42] rishubhjain commented on #1428
@aravindavk In brickmux e2e tests, the gd2 service is getting killed after setting up the cluster and then respawned, I will send the PR, it will give us a better insight.

[2018-12-20 03:38] aravindavk commented on #1427
Two fix required.

1) glustercli - Blindly cathing "Connection Refused" error and displaying as glusterd2 is probably down. https://github.com/gluster/glusterd2/blob/master/glustercli/cmd/common.go#L43
2) In all Brick ops, handle connection refused error and act accordingly. For example, while stopping the brick glusterd2 tries to connect and send brickop to stop, Ignore if connection refused erro

[2018-12-20 04:22] nigelbabu opened #1430 "kubectl logs on glusterd2 container is empty"
### Observed behavior
Running kubectl logs on a glusterd2 container gives no output. This is a bit useless as the instinct for most users would be to look there for logs.

### Expected/desired behavior
Show logs or at least point to how to get logs. In this instance, at the very least, please print out a line that you need to exec into the container and look at /var/logs/glusterfs and /var/log/glu

[2018-12-20 09:28] #1430 closed, assigned to nobody

[2018-12-20 11:59] ksandha commented on #1349
I don't think so i have less space . As creating 1 gb wouldn't take space. I have a plenty of space there in my machine. I have the setup in the same state rhsqa-virt05.lab.eng.blr.redhat.com:/root/GCS-karan/deploy . I have added the peer kube3 and tried creating a pvc and its in pending state.

[2018-12-20 12:04] sankarshanmukhopadhyay commented on #1349
Providing the detail that @rishubhjain asks might be a good thing to have on this issue.

[2018-12-20 12:17] ksandha commented on #1349
[code]

[2018-12-20 13:44] Shrivaibavi opened #1431 "When Peer probed using API's, the online parameter shows "False""
### Observed behavior
[code]

### Expected/desired behavior

As the peer probe is successful, Can we expect the online parameter to show as True ?

### Details on how to reproduce (minimal and precise)

### Information about the environment:

- Glusterd2 version used (e.g. v4.1.0 or master):
- Operating system used:
- Glusterd2 compiled from sources, as a package (rpm/deb), or container:
- Using E

[2018-12-20 19:39] JohnStrunk commented on #1418
For "loop", do we have an opinion on the device being given to gd2? Should it be a block device or a mounted file system? (I ask because there's no mention of formatting when the device is registered)

[2018-12-21 05:31] aravindavk commented on #1418
I was thinking directory path in mounted file system. Do we need to manage the bricks hosting Volume?

[2018-12-21 13:12] JohnStrunk commented on #1418
We'll already have sufficient permissions, so we could format and mount the lower fs ourselves. It also provides us the opportunity to add vdo in the future.

We'd need to examine whether there are reliability implications though since we would be responsible for the unmount at shutdown.

I don't know which way we should go with this. Probably start with the file system just because there are fewe

[2018-12-24 09:15] #1431 closed

[2018-12-24 11:07] vpandey-RH commented on #1404
@rmadaka  Can you recheck this scenario ? It should work fine now.

[2018-12-24 11:41] ksandha opened #1435 "default options exposed in volume info"
Performance and other volume options exposed in volume info in gd2

### Observed behavior
[code]

### Expected/desired behavior
Default options shouldn't be exposed

### Details on how to reproduce (minimal and precise)
create a PVC without brick mux enabled.

### Information about the environment:

- Glusterd2 version used (e.g. v4.1.0 or master):
[code]

- Operating system used: Centos 7.4
- Glu

[2018-12-26 12:50] PrasadDesala opened #1436 "Peer add failed when the removed peer is added back to the trusted pool"
Peer add failed when the removed peer is added back to the trusted pool.

### Observed behavior

[root@gluster-kube1-0 /]# glustercli peer add b6d7a82f-2a8d-4ce6-9d51-a404aec74997
Peer add failed

Response headers:
X-Gluster-Cluster-Id: 796a0a22-29c9-48b4-b26a-0153b8850a58
X-Gluster-Peer-Id: d0576643-b50e-4a95-831b-1222aa04c5dd
X-Request-Id: a2af2579-d305-4c50-8eef-3ae7c5a40e99

Response body:
fai

[2018-12-26 13:06] oshankkumar commented on #1436
Can you try adding peer using host address of peer.

[2018-12-26 13:15] PrasadDesala commented on #1436
That worked. I can see both hostname and IP in PEER ADDRESSES for that node.

+--------------------------------------+-----------------+-------------------------------------+-------------------------------------+--------+------+
|                  ID                  |      NAME       |          CLIENT ADDRESSES           |           PEER ADDRESSES            | ONLINE | PID  |
+-------------------

[2018-12-26 13:15] rishubhjain commented on #1436
Glusterd2 cannot probe peer using peerID

[2018-12-26 13:16] rishubhjain commented on #1436
Can you close the issue?

[2018-12-26 13:19] Madhu-1 commented on #1436
Peer add always work with IP address. You wont be able to add the peer with
its ID. once you delete the peer from the trusted storage pool its
associated information will be deleted from the ETCD.

On Wed, Dec 26, 2018, 6:20 PM Prasad Desala <notifications@github.com wrote:

[2018-12-26 13:31] PrasadDesala commented on #1436
Once the peer is detached from the node, a new ID is being generated for the node. Is there a possibility to use that ID for the new peer request?

If it only works with IP address, can we make the failure message a bit more clear; the current message is showing as "Peer add failed" with some response body. As we are doing the peer remove with node ID the chances are more that the user will try pe

[2018-12-26 14:06] PrasadDesala opened #1437 "Peer add to the node as a peer succeeded and the ONLINE status for the newly added shows as "no""
Peer add to the node as a peer succeeded and the ONLINE status for the newly added shows as "no".

### Observed behavior

The below peer add IP is same as the node IP.

[root@gluster-kube2-0 /]# glustercli peer add 10.233.65.5
Peer add successful
+--------------------------------------+-----------------+-------------------------------------+-------------------------------------+
|

[2018-12-26 14:16] oshankkumar commented on #1436
[code]
as I can see in the gd2 logs, it is very clear that it is trying to dial some tcp address, so a user needs to pass some IP/ hostname/fqdn address in agrs.
@Madhu-1 can you please suggest, do we need some more error logs here.

[2018-12-26 14:16] rishubhjain commented on #1437
@aravindavk This might be possible because of https://github.com/gluster/glusterd2/blob/master/glusterd2/commands/peers/addpeer.go#L58, this node might be having multiple addresses.

@PrasadDesala Can you print the output of `glustercli peer status` before adding the node?
and can you paste the output of `ip addr show`?

[2018-12-26 14:17] #1303 closed

[2018-12-26 14:19] rishubhjain commented on #1436
I think what @PrasadDesala wants is a clearer response, something like ` peer add failed : please use hostname or IP instead of peer ID` . Logs are pretty clear but user might not refer to logs.

[2018-12-26 14:35] PrasadDesala commented on #1437
root@gluster-kube2-0 /]# glustercli peer status
+--------------------------------------+-----------------+-------------------------------------+-------------------------------------+--------+-----+
|                  ID                  |      NAME       |          CLIENT ADDRESSES           |           PEER ADDRESSES            | ONLINE | PID |
+--------------------------------------+------------

[2018-12-27 09:22] PrasadDesala opened #1440 "Device info is not listed on the nodes after peer detach"
### Observed behavior

Device info is not listed on the nodes after peer detach. And when tried to add the device it is throwing below error.

[root@gluster-kube2-0 /]# glustercli device add e0275243-b512-4df0-8588-075ebd65e3a5 /dev/vdc
Device add failed

Response headers:
X-Gluster-Cluster-Id: f1291712-add8-4741-936e-b3234d54cd5c
X-Gluster-Peer-Id: e0275243-b512-4df0-8588-075ebd65e3a5
X-Request-I

[2018-12-27 09:56] PrasadDesala opened #1441 "glustercli peer list and peer status displays same output"
### Observed behavior

glustercli peer list and peer status displays same output.

[root@gluster-kube1-0 /]# glustercli peer list
+--------------------------------------+-----------------+-------------------------------------+-------------------------------------+--------+-----+
|                  ID                  |      NAME       |          CLIENT ADDRESSES           |           PEER ADDRESSE

[2018-12-27 10:03] atinmu commented on #1441
@PrasadDesala So is the expectation that the peer list to just display the list of peers (UUID & Name) and nothing else?

[2018-12-27 12:20] atinmu commented on #1384
I tried this one more time with a clean /tmp and things worked. Sorry for the noise.

[2018-12-27 12:20] #1384 closed

[2018-12-27 12:40] PrasadDesala commented on #1437
@rishubhjain As discussed I have reproduce this issue again. Once we end up in this situation we will not be able to remove that stale peer. Peer remove is failing with response body: peer is not alive.
[root@gluster-kube3-0 /]# glustercli peer status
+--------------------------------------+-----------------+-------------------------------------+-------------------------------------+--------+-----

[2018-12-27 12:43] PrasadDesala commented on #1437
This issue is not always reproducible and seems to be some race.

[2018-12-27 13:37] Shrivaibavi opened #1442 "Commands to get healed entries & entries on which heal failed information for the volumes in gd2"
### Observed behavior

The command to get healed entries information for the volume by executing:
        'gluster volume heal <volname> info healed'

The command to get entries on which heal failed for the volume by executing:
        'gluster volume heal <volname> info heal-failed'

I see these commands in gd1 whereas missing in gd2.

### Expected/desired behavior

### Details on how to reproduc

[2018-12-27 13:38] Shrivaibavi commented on #1442
@vpandey-RH @aravindavk @atinmu

[2018-12-27 14:05] rmadaka opened #1443 "For every two volumes brick pids getting changed after brick mux enabled on gcs setup"
### Observed behavior

[code]

### Expected/desired behavior

After brick-mux enabled , for all volumes brick pid should be same.

### Details on how to reproduce (minimal and precise)
-> On Fresh gcs setup , Brick-mux enabled
-> Started creating PVCs.
-> Then logged into gd2 pod and observed volume status behaviour..
-> For every two volumes brick pids are getting changed
-> ```[root@gluster-kube

[2018-12-27 16:18] vpandey-RH commented on #1443
@rmadaka  Can I get output of volume info for all these volumes ?

[2018-12-28 05:06] atinmu commented on #1404
Closing this.

[2018-12-28 05:06] #1404 closed

[2018-12-28 10:06] PrasadDesala opened #1444 ""glustercli volume get" help needs to be more clear"
### Observed behavior

[root@gluster-kube1-0 /]# glustercli volume get -h
Get Gluster Volume Options

Usage:
  glustercli volume get [flags]

In the Usage it is not showing what exact flags should be used. something similar to below would help for a better understanding to the user.

Usage:
volume get <VOLNAME|all> <key|all>

### Expected/desired behavior

"glustercli volume get" help needs to be

[2018-12-28 10:19] PrasadDesala opened #1445 "Modifed volume set options are not reflecting in "glustercli volume get <volname> all""
I have changed the default value of distribute.min-free-disk from 10% to 60%. The new values are reflected in the glustercli volume info output but the changes are not reflected in the output of "glustercli volume get <volname> all".

Volume Name: pvc-d16a6e66-0a70-11e9-8594-525400e31a9f
Type: Replicate
Volume ID: 47c213ce-24ff-4fd6-bac2-ebbf5cc69dce
State: Started
Capacity: 1.0 GiB
Transport-type

[2018-12-28 18:31] rishubhjain commented on #1445
Can you provide command that you used to modify the option? And it would be really helpful if you could provide output you get after you run the modifying command and the logs.

[2018-12-29 08:14] aravindavk commented on #1445
This line needs to be modified

https://github.com/gluster/glusterd2/blob/master/glusterd2/commands/volumes/volume-options-get.go#L81

Add xl.Category + “/“ as prefix

[2018-12-31 03:00] atinmu commented on #1435
@aravindavk can we please close this considering this is an expected behavior?

[2019-01-02 06:41] vpandey-RH commented on #1442
@Shrivaibavi  I have a few Questions :

1- Do we need to provide volume name as well in the above two commands ?
2- I tried to run the command in GD1 setup but the output showed that the command doesn't exist. Do you have updated GD1 ?

[2019-01-02 07:39] PrasadDesala opened #1448 "sos reports should collect all necessary gd2 logs"
### Observed behavior

sos reports is not collecting glusterd2, bricks, glustershd logs.

### Expected/desired behavior

sos reports should collect all necessary gd2 logs required for debugging.

### Details on how to reproduce (minimal and precise)

1) Deploy a 3 node gcs system using vagrant.
2) Run sosreport

### Information about the environment:

- Glusterd2 version used (e.g. v4.1.0 or maste

[2019-01-02 09:52] PrasadDesala opened #1449 "stale sockets fds under brick process"
### Observed behavior

Seeing stale sockets fds under brick process with brick-mux enabled. If I restart the glusterd2 service then the sockets count are getting increased with a count of number of volumes.

Right now on my system I have 100 pvc and I am seeing 419 brick sockets on a node.
[root@gluster-kube1-0 11720]# ll /proc/$(pgrep glusterfsd)/fd | wc -l
419

### Expected/desired behavior

Sta

[2019-01-02 10:05] PrasadDesala opened #1450 "Continuous "0-epoll: Failed to dispatch handler" errors in brick logs"
### Observed behavior

Brick logs are getting spammed with continuous "0-epoll: Failed to dispatch handler" error.

[2019-01-02 09:58:49.149423] E [MSGID: 101191] [event-epoll.c:759:event_dispatch_epoll_worker] 0-epoll: Failed to dispatch handler

The above events are continuously getting generated in the brick logs. On a brick log till now it has logged "4553"  times and is getting increased.

##

[2019-01-02 10:20] PrasadDesala commented on #1450
[var-run-glusterd2-bricks-pvc-381a5faf-0e6e-11e9-af0b-525400f94cb8-subvol1-brick3-brick.log.gz](https://github.com/gluster/glusterd2/files/2720444/var-run-glusterd2-bricks-pvc-381a5faf-0e6e-11e9-af0b-525400f94cb8-subvol1-brick3-brick.log.gz)
[var-run-glusterd2-bricks-pvc-381a5faf-0e6e-11e9-af0b-525400f94cb8-subvol1-brick2-brick.log.gz](https://github.com/gluster/glusterd2/files/2720445/var-run-glu

[2019-01-02 10:21] PrasadDesala commented on #1449
[var-run-glusterd2-bricks-pvc-381a5faf-0e6e-11e9-af0b-525400f94cb8-subvol1-brick3-brick.log.gz](https://github.com/gluster/glusterd2/files/2720451/var-run-glusterd2-bricks-pvc-381a5faf-0e6e-11e9-af0b-525400f94cb8-subvol1-brick3-brick.log.gz)
[var-run-glusterd2-bricks-pvc-381a5faf-0e6e-11e9-af0b-525400f94cb8-subvol1-brick2-brick.log.gz](https://github.com/gluster/glusterd2/files/2720452/var-run-glu

[2019-01-02 10:56] PrasadDesala opened #1451 "Old brick process is still running after volume reset -> stop -> start"
### Observed behavior

On a brick-mux enabled setup, old brick process is still running after volume reset -> stop -> start.

### Expected/desired behavior

Old brick process should not be running.

### Details on how to reproduce (minimal and precise)

1) Create a 3 node gcs system using valgrind.
2) With brick-mux enabled, create 100 pvc.
3) Pick a volume and change one volume option so that bri

[2019-01-02 11:17] PrasadDesala commented on #1451
[root@gluster-kube1-0 /]# ps -ef | grep -i glusterfsd
root      9425 11692  0 11:16 pts/4    00:00:00 grep --color=auto -i glusterfsd
root      9469     1  0 10:36 ?        00:00:00 /usr/sbin/glusterfsd --volfile-server gluster-kube1-0.glusterd2.gcs --volfile-server-port 24007 --volfile-id pvc-520682df-0e6e-11e9-af0b-525400f94cb8.4e752b45-aa0a-4784-83f7-6b487e886b4d.var-run-glusterd2-bricks-pvc-52

[2019-01-02 11:24] atinmu commented on #1451
@PrasadDesala old brick process is serving the other 99 PVCs, isn't it? I fail to understand why is this a bug?

[2019-01-02 11:48] PrasadDesala opened #1452 "volume info shows the volume state as started but volume status shows it as offline"
### Observed behavior

volume info shows the volume as started but volume status shows it as offline.

[root@gluster-kube1-0 bricks]# glustercli volume status pvc-46967f93-0e6e-11e9-af0b-525400f94cb8
Volume : pvc-46967f93-0e6e-11e9-af0b-525400f94cb8
+--------------------------------------+-------------------------------+------------------------------------------------------------------------------

[2019-01-02 12:38] vpandey-RH commented on #1452
@PrasadDesala  I will need more information than just volume status as there could be numerous reasons as to why the Port shows as 0. One of them could be that the bricks need some time to  Sign In after glusterfsd has been spawned. Can you get me the output of -
''' ps aux | grep gluster ''' after you start the PVCs.

Also, can you tell me if the volume stop and start requests are sequential. I m

[2019-01-02 12:59] PrasadDesala commented on #1452
[root@gluster-kube1-0 bricks]# ps aux | grep glusterfsd
root      8113  0.0  0.0   9088   672 pts/2    S+   12:54   0:00 grep --color=auto glusterfsd
root     21733  8.5  2.6 13825056 870656 ?     Ssl  11:34   6:52 /usr/sbin/glusterfsd --volfile-server gluster-kube1-0.glusterd2.gcs --volfile-server-port 24007 --volfile-id pvc-381a5faf-0e6e-11e9-af0b-525400f94cb8.4e752b45-aa0a-4784-83f7-6b487e886b4

[2019-01-02 13:13] PrasadDesala commented on #1451
Initially brick process p1 is serving all the volumes. Once I changed the volume option to a volume (lets say PVC100) and after volume stop/start of that volume a new brick process p2 is serving it. Now, p1 is serving 99 PVCs and p2 is serving PVC100 which is working as expected.

Now I have reset PVC100 and stop/start the volume. I see p2 process is still running, there is no need for this proces

[2019-01-02 13:19] atinmu commented on #1451
Hmm, I think this process was registered in the daemon which is why it still comes up as separate process. @vpandey-RH is there a easy way to handle this scenario?

In any case, please note in GCS environment volume reset isn't an operation which we'd recommend users to perform. So the priority of this issue should remain as low.

[2019-01-02 14:52] atinmu commented on #1419
This should be fixed through https://github.com/gluster/glusterd2/pull/1453

[2019-01-02 14:52] #1419 closed

[2019-01-03 03:24] atinmu opened #1456 "Mechanism to suppress repetitive logs"
As gluster clients have the logic of attempting to reconnect to the server after every 3 seconds, there's a critical need to have a wrapper log API over logrus to ensure repetitive logs are suppressed and are being reported with a particular time interval. We have seen cases where if some of the bricks are down, one of the client like glustershd tries to keep connecting to the brick asking for the

[2019-01-03 06:38] #1436 closed

[2019-01-03 10:00] PrasadDesala opened #1457 "Bricks are failing to connect to the volume post gluster node reboot"
Bricks are failing to connect to the volume post gluster node reboot.

### Observed behavior

On a system having 102 PVCs with brick-mux enabled I rebooted gluster-kube1-0 pod. After sometime the gluster pod is back online and is connected to the trusted pool but bricks on that gluster node are failing to connect to the volume.

[root@gluster-kube1-0 /]# ps -ef | grep -i glusterfsd
root     30332

[2019-01-03 10:10] PrasadDesala commented on #1457
[new_statedump_kube-1.txt](https://github.com/gluster/glusterd2/files/2723315/new_statedump_kube-1.txt)
[gluster-kube3-glusterd2.log.gz](https://github.com/gluster/glusterd2/files/2723317/gluster-kube3-glusterd2.log.gz)
[gluster-kube2-glusterd2.log.gz](https://github.com/gluster/glusterd2/files/2723318/gluster-kube2-glusterd2.log.gz)
[gluster-kube1-glusterd2.log.gz](https://github.com/gluster/glus

[2019-01-03 10:33] vpandey-RH commented on #1457
IS there any change in number of bricks that were previously showing port as 0 ?

[2019-01-03 10:41] vpandey-RH commented on #1457
@PrasadDesala  Seems like there is no glusterfsd running on the node that was rebooted. Can you check it once  ?

[2019-01-03 10:46] PrasadDesala commented on #1457
Yes it seems brick process is not running after gluster node reboot. So the brick process is showing as '0' for that node.

Below is the output snip of volume status for a volume;
Before node reboot:
================
[root@gluster-kube1-0 /]# glustercli volume status
Volume : pvc-30622ade-0f26-11e9-aaf6-525400933534
+--------------------------------------+-------------------------------+----------

[2019-01-03 11:52] PrasadDesala opened #1458 "pvc request failed to create volume with error "timeout in synchronizing txn""
**Describe the bug**
pvc creation is getting stuck at pending state when the requested size is more than the actual device size.
The actual device size my machine is having is 10Gb but I sent a request to create a PVC of size 50GB. PVC create command succeed but the status is being shown as Pending for a long time.

[vagrant@kube1 ~]$ kubectl -n gcs describe pvc dbench123
Name:          dbench123

[2019-01-03 13:31] Madhu-1 commented on #1458
@PrasadDesala please attach glusterd2 logs

[2019-01-03 13:32] Madhu-1 commented on #1458
@oshankkumar PTAL

[2019-01-03 13:44] PrasadDesala commented on #1458
[kube-3-glusterd2.log.gz](https://github.com/gluster/glusterd2/files/2723893/kube-3-glusterd2.log.gz)
[kube-2-glusterd2.log.gz](https://github.com/gluster/glusterd2/files/2723894/kube-2-glusterd2.log.gz)
[kube-1-glusterd2.log.gz](https://github.com/gluster/glusterd2/files/2723895/kube-1-glusterd2.log.gz)

[2019-01-03 15:52] atinmu opened #1459 "glustershd needs to be restarted for volume start/stop operations"
Based on code reading, it was found that glustershd wasn't restarted on volume start/stop operations which was resulting shd process to not having the latest volfile and it was continuing to attempt to connect to the stale bricks and GD2 logs were flooding with

time="2019-01-03 15:43:09.300668" level=info msg="client disconnected" address="172.17.0.4:996" server=sunrpc source="[server.go:109:sunr

[2019-01-04 04:18] PrasadDesala commented on #1458
@Madhu-1 @rishubhjain
1) When the device size is 10GB and requested PVC size is 50GB it returned error,
error: code = Internal desc = failed to create volume: no space available or all the devices are not registered
2) With the above pvc is pending state, when we requested PVC size of 1GB it returned error,
error: code = Internal desc = failed to create volume: timeout in synchronizing txn

The er

[2019-01-04 21:16] JohnStrunk commented on #1458
Kubernetes will typically let the resource pend indefinitely.

[2019-01-07 08:23] shtripat opened #1465 "Healinfo for disperse volumes errors out"
### Observed behavior
In case of dispersed volumes heal info endpoint errors out saying `heal info operation failed`

### Expected/desired behavior
The dispersed volumes show heal info (only split brain heal info is not applicable)

### Details on how to reproduce (minimal and precise)
1. Setup 3 node gluster cluster
2. Install glusterd2 on the storage nodes and peer probe the nodes
3. Create a di

[2019-01-07 09:37] Akarsha-rai opened #1466 "Replicate volume created on single node without force"
### Observed behavior
Replicate volume created on single node without force
Change in gd1 & gd2 behaviour

### Expected/desired behavior
Replicate volume created on single node should throw warning message saying to use force flag

### Details on how to reproduce (minimal and precise)
Create a replica volume on single node

### Information about the environment:

- Glusterd2 version used (e.g. v4.

[2019-01-07 13:24] PrasadDesala opened #1467 "glusterfs memory increased from 74MB to 6.8G while creating 200 PVCs"
glusterfs memory increased from 74MB to 6.8G while creating 200 PVCs.

Before:
  PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
 1150 root      20   0 3637200  74560   3320 S   0.0  0.2   0:01.52 glusterfs

After 200 PVCs are created:
  PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
 1150 root      20   0  101.0g   6.8g   3388 S  94.1 21.6  17:

[2019-01-07 13:39] PrasadDesala commented on #1467
Attaching glusterd2 dump, glusterd2 logs and glusterfs process state dump.

[kube3-glusterd2.log.gz](https://github.com/gluster/glusterd2/files/2732902/kube3-glusterd2.log.gz)
[kube2-glusterd2.log.gz](https://github.com/gluster/glusterd2/files/2732903/kube2-glusterd2.log.gz)
[kube1-glusterd2.log.gz](https://github.com/gluster/glusterd2/files/2732904/kube1-glusterd2.log.gz)
[glusterdump.1150.dump.1

[2019-01-07 13:45] atinmu commented on #1467
@PrasadDesala I am assuming you meant glustershd is consuming high memory? Also did you enable brick multiplexing in the setup?

[2019-01-07 13:49] atinmu commented on #1465
@shtripat Have you tried this with a higher time out value (--timeout parameter) ? heal info command especially with disperse volume where total number of bricks can be on the higher side might time out by 30 secs.

[2019-01-08 04:04] shtripat commented on #1465
@atinmu I tried with bigger timeout but no help.
There is another finding, if I create a pure disperse volume the heal-info works in gd2 but for a distribute-disperse (which I started testing with initially) it gives the error.

[2019-01-08 05:44] PrasadDesala commented on #1467
I think it is glustershd but I am not sure why glustershd is consuming memory as I am just creating PVCs so no healing should take place. I see the process name as glusterfs.

Brick-mux is not enabled on the setup.

[2019-01-08 06:11] aravindavk commented on #1467
Yes, this is self heal process. Can be confirmed by checking `cat /proc/<pid>/cmdline`

[2019-01-08 06:41] atinmu commented on #1467
@itisravi @karthik-us ^^ might be worth to check the same with GD1 based deployment. This isn't specific to GD2 problem as such.

[2019-01-08 11:17] amarts commented on #1467
I suspect this is due to https://review.gluster.org/#/c/glusterfs/+/21990/ also. Lets run a round of tests tomorrow as it is merged today.

[2019-01-08 13:04] aravindavk commented on #1466
Duplicate of https://github.com/gluster/glusterd2/issues/1184

[2019-01-08 13:04] #1466 closed

[2019-01-08 14:58] atinmu opened #1468 "Fix spurious socket connect failure issue in brick multiplexing stop code path"
While sending parallel volume requests some of the volume stop operations were failing with the brick socket file reporting EOF.

[2019-01-08 15:15] atinmu opened #1470 "stale brick process when volume stop operations are done in parallel"
During stopBricks () , if we happen to send the volume stop requests in parallel, GD2 might fail to determine the last brick in the proc entry because -
Given it tries to match if for the given path if portmapper has only one entry, the sign out even might be processed later and even though it's the last brick to be detached function IsLastBrickInProc () will return > 1.

We should be moving towar

[2019-01-08 16:44] vpandey-RH commented on #1470
@atinmu I am having trouble understanding how a list might help. The portmapper we use currently is kind of an in-memory multi list itself.

[2019-01-09 07:16] kshlm opened #1471 "Need to avoid setting 'all-bricks-in-cluster' in transaction context for volumer {create,expand,replace-brick}"
Volume create, expand and replace-brick transactions perform brick validation to ensure that the new bricks are not alredy existing bricks or part of already existing bricks. To do this, these transactions set a list of all bricks in the transaction context.

Setting a list of all bricks into context becomes an expensive operation when working with a large number of volumes (~1000). This has sever

[2019-01-09 07:34] Madhu-1 commented on #1471
@atinmu we can use ETCD pagination for querying

[2019-01-09 07:46] kshlm commented on #1471
I'm not proposing that we remove brick validation completely. The validation would be skipped when the request is detected to be a smart vol request. A normal request would include the validation step.

The brick paths are generated by the bricksplanner should be unique based on the the volume name. There may be issues with parallel requests to the same volume, but the locking should help avoid th

[2019-01-09 07:48] aravindavk commented on #1471
All generated brick path will contain volume name so collision will not happen. But collision can happen if manually provisioned volumes are allowed.

I think etcd response size is not the problem. We should make bricks validation as single node transaction step and avoid setting the response again in context for next transaction.

[2019-01-09 07:57] vpandey-RH commented on #1470
@atinmu I have one idea which doesn't include adding a whole new data-structure. Instead of just having a mapping of port->brickpath->pid, can we add some sort of current state like pending-delete. So as soon as I send a detach request I can update the port mapper to change the state of brickpath to pending-delete and decrease the number of active bricks on a port(or when calculating IsLastBrickIn

[2019-01-09 08:34] aravindavk commented on #1470
How about removing brickpath from portmap registry, signout coming after this can be safely discarded. Port collision will not happen since glusterd2 is not choosing the port.

[2019-01-09 08:39] vpandey-RH commented on #1470
@aravindavk Yes, I totally agree on this. We just need to think if this could have any negative effect in any use case, once we scale up.

[2019-01-09 08:58] aravindavk commented on #1470
only problem I could see is when glusterd2 restarts, this registry is reset. So if a Volume delete comes after the glusterd2 restart and before all bricks signed in, then the check will say that is the last brick and glusterd2 may terminate the process even though other bricks exists in that process.

[2019-01-09 09:01] vpandey-RH commented on #1470
That is one issue. Unless we handle signin in GD2 as well.

[2019-01-09 16:41] atinmu commented on #1364
We haven't seen this in our multiple iterations of recent scale testing environment.

[2019-01-09 16:42] atinmu commented on #1387
Will be Fixed through https://github.com/gluster/glusterd2/pull/1455

[2019-01-10 09:37] Shrivaibavi opened #1474 "Inconsistency in glustershd process"
### Observed behavior
1. Self-heal is running when there are no volumes/ volume is in stopped state
[code]

2. Self-heal is not running on one peer even after explicity triggering heal(created & started the new volume)
[code]

Writing down all the tests and their following command outputs
[code]
### Expected/desired behavior

### Details on how to reproduce (minimal and precise)

### Information a

[2019-01-10 09:40] ksandha commented on #1364
@atinmu I will again try this scenario tonight and update you by tomorrows scrum. Last time when we tried to scale we were able to scale upto 716 PVC.

[2019-01-10 10:19] Shrivaibavi opened #1475 "Glusterd2--version displays some logs along with it"
### Observed behavior

[code]
### Expected/desired behavior

### Details on how to reproduce (minimal and precise)

### Information about the environment:

- Glusterd2 version used (e.g. v4.1.0 or master):
- Operating system used:
- Glusterd2 compiled from sources, as a package (rpm/deb), or container:
- Using External ETCD: (yes/no, if yes ETCD version):
- If container, which container image:
- U

[2019-01-10 15:22] atinmu opened #1476 "Support RWO with Loopback devices"
This feature request is for the capability of RWO PV claims based out of loopback devices for which loopback to have API exposed through GD2 to have block hosting volume created.

[2019-01-11 03:18] atinmu commented on #1387
#1455 is merged. Closing it.

[2019-01-11 03:18] #1387 closed

[2019-01-11 07:58] ksandha commented on #1364
Created the parallel PVC creation on non brick mux environment. Below is the state of cluster once the pvc reached 548
[code]

[2019-01-11 08:00] rishubhjain commented on #1364
Can you provide the glusterd2 logs as well as etcd pod logs

[2019-01-11 08:09] ksandha commented on #1364
@rishubhjain can you please login to rhsqa-virt05.lab.eng.blr.redhat.com (root/GCS-karan/deploy)

I see the glusterd2 logs are 78MB in size which I wont be able to attach it here.

[2019-01-14 04:40] atinmu opened #1479 "parallel volume deletion requests fail with device or resource busy for some of the PVs"
On a GCS deployment (with brick multiplexing enabled), when PV deletion requests are sent on parallel, some of volume delete requests fail with device or resource busy error which means the lv unmount has failed as the underlying brick might be holding some reference. However the surprising fact was ls on the brick path resulted in 'no such file or directory' error.

Unfortunately I couldn't persi

[2019-01-14 04:42] atinmu commented on #1471
https://github.com/gluster/glusterd2/pull/1478 fixes it.

[2019-01-15 22:22] gpavinteractiv commented on #1450
I see something similar with a newly provisioned ovirt 4.3 cluster.
Lots of :
[code]

[2019-01-16 08:29] #1322 closed, assigned to vpandey-RH

[2019-01-16 08:30] atinmu commented on #1026
This is now fixed in GCS with the etcd tunings.

[2019-01-16 08:30] #1026 closed

[2019-01-16 08:36] atinmu commented on #1339
Haven't seen this in the latest deployments during scale testing. Please retest and reopen if the issue persists with latest GCS master or 0.5 release.

[2019-01-16 08:36] #1339 closed

[2019-01-16 11:09] atinmu commented on #1471
Fixed through #1478

[2019-01-16 11:09] #1471 closed

[2019-01-16 11:13] atinmu commented on #1458
timeout in synchronizing transaction is fixed through https://github.com/gluster/glusterd2/pull/1462

[2019-01-16 11:13] #1458 closed

[2019-01-16 11:15] atinmu commented on #1467
On the latest master with multiple iterations we don't see memory consumption of glustershd process anything near to what has been reported and based on that I'm closing this for now. If we happen to hit this again, please feel free to reopen.

[2019-01-16 11:15] #1467 closed

[2019-01-16 11:19] atinmu commented on #1452
@vpandey-RH did we figure out what's the cause of this state?

[2019-01-16 11:23] atinmu commented on #1450
What gluster version are you using? Are you using GD2 in any case? If not then it's unrelated.

@PrasadDesala Are you still seeing this happening? I tried to reproduce this couple of times but failed in replicating the problem.

[2019-01-16 11:30] atinmu commented on #1448
We need to enhance https://github.com/sosreport/sos/blob/master/sos/plugins/gluster.py to ensure (a) glusterd2 log path is covered & (b) all the required commands are successfully triggered with glustercli. The plugin has to work based on if the configured gluster management daemon is either GD1 or GD2. Getting (b) to work is difficult as the plugin is run from the host not the gluster pods. Even

[2019-01-16 11:35] atinmu commented on #1443
Not reproducible with latest master. Closing it. If you happen to reproduce it again, please reopen.

[2019-01-16 11:35] #1443 closed

[2019-01-16 21:08] gpavinteractiv commented on #1450
oVirt is using Gluster 5.2 on redhat 7.6 but you are right, that is not GD2. This bug report was one of the only result when googling the "0-epoll: Failed to dispatch handler" line

[2019-01-17 07:37] PrasadDesala commented on #1467
This issue is still seen on the last nightly build.
glustershd process memory increased from 8616 to 6.2g.

  PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
before:  395 root      20   0  514608   8616   3188 S   0.0  0.0   0:00.05 glusterfs
before_1:  395 root      20   0   95.3g   6.2g   3324 S  88.2 19.9  14:49.35 glusterfs

root@gluster-kube1-0 ~]# cat /proc/395/cmdl

[2019-01-17 07:43] PrasadDesala commented on #1450
Yes, I am still seeing this issue on the latest nightly build.
glusterd version: v6.0-dev.109.gitdfb2462
git SHA: dfb2462
go version: go1.11.2
go OS/arch: linux/amd64

[2019-01-17 08:09] amarts commented on #1467
Can we disable shd for now in this setup, and re-enable when things settle down?

[2019-01-17 10:07] atinmu commented on #1467
@PrasadDesala At this moment with every new PVCs we don't restart glustershd (which is a bug in GD2) and hence the overall memory consumption by the process remains static irrespective of how many PVCs we create and this is what is reflecting in my test setup too. So I'd definitely like to take a look at the setup where you are able to reproduce this.

[2019-01-17 10:20] atinmu commented on #1479
Taking this out from GCS/1.0 tag considering we're not going to make brick multiplexing a default option in GCS/1.0 release.

[2019-01-17 10:22] atinmu commented on #1474
The revised scope of GCS/1.0 is to make client self heal to heal the files when a file is accessed. glustershd piece needs some work on the shd multiplexing to make the overall work completed which isn't under the scope of GCS/1.0 and hence taking the tag out.

[2019-01-17 10:23] atinmu commented on #1470
Taking this out from GCS/1.0 tag considering we're not going to make brick multiplexing a default option in GCS/1.0 release.

[2019-01-17 10:30] atinmu commented on #1359
Not within the scope of GCS/1.0 , in any case this looks like not a bug if we use a higher timeout option through cli. For a ReST call, what happens here is what we should figure out.

[2019-01-17 10:32] atinmu commented on #1349
Descoped for GCS/1.0.

[2019-01-17 10:33] atinmu commented on #1341
Moving it out of GCS/1.0 as glustershd will not be enabled by default with 1.0 version.

[2019-01-17 11:03] atinmu commented on #728
Remove device APi isn't a blocker for the rescoped MVP of GCS/1.0

[2019-01-17 11:04] atinmu commented on #887
Not a blocker for GCS/1.0 with the revised MVP.

[2019-01-17 11:05] atinmu commented on #1324
Nothing needs to be done in GD2 side for this issue.

[2019-01-17 11:05] #1324 closed

[2019-01-17 11:07] atinmu commented on #912
gluster-block implementation (RWO) will be based on the loopback devices which is currently work in progress. This issue was to track the iSCSI/TCMU based gluster-block integration which is not a priority for GCS.

[2019-01-17 11:07] atinmu commented on #948
With shd multiplexing (which is yet to be implemented), this option is no longer needed.

[2019-01-17 11:07] #948 closed

[2019-01-17 11:08] atinmu commented on #998
Not considered to be a blocker for GCS/1.0 based on the revised MVP.

[2019-01-17 11:11] atinmu commented on #1070
This is already taken care of in GCS deolyment yaml for etcd.

[2019-01-17 11:11] #1070 closed

[2019-01-17 11:12] atinmu commented on #1085
Not a blocker to GCS/1.0 based on the revised MVP.

[2019-01-17 11:13] atinmu commented on #1087
Not a blocker for GCS/1.0 based on the revised MVP.

[2019-01-17 11:14] atinmu commented on #1119
Remove device functionality isn't a blocker for GCS/1.0 based on the revised MVP.

[2019-01-17 11:15] atinmu commented on #1131
Not a blocker for GCS/1.0 from the revised MVP perspective.

[2019-01-17 11:16] atinmu commented on #1143
Not a blocker for GCS/1.0 based on the revised MVP.

[2019-01-17 11:23] atinmu commented on #1289
Are we able to reproduce this with latest deployment?

[2019-01-17 11:48] atinmu opened #1485 "disable glustershd for GCS 1.0"
Currently GD2 doesn't restart self heal daemon for every volume operation which is functionality wise incorrect. However we end up restarting self heal process on a container storage environment, with hundreds of RWX PVCs that's going to cause the performance penalty. PR https://github.com/gluster/glusterd2/pull/1460 attempted to do so and the results were not promising.

While the actual way to a

[2019-01-21 07:58] PrasadDesala commented on #1467
@atinmu This issue is closed and I don't have the perms to reopen it. If you have the access can you please reopen this issue.

[2019-01-21 12:06] PrasadDesala commented on #1360
This issue is still seen on glusterd version: v6.0-dev.114.gitd51f60b.

One such output,
Volume : pvc-a703978d-1d70-11e9-9b03-5254006fcc4e
+--------------------------------------+-------------------------------+-----------------------------------------------------------------------------------------+--------+-------+------+
|               BRICK ID               |             HOST              |

[2019-01-21 12:27] PrasadDesala opened #1487 "Volume status shows PID as 0 for few volumes"
### Observed behavior

Volume status shows PID as 0 for few volumes.

### Expected/desired behavior

Brick process should be running on that brick and volume status should show the PID of the brick process.

### Details on how to reproduce (minimal and precise)

1) Create a 3 node GCS setup using vagrant.
2) Create 500 PVCs.
3) Check glustercli volume status

### Information about the environment:

[2019-01-21 12:31] PrasadDesala commented on #1487
one such output,

[root@gluster-kube1-0 /]# glustercli volume status pvc-facc0dcc-1d70-11e9-9b03-5254006fcc4e
Volume : pvc-facc0dcc-1d70-11e9-9b03-5254006fcc4e
+--------------------------------------+-------------------------------+-----------------------------------------------------------------------------------------+--------+-------+-------+
|               BRICK ID               |

[2019-01-22 04:02] #1445 closed

[2019-01-22 10:02] PrasadDesala opened #1489 "PVC delete failed to delete 146/250 gluster volumes"
### Observed behavior

I tried deleting 250 PVCs in a sequential way using below script,
for i in {1..250};do kubectl -n gcs delete pvc pvc$i;done

Below are the observations,
*. All the PVCs are deleted without any issues as expected.
*. Failed to delete 143 PVs, status for each PV shows as Released
*. On glustercli, it failed to delete 146 gluster volumes and are in stopped state.

### Expected/

[2019-01-22 11:50] PrasadDesala commented on #1445
@aravindavk

I repeated the same test on v6.0-dev.114.gitd51f60b and still see the issue. Changed the min-free.disk value to 50%, modified value is shown in volume info but still the changes are not reflected in get options for that volume.

[root@gluster-kube1-0 /]# glustercli volume info pvc-67809720-1e3a-11e9-8308-525400bf5c84

Volume Name: pvc-67809720-1e3a-11e9-8308-525400bf5c84
Type: Replica

[2019-01-22 12:05] PrasadDesala commented on #1445
This is tested on the latest available image.
The fix for this patch will be available in tomorrow image. So, will re-run this test on that image.

[2019-01-22 17:10] emerzon commented on #1450
Seems to be same issue as reported here: https://bugzilla.redhat.com/show_bug.cgi?id=1651246
However there was no activity from devs there since November.

[2019-01-23 07:58] PrasadDesala opened #1492 "Brick process didn't come up on the node post gluster node reboot"
### Observed behavior

Having a single PVC (without brick-mux enabled), reboot gluster-node-1 and post reboot, brick process on gluster-node-1 is not running.
[root@gluster-kube1-0 /]# glustercli volume status
Volume : pvc-e78ffdcf-1ee1-11e9-b021-525400e2de2d
+--------------------------------------+-------------------------------+--------------------------------------------------------------------

[2019-01-24 15:11] amarts commented on #1476
Fixed with #1439

[2019-01-24 15:12] #1476 closed

[2019-01-25 03:19] aravindavk commented on #1485
This PR https://github.com/gluster/glusterd2/pull/1490 disables the Self heal by default when a volume gets created. Currently a test is failing because it is expecting Self heal to be enabled by default, I will fix that and refresh that PR soon.

[2019-01-28 12:45] atinmu commented on #1492
Have we made progress on this? This is currently marked as GCS 1.0 blocker.

[2019-01-28 12:54] atinmu commented on #1427
@harigowtham What's the update on this?

[2019-01-28 13:03] harigowtham commented on #1427
Unable to reproduce the issue. will try it a few more times.
There is one odd error message "no such file or directory" is the error message at one of the node.
Need to see deeper as to why this one is different.

[2019-01-29 05:53] #1475 closed

[2019-02-04 19:40] jayunit100 commented on #276
Seeing this error running the glusterd2 kubernetes recipes.  Is this possibly ipv6 related ?

[code]

[2019-02-04 19:45] jayunit100 opened #1496 "GlusterD kubernetes: systemctl start glusterd silent failures."
Note: I didn't setup an ETCD url.  I assume that either way, glusterd should fail fast and obviously if ETCD isnt working, however, its a silent failure.

## Observed behavior

Running the kube cluster recipes Gluster pods are running and healthy, but `systemctl status glusterd2` tells another story, it completely failed.

### Expected/desired behavior

Pods should exit if glusterd can't startup,

[2019-02-05 04:54] Madhu-1 commented on #1496
@jayunit100 I don't see below part of the code in your template, which is responsible for the health check
[code]

please refer https://github.com/gluster/gcs/blob/master/deploy/templates/gcs-manifests/gcs-gd2.yml.j2 for more info

[2019-02-05 04:55] Madhu-1 commented on #276
@jayunit100 please share the config file used in your deployment.

[2019-02-07 15:33] poornimag commented on #1418
With LVM being replaced by loop devices, How do we plan to handle disks with different size,with LVM the disks are pooled and carved to required sizes? Since the loopback brick cannot span across devices? The +1 scale will become more restrictive? Users will have to add disks of same/minimum size devices?

[2019-02-07 16:08] JohnStrunk commented on #1418
The brick can be created with any size up to the size of the lower-level file system. The restriction this is adding is that we can't string together multiple physical devices (lower-level file systems) and create a **single** brick that spans that whole capacity. We do have the ability to use dht to glue the smaller bricks together.
Going forward, we actually want to limit the max size of a brick

[2019-02-12 02:38] #1368 closed

[2019-02-14 05:19] #1418 closed

[2019-03-07 15:28] amarts opened #1502 "Can gd2 take a directory as requirement (instead of 'add-device') for loopback bricks?"
### Observed behavior
Device registration often fails in container world. Specifically when I am trying to run in minikube etc.

### Expected/desired behavior

Considering we now have 'loopback' brick support, all we need is a directory as an argument. With that, gd2 has no dependency on devices.

### Other useful information

This will be really useful for GD2 to succeed on different filesystem a

[2019-03-07 15:28] amarts commented on #1502
@oshankkumar @aravindavk @kshlm @Madhu-1 @atinmu @JohnStrunk @kotreshhr @poornimag

[2019-03-08 04:47] aravindavk commented on #1502
It is already available in Gd2 API, If `ProvisionerType=loop` specified during add device then it expects directory instead of raw device. We need to change this in gcs deployment where it adds devices.

[2019-03-29 12:30] zem opened #1509 "Please fix systemd depency to rpcbind"
Hi, you have an unneeded  depency to rpcbind service in your systemd unit file:

[code]

Please change this to:

[code]

As rpcbind is only needed if you want to access glusterfs via nfs, which is as far as I am aware ganeschas job. The depency opens an unneeded port for an unneeded service which leads to unneeded security risks.

regards

    Hans

[2019-03-29 12:46] Madhu-1 commented on #1509
CC @kshlm

[2019-04-27 16:41] nikhiljha commented on #353
I'm still getting this error on a brand new glusterfs 6.1 cluster. Creating that directory on the bricks solved the issue.

[2019-08-15 10:52] ateleshev opened #1512 "Is glusterd2 dead?"
Hello, the last commit to this repository was on Mar 29, 2019. Does it mean that the glusterd2 is already deprecated and will not be developed any more?

[2019-08-15 15:37] atinmu commented on #1512
Well, the priorities have changed and we're not actively focusing on it for now. But that doesn't mean the project has gone completely dead. If we have interests, contributions are welcome and we can certainly revive it back.

[2019-09-09 14:53] rs-fabrica commented on #310
Use case:

I created a Gluster volume to hold the Docker volumes for a Docker Swarm Stack. I had to rename the stack so I would like to rename the Gluster volume also.

Some context: the stacks that we decided deserve exclusive Gluster volumes should have Gluster volumes with the same name as the stacks they support by internal policy. Not all stacks that have their volumes in Gluster are using ex

[2019-10-11 18:49] olivierlambert commented on #1512
Oh no :( I really liked the idea of REST API, JSON everywhere **and** thin arbiter.

Is there any chance to have thin arbiter outside glusterd2?

[2019-10-14 06:49] vpandey-RH commented on #1512
The thin-arbiter support has now been introduced in glusterd.

[2019-10-14 06:54] olivierlambert commented on #1512
@vpandey-RH Saw that and it will be in 7.0 release right?

* any ETA for this release?
* I've built RPMs on the 7.0 branch, sadly I have issues with Gluster client freezing

[2019-10-14 06:56] amarts commented on #1512
If there are no issues reported during the testing of 7.0rc3 (which is tagged as of 2 days back), the release may happen in a week or two.

Would be great to get more details on this. Please open an issue @ github.com/gluster/glusterfs/issues so we can take a look.

[2019-10-14 06:58] olivierlambert commented on #1512
Thanks a lot @amarts , will do!

[2019-11-04 06:35] viejillo commented on #353
I see this same error on Gluster 6.5
Creating that directory did not solve the issue on my end
 volume start: engine: failed: Failed to find brick directory /gluster_bricks/engine/engine for volume engine. Reason : No such file or directory

[2020-01-07 11:23] romdalf commented on #310
Use case: a volume is dedicated to an active project, the project is closed but the data is kept for the legal purpose and postfix is added to the volume name to identify it.

[2020-01-07 11:30] amarts commented on #310
Recommend setting a tag instead. Something like `gluster volume set <VOL> user.status archived`, which can be highlighted through volume info.

[2020-02-07 03:35] Legogris commented on #1512
Docs should probably be updated:https://gluster.readthedocs.io/en/latest/Administrator%20Guide/Thin-Arbiter-Volumes/

https://github.com/gluster/glusterdocs/pull/532

[2020-02-07 03:40] sankarshanmukhopadhyay commented on #1512
ACK! Thank you for pointing this out.