[2018-03-07 13:58] rishubhjain opened #592 "Default group for peers"
@prashanthpai @aravindavk  w.r.t https://github.com/gluster/glusterd2/pull/549, I would have to provide peers a default group. I would some suggestions on this.

[2018-03-08 04:57] prashanthpai commented on #588
The fix in glusterfs source was merged into [master](https://review.gluster.org/19664) and [4.0 release](https://review.gluster.org/#/c/19675/) branch.

[2018-03-08 04:57] #588 closed

[2018-03-08 04:58] prashanthpai commented on #555
Fixed in PR https://github.com/gluster/glusterd2/pull/580

[2018-03-08 04:58] #555 closed

[2018-03-08 05:02] prashanthpai commented on #592
I noticed that there's an [issue](https://github.com/gluster/glusterd2/issues/416) already present for that,

[2018-03-08 05:02] #592 closed

[2018-03-08 05:13] mchangir opened #593 "glusterfind integration with glusterd2"
1. Integration with Snapshot - create and restore
2. Glusterfind fails during node down use case
3. Deleted entry output - should not be seen if NEW and DELETE in same session
4. Integration with add-brick use case
5. Man page missing for glusterfind
6. Hard-link RENAME use case - extra RENAME gets logged for parent file
7. glusterfind create hang if host not added to known_hosts file
8. All Hard-

[2018-03-08 08:49] aravindavk opened #594 "[RFE] CLI: External subcommands support"
External sub command support need to be added just like `git` extensions. If we create a executable with name `git-hello` then it will be available as git subcommand(`git hello`). This feature allows users to create/extend Gluster tools using Rich REST APIs.

http://lists.gluster.org/pipermail/gluster-users/2016-April/026301.html

[2018-03-08 12:37] kalebskeithley opened #596 "rpm .spec file fixes"
for CentOS Storage SIG builds
[code]

[2018-03-09 09:22] rishubhjain commented on #416
@prashanthpai During peer add the new peer is added with its group details, but the existing peer doesn't have  a default group. I would like some suggestions on what should be the default group assigned to peer.

[2018-03-09 09:31] rishubhjain commented on #416
As per discussion with @aravindavk, We can introduce another api with URL "/peers/MetaData" via which one can set or update group of a particular peer.

[2018-03-09 09:38] rishubhjain commented on #466
Yes the volume create is Async operation, but it seems keeping the volume create operation async is a better approach for components such as openshift and kubernetes.

[2018-03-09 10:03] atinmu commented on #466
What's the exact need of having a volume create to be an async operation? IMO, commands which do not involve a heavy lifting transaction workflow can remain as not an async operation and volume create is definitely one of them.

[2018-03-09 10:37] raghavendra-talur commented on #466
I am yet to go through the complete discussion but I suggested it to be a async op because with brick creation and other transactions coming in with plugin it will become a long operation.

[2018-03-09 10:55] raghavendra-talur commented on #466
@prashanthpai

Yes, we discussed the same. Async is required if the unique id is generated by server and served back later. In GD2, client gives the unique id for volume and it is fine if you choose synchronous model. There are other benefits in using async though.

[2018-03-09 10:59] raghavendra-talur commented on #466
@prashanthpai @kshlm @aravindavk

Or drain (and replenish) req.Body in middleware to check every incoming volume create request for Size. This seems like a less clean approach.

The other model where the URL changes for dynamic is not acceptable. Either of the above two models should work. I suggest Type to be replaced by Options if you wish you use it later for other purposes. If could be a map o

[2018-03-12 05:15] kshlm opened #597 "store,elasticetcd: etcd Endpoints are not synced/updated when elasticetcd updates server list"
When elasticetcd updates the server list, the configured endpoints for elasticetcd are not updated in `store.toml` on all nodes. Without having the latest known endpoints, restarting GD2 may not work correctly and recovery becomes harder.

[2018-03-12 09:30] rishubhjain opened #598 "Failed to start GlusterD2"
I am getting an error https://pastebin.com/Y7NBAKpC, when I try to start the glusterd service after updating my code (syncing up with master), This issue is mostly because of changes introduces in https://github.com/gluster/glusterd2/pull/59. Are there any changes in settings that are supposed to be made before stariting the service after these changes?

[2018-03-12 10:32] rishubhjain commented on #598
@kshlm Please check

[2018-03-12 10:40] kshlm commented on #598
The trace suggests that GD2 crashes with an invalid access when trying to load xlator options. The xlator option struct has been updated recently to conform with the GlusterFS master branch.

Update your glusterfs install to the latest master branch and try again.

[2018-03-12 10:52] kshlm commented on #586
This requires us to reconfigure logging after we read the config file.
Right now, we configure logging only once, before reading any config. At this point if any command line arguments were provided, they would be used to configure the logging.
But we actually need to reconfigure logging again, after the config is read as these settings can be configured there as well.

The logging package already

[2018-03-12 11:05] rishubhjain commented on #598
After updating glusterfs the issue gets resolved.

[2018-03-12 11:05] #598 closed

[2018-03-13 03:53] brainfunked commented on #417
I would recommend against this. `node` is a very generic term used across multiple contexts, including VMs, containers etc. `peer` specifically means a gluster peer and is unambiguous: it'll always automatically imply a gluster peer without having to explain the context.

[2018-03-13 05:42] prashanthpai commented on #417
@brainfunked There's already in issue that's tracking that: https://github.com/gluster/glusterd2/issues/576

[2018-03-13 05:49] harigowtham commented on #584
@prashanthpai sure. Will update quota.

[2018-03-13 08:10] #596 closed

[2018-03-15 10:10] prashanthpai commented on #466
@rishubhjain @raghavendra-talur

The glusterd2 process/service will support async requests for certain operations. However, the volume create REST handler will remain synchronous. This means that the core handler will not be dealing with serving/replying to asynchronous requests.

The "asynchronicity" shall be added by the heketi middle-ware. It will handle only async requests, convert them to syn

[2018-03-16 04:54] aravindavk commented on #466
I still think, we should not implement this as Middleware. Because Volume create with Size is not treated as single Transaction. If Middleware is successful and actual Volume Create fails, then no rollback available for Middleware.(Another API required to Cleanup)

We can split this into two parts,

- Middleware chooses the bricks paths and size based on incoming request and using the information

[2018-03-16 04:59] prashanthpai commented on #466
Agreed. That is a better approach.

I'm only not in favour of making the volume create handler async. The middleware should be the one tracking state of the async request.

[2018-03-16 07:44] aravindavk commented on #466
We can make requests Async later if required. We need to work on providing general framework for handling Async requests including Volume Create.

[2018-03-16 08:01] aravindavk commented on #466
Sharing some notes about Intelligent Volume Provisioning required from Glusterd2.  Please add if any change required with the logic/implementation.

### Cluster Setup
Attach all the nodes using `POST /v1/peers` API

Status: Already available

### Register the available devices
Register available devices for each Peer. This also prepare the device by creating `pv` and `vg`.

Example Request

    PO

[2018-03-16 09:13] prashanthpai commented on #466
That general framework is the async middleware [described above](https://github.com/gluster/glusterd2/issues/466#issuecomment-373325147)

[2018-03-20 04:09] brainfunked commented on #466
I have a question from a gadmin perspective. It would be nice to be able to split up a transaction into steps and provide updates to the user about the steps, so as to provide a 'progress report'. I would like all your thoughts regarding the following:

* Would it be possible for the async APIs to declare a step-by-step breakdown of an operation to be carried  out, upfront? As the operation progre

[2018-03-20 04:36] aravindavk opened #606 "Enable REST API authentication by default"
- [ ] REST API authentication to be enabled by default.
- [ ] Modify tests to use REST API Auth
- [ ] New argument to CLI to accept Auth file path(For local usage, to run Gluster CLI from one of the node of Cluster).
- [ ] Protect Auth file to "gluster" group only(Read permission)

Note: User management yet to be implemented, Using Gluster CLI from outside the Cluster is not yet possible.

[2018-03-20 04:42] aravindavk opened #607 "[RFE] Python client for REST APIs"
Many Python projects are integrated with Gluster and most of them are using XML output from CLI. Providing Python client of REST APIs helps those integrations to migrate to Gluster 4.x without needing of XML output.

[2018-03-20 04:48] aravindavk opened #608 "Merge Glusterd2 source with Glusterfs"
- [ ] Packaging Uniformity(Use Automake and other Auto tools)
- [ ] Merge Glusterd2 spec file into `glusterfs.spec.in`
- [ ] Modify `tests/cluster.rc` to use `glusterd2` and fix the "*.t" files to work
- [ ] Modify Glusterd2 tests to run in glusterfs environment
- [ ] Migrate issue tracking under `glusterfs` with `glusterd2` label

Please add if I missed anything.

[2018-03-20 06:09] amarts opened #609 "Checklist of gd1 commands"
## Top level options

- [ ] - peer help                - display help for peer commands
- [ ] - volume help              - display help for volume commands
- [ ] - volume bitrot help       - display help for volume bitrot commands
- [ ] - volume quota help        - display help for volume quota commands
- [ ] - volume tier help         - display help for volume tier commands
- [ ] - snapshot help

[2018-03-20 06:13] amarts commented on #609
As there are not many active members supporting `tier` feature, totally OK to consider not have those feature initially with GD2.

[2018-03-20 07:02] prashanthpai commented on #608
AFAIR, we haven't taken a firm decision on this (merging) yet. See [this](https://www.spinics.net/lists/gluster-devel/msg24438.html) and [this](https://www.spinics.net/lists/gluster-devel/msg24438.html) for some discussion around it.

[2018-03-20 07:05] aravindavk commented on #466
The comment https://github.com/gluster/glusterd2/issues/466#issuecomment-373634056 talks about multiple APIs(Cluster register, add devices, volume create). Glusterd2 will not combine all these steps into single transaction.

Async APIs are low priority right now, we would like to see the functionality working with Synchronous API.

Transaction can have multiple steps(Already supported), once we ad

[2018-03-20 07:09] aravindavk commented on #608
Make sense for packaging or rpm. But we should consider combining source tree.

[2018-03-21 06:00] prashanthpai opened #611 "Return 400 (Bad Request) instead of 422 (Unprocessable Entity) on failing JSON parse"
From [RFC](https://tools.ietf.org/html/rfc4918#section-11.2):

"The 422 (Unprocessable Entity) status code means the server understands the content type of the request entity (hence a 415 (Unsupported Media Type) status code is inappropriate), and the syntax of the request entity is correct (thus a 400 (Bad Request) status code is inappropriate) but was unable to process the contained instructions

[2018-03-22 04:48] poornimag opened #614 "Group options if GD2"
With GD1 there was a facility for setting group options. These group options are files in glusterfs code repo, which will be shipped in rpm and will be installed in /var/lib/glusterd/groups/
Eg:
$ cat extras/group-metadata-cache
features.cache-invalidation=on
features.cache-invalidation-timeout=600
performance.stat-prefetch=on
performance.cache-invalidation=on
performance.md-cache-timeout=600
netw

[2018-03-22 05:08] atinmu commented on #614
@poornimag AFAIU, this functionality is already in place in current GD2. I remember Kamal has already implemented it and here it is https://github.com/gluster/glusterd2/issues/454 . Please cross check and close this issue if you're happy with the current implementation.

[2018-03-22 06:08] poornimag commented on #614
@atinmu but apparently the group options are hardcoded in the code?

[2018-03-22 06:25] aravindavk commented on #614
@poornimag It is already available, You can register a group using `POST /v1//volumes/options-group`, Get using `GET /v1//volumes/options-group` and delete a group using `DELETE /v1/volumes/options-group`. (Ref: `$SRC/glusterd2/commands/volumes/`).

I don't see Volume Set API which understands Group. @kmlmhnn please confirm if that is available.

[2018-03-23 05:18] amarts commented on #614
the primary goal is to support the group profile as it exists today.

But I am suggesting to have group profile list and group profile info in it. This is possible by having the format of the group file changed to json format, with a detailed description about the group itself in the file.

the template i suggest is something like below:

[code]
This way,  we don't depend on the file name, and the

[2018-03-23 06:11] prashanthpai opened #616 "Consider logging inside restutils.SendHTTPError() to reduce clutter"

[2018-03-23 07:00] prashanthpai opened #617 "Spurious failures of e2e tests"
These tests fail often (1 out of 5 times) in my VM:

[code]

Especially **TestAddRemovePeer**

[2018-03-26 04:44] aravindavk commented on #614
Based on the comments above, following Changes required in our APIs

- [ ] Accept "Description" with Group Add API (`POST /volumes/options-group`)
- [ ] Add support to detect available groups JSON files in predefined path and register automatically on Glusterd2 start. With this feature, Groups can be customized during install/packaging.

[2018-03-26 04:55] prashanthpai commented on #614
@aravindavk summed it up perfectly.

We must remove [hard-coded values](https://github.com/gluster/glusterd2/blob/master/glusterd2/commands/volumes/grouped-options.go#L8) from code.

I was curious on what should glusterd2 on picking up files from predefined paths: What if an user creates (or edits) a custom profile file and does it on one node ? Should glusterd2 use that through-out the cluster ?

[2018-03-26 05:04] aravindavk commented on #614
Very valid. I think we can limit this use case only for providing group options during Installation/packaging(Can't prevent technically, but we can skip this part in user documentation). Users will always create extra groups via API.

[2018-03-26 10:07] prashanthpai opened #620 "Profile the performance impact of using transaction namepsace in etcd"
Operations such as volume create heavily depend on setting and getting values in etcd as a way to communicate information between transaction steps and also to share intermediate/node results. The perf impact of this needs to be measured.

Our current transaction framework doesn't pass arguments to transaction RPCs on wire. The transaction framework pokes other nodes asking them to go fetch args f

[2018-03-26 14:30] samikshan opened #621 "Port allocation happening twice while starting a daemon"
During the daemon start process, port allocation is being done two times per daemon. This creates two entries in the portmap for each daemon and leads to the portmap entries not being cleared correctly when daemons are stopped.

[2018-03-27 09:09] prashanthpai opened #623 "Consider using predefined constants for repeating log field keys"
Example:

[code]

to

[code]

[2018-03-27 11:07] kshlm opened #626 "glustercli doesn't print proper errors"
glustercli does not print the errors returned by GD2 when a request fails. Instead it prints the unexpected status code. This does not give enough information.

For eg.,
[code]
Here the actual error is that localhost is not a valid value. GD2 returns that as an error, along with http status 400(bad request). But the restclient package instead wraps the returned error with an UnexpectedStatusError,

[2018-03-27 11:17] rishubhjain commented on #466
done to already created Volume.

@aravindavk  If group is changed and no changes are made to the already created volumes then won't the volume loose its property of being distributed or replica ?

[2018-03-28 04:43] aravindavk opened #627 "PID file support"
PID file support is required when multiple glusterd2 services run in the same node for testing. pidfile makes it easy to signal/stop the running Glusterd2 service.

Example,

    glusterd2 --pidfile=/var/run/gluster/glusterd2.pid

[2018-03-28 05:02] prashanthpai commented on #627
@aravindavk We can put UUID in there and all of them can co-exist.

`/var/run/gluster/glusterd2-<uuid>.pid`

[2018-03-28 07:02] prashanthpai commented on #251
This is mostly [implemented](https://github.com/gluster/glusterd2/blob/master/doc/endpoints.md)

[2018-03-28 07:02] #251 closed

[2018-03-28 07:03] prashanthpai commented on #382
This is implemented and merged.

[2018-03-28 07:03] #382 closed

[2018-03-28 07:07] prashanthpai opened #629 "Consider removing logging from glustercli"
Currently, glustercli creates and logs to a file named `glustercli.log` in current working directory. All errors/info/warnings can be printed to stdout and the verbosity of printing can be controlled via a command line option.

[2018-03-28 11:18] prashanthpai commented on #629
There's barely any processing at all on the CLI side. Things that would've been in the log will be in stdout instead. It is uncommon for similar tools to log. For example `etcdctl` and `heketi-cli` do not log. Further, there may not permission to create `glustercli.log` in places where the CLI tool is run. Currently it creates the file in $PWD.

[2018-03-29 05:49] #627 closed

[2018-03-29 12:36] aravindavk opened #631 "GlusterFS regression Tests integration"
This issue is to track the problems faced while running GlusterFS regression Tests framework(*.t files) with Glusterd2.

[2018-03-29 12:44] aravindavk commented on #631
Started modifying `tests/cluster.rc` file to spawn `glusterd2` instead of glusterd.

### /tests/basic/volume.t
- Volinfo output: Glusterd1 returns `Status: Created`, Glusterd2 returns `State: Created`
- stripe option is used in Volume create command, which is not supported in Glusterd2

Integration work is still in progress, I will update other failures as soon as I make some progress.

[2018-03-30 12:38] #586 closed

[2018-03-31 05:59] atinmu commented on #473
Who from AFR team can take this up?

@karthik-us @itisravi  ^^

[2018-03-31 05:59] atinmu commented on #472
Who from AFR team can take this up?

@karthik-us @itisravi ^^

[2018-03-31 06:02] atinmu commented on #464
@poornimag : Can you please start going through the above checklist and start marking what all have been completed? I believe this is a blocker for GlusterFS 4.1?

[2018-03-31 06:09] atinmu commented on #461
@rafikc30 Are we blocked on the above discussions? Can we get to a consensus here asap?

[2018-03-31 06:10] atinmu commented on #434
@thotz Can you please update the status on what's pending from NFS-Ganesha integration perspective. Are we all good with GD2, NFS-Ganesha and GlusterFS 4.1?

[2018-03-31 06:11] atinmu commented on #433
@anoopcs We need to check how to configure SMB along with GD2 in GlusterFS 4.1. Can you please help us in getting this started?

[2018-03-31 06:13] atinmu commented on #430
The rest of these metrics can be confirmed along with running all the disperse related regression suites with GD2.

[2018-03-31 06:15] atinmu commented on #428
We need to complete the rebalance and remove-brick APIs sooner than later and this needs to be picked up on a high priority basis. Can some one (@prashanthpai / @nbalacha ) please own this up and take it to completion?

[2018-03-31 06:17] atinmu commented on #427
@vpandey Can you please specify what's pending on the self heal side?

[2018-04-02 02:58] nbalacha commented on #428
I'll take this up.

[2018-04-02 06:32] #626 closed

[2018-04-02 07:00] prashanthpai commented on #510
- [ ] Volume Create
- [ ] Volume Start
- [ ] Volume Stop
- [ ] Volume Delete
- [ ] Volume Set

[2018-04-05 05:12] atinmu commented on #614
@poornimag do you want to take this up and make the group profile story complete?

[2018-04-05 05:17] atinmu commented on #585
@kshlm @aravindavk @prashanthpai Has the above been looked at? We should fix this if any of the above are genuine problems.

[2018-04-05 05:59] prashanthpai opened #637 "remove-brick: Ensure I/Os don't go to decommissioned brick"
This is a placeholder issue so that we don't forget to consider this when remove-brick is implemented. Implementation of remove-brick is tracked at https://github.com/gluster/glusterd2/issues/426

With the current (glusterd1) implementation, the removing brick operation does the following in order:

1. Stop brick
2. Regenerate volfiles
3. Notify clients

This opens up a window where client I/O can

[2018-04-05 06:04] raghavendrahg commented on #637
@atinmu @harigowtham

[2018-04-05 10:45] rishubhjain commented on #576
@prashanthpai  This issue can be closed now

[2018-04-05 11:08] poornimag commented on #614
@aravindavk i do not completely understand when you say "You can register a group using POST /v1//volumes/options-group, Get using GET /v1//volumes/options-group and delete a group using DELETE /v1/volumes/options-group. (Ref: $SRC/glusterd2/commands/volumes/)."
What i see in the code is OptionGroupList, OptionGroupCreate, OptionGroupDelete, this means that the group can be created runtime? i.e. w

[2018-04-05 12:03] amarts commented on #614
Here is what I envisioned, I guess Aravinda/Ppai also are in same page I guess.

1. We can ship some groups with the code, they will be defined as json, but are added automatically when the program starts. Technically, it can also follow same code path as 2 below, but done during init.
2. We also can add a group in run-time, using POST request, and this needs a json flie/format as the input.
3. Gr

[2018-04-05 14:10] atinmu commented on #418
@aravindavk is there any work left here?

[2018-04-05 14:11] atinmu commented on #404
@devyanikota what's pending for this issue?

[2018-04-05 14:26] atinmu commented on #399
@aravindavk @kshlm I see Aravinda has sent one PR https://github.com/gluster/glusterd2/pull/639 , but in yesterday's stand up Kaushal had updated some progress made on this. Request both of you to sync up on this topic to avoid duplication of efforts.

[2018-04-05 14:28] atinmu commented on #328
I believe this can be closed now..
@prashanthpai @kshlm ?

[2018-04-05 14:33] atinmu commented on #214
@prashanthpai @aravindavk What work are pending here?

[2018-04-05 14:36] atinmu opened #642 "volume statedump API"
- [x] Bricks
  - [ ] All, mem, iobuf,callpool,priv,fd,inode,history
- [x] Clients

[2018-04-05 15:01] aravindavk commented on #418
- [ ] User driven events coverage from Gd2(which are available in Gd1)
- [ ] Changing port number in glusterfs code(with GD2, port will be same as client port)
- [ ] JWT signing support for signing webhooks
- [ ] Documentation

[2018-04-06 11:08] poornimag commented on #454
#326

[2018-04-11 05:28] prashanthpai opened #647 "Handle volume options that don't adhere to <xlator>.<option>"
There are many volume options which do not follow the `<xlator>.<option>` convention.

Example snippet:

[code]

The `performance` prefix does not map to any single xlator as such. Some options when set by the user, has to be set in multiple xlators.

What's also missing is a way for us to turn xlators on and off (add/remove from graph).

**/cc** @poornimag

[2018-04-11 06:01] amarts commented on #647
I personally feel, we should go with https://review.gluster.org/#/c/19729/ and see if we can make this as a 'xlator' option itself.

@poornimag you had some concerns there ?

[2018-04-11 22:25] obnoxxx commented on #433
@raghavendra-talur, @kshlm, @gd

[2018-04-12 06:32] #210 closed

[2018-04-12 06:34] prashanthpai opened #648 "elasticetcd: Handle simultaneous peer attach and detach requests"
Elasticetcd should be able to allow multiple simultaneous peer attach and detach requests, for different instances.

[2018-04-16 04:54] aravindavk commented on #426
Found in-progress patch here https://github.com/kmlmhnn/glusterd2/commit/b7b47000990dd660342722840efb8004abaff50d Can be used as starting point if anybody interested to take this up.

[2018-04-16 04:56] aravindavk commented on #637
Volfile change to store details about decommissioned brick is here https://github.com/gluster/glusterd2/pull/575

[2018-04-16 07:26] prashanthpai opened #654 "Behaviour of `omitempty` in response structs for non-golang clients"
The `encoding/json` package in golang supports `omitempty' as a struct tag.

From documentation:
**The "omitempty" option specifies that the field should be omitted from the encoding if the field has an empty value, defined as false, 0, a nil pointer, a nil interface value, and any empty array, slice, map, or string.**

This is very useful in REST API's request structs. It brings clarity and conve

[2018-04-16 07:29] #370 closed

[2018-04-16 09:39] amarts opened #655 "Support volfile generation for Thin Arbiter volume type"
More on what is thin arbiter @ gluster/glusterfs#352

## What support is needed by glusterd2

### Support in volume set

User would give the details of tie-breaker for the whole cluster (this is current MVP), there may be an RFE for per volume tie-breaker. That is future.

`glustercli volume set all global.tie-breaker <IP>:<port>://<brick> (or similar).`

### support in volfile generation

`gluste

[2018-04-16 14:12] prashanthpai opened #656 "Shred data blocks for dynamically provisioned volumes"
In a containerized environment and when users get isolated share of storage, it's important to wipe underlying block device on volume delete. This shredding of data can be a async operation.

This data shredding cannot be done for manually created volumes where bricks are directories.

[2018-04-16 17:10] amarts commented on #482
After this is available:

*  We need a mechanism to add further logic in volume create based on these tags (may be like hooks, provide filters? (or consume it in IVP when available).
* Similar for volume tags, it should be available for plugins, so they can decide further options. For example, I will consume the volumes which are set with a tag 'Block' as the backend volume for block files, and no

[2018-04-17 03:11] prashanthpai opened #658 "Distinguish key not found vs error accessing store"
Most store utility functions such as `volume.GetVolume` does not return specific error. The caller must be able to distinguish between volume non existent (404) vs error accessing store (503)

[2018-04-17 03:59] prashanthpai opened #659 "CI: Dump logs on console output"
The CentOS CI tests has to preserve logs and other artefacts to help debugging.

[2018-04-17 05:50] rishubhjain commented on #656
@prashanthpai  do we need to provide volume delete via API for manually created volumes?

[2018-04-17 07:30] rishubhjain commented on #654
For python we can add default values to avoid the key not found error while unmarshalling the response, but for other languages we will have to check whether they handle such scenarios or not. In case there are any omitempty fields in response structs then we should mention in the document about its behaviour.

[2018-04-17 17:57] amarts commented on #277
Need more details here please. In the meantime, I am updating #472

[2018-04-18 08:12] aravindavk commented on #594
This is good to have feature, but requires more effort to achieve it securely. Closing this issue for now.

[2018-04-18 08:12] #594 closed

[2018-04-18 08:27] aravindavk commented on #654
Is `omitempty` useful in request struct? In Go, we can initialize structure without initializing all fields. How is using `omitempty` different from that feature?

    package main

    import (
	    "fmt"
	    "encoding/json"
    )

    type AA struct {
        One string `json:"one"`
        Two int    `json:"two,omitempty"`
        Three bool `json:"three,omitempty"`
    }

    func main() {

[2018-04-18 09:27] prashanthpai commented on #654
You're right. However, `omitempty` currently serves as a really crude way of [documenting the API](https://godoc.org/github.com/gluster/glusterd2/pkg/api#VolCreateReq) to indicate to API users that fields with `omitempty` are optional.

[2018-04-18 10:14] rishubhjain commented on #654
indicate to API users that fields with omitempty are optional.

I think we should explicitly mention in the API document that which all fields are optional, both for response as well as request.

[2018-04-18 10:17] rishubhjain commented on #623
@prashanthpai We should make global constants for keys that are used repeatedly and very very frequently. In the documentation we can point out the file where all the global constants are mentioned and may be that will help debugger to search for specific problems.

[2018-04-18 11:40] JohnStrunk commented on #472
Adding to @amarts usecase above:

-> In this particular case, we have a planned period for migration.

(As discussed in the container strategy meetings this week)
We also have an interest in migrating bricks within the cluster for load-balancing reasons (capacity, performance, or other resource usage). In these cases, just like above, the existing brick is still good/usable, so it should be kept t

[2018-04-18 13:13] prashanthpai opened #664 "Provision to allow plugins to register callbacks for volume set operation"
Plugins should able to execute some action when user sets a set of specific volume options.

[2018-04-18 13:17] prashanthpai opened #665 "Find a better place for xlator specific validations"
The file `glusterd2/xlator/validation.go` contains all xlator specific validation.

[2018-04-18 15:09] aravindavk commented on #664
+1

On all Volume nodes or on all Peer nodes?

[2018-04-18 19:25] phlogistonjohn opened #666 "glusterd2 panics on start up"
When starting glusterd2 it panics trying to load/check xlators.
I'm probably triggering this by having an "incorrect" environment but I think this was worth a report because a panic is a fairly unfriendly kind of error.

[code]

I added a Println of the object triggering the panic:
[code]

My thought would be to add some sort of error checking or validation to the structifyOption func and have it

[2018-04-19 03:17] aravindavk commented on #666
@phlogistonjohn please let us know glusterfs and glusterd2 version installed. Are these problems with Master branch?

[2018-04-19 03:28] rishubhjain commented on #666
The issue looks similar to https://github.com/gluster/glusterd2/issues/598 , In my opinion simply updating glusterfs should solve the problem.

[2018-04-19 03:30] prashanthpai commented on #664
For now I plan to limit this to only volume nodes.

[2018-04-19 03:35] obnoxxx commented on #666
I think this is not the main point.
The main point is that panic'ing is not the nicest of possible error messages. :-)
It would be much more friendly to issue a message like "your version of gluster is too old / inappropriate" ... and exit gracefully.

[2018-04-19 05:54] #611 closed

[2018-04-19 06:27] #666 closed

[2018-04-19 10:11] prashanthpai opened #668 "Add generation/epoch number to volume"
...which will be bumped up on every change to vol info (add-brick, volume set etc)

**//cc** @amarts

[2018-04-19 12:04] vpandey-RH commented on #455
@atinmu @kotreshhr I would like to give it a try, if no one's working on this.

[2018-04-19 12:10] atinmu commented on #455
@kotresshhr - Please ack if you haven't started working on it so that
Vishal can get this started.

On Thu, Apr 19, 2018 at 5:34 PM, vpandey-RH <notifications@github.com>
wrote:

[2018-04-19 12:16] atinmu commented on #455
@kotreshhr ^^

[2018-04-23 03:36] prashanthpai opened #670 "Make glusterd2 binaries from latest master as nightly job"
We do not have frequent releases and our master branch moves fast. Currently, master is almost always more stable that an old released version of glusterd2.

It's a pain for non-developers to set up entire Go environment to just test/use glusterd2. Non-developers (users, testers) just have to download and run the binaries.

It's necessary to have nightly job to build binaries from master or at lea

[2018-04-23 03:55] atinmu commented on #670
@kshlm Can you please get this done asap so that QE can start picking up the builds from nightly and continue with the testing?

[2018-04-23 04:02] kotreshhr commented on #455
I am not working on this, Vishal can start working on this.

[2018-04-23 08:40] aravindavk commented on #655
Sent patch to support this feature in Volfile. https://github.com/gluster/glusterd2/pull/673

Assumptions:
- Thin Arbiter Brick will be set as Volume option `glustercli volume set <volname> cluster.replicate.thin-arbiter <host:brick>`
- Volume option name is `thin-arbiter` in `cluster/replicate`

To test the Volfile generation,
- Add "thin-arbiter" option to `cluster/replicate` options table
- Cre

[2018-04-23 14:07] rmadaka opened #675 "Not able to create brick directory Automatically while creating volume"
desc:
"./glustercli volume create"  command not able to create brick directory automatically while creating volume.

"./glustercli volume create vol3 10.70.35.52:/bricks/brick0/abc 10.70.35.137:/bricks/brick0/abc 10.70.35.79:/bricks/brick0/abc "
mount point : /bricks/brick0
directory : abc
In the above command "abc" directory has to be created manually, otherwise "volume create" command failing wi

[2018-04-23 14:14] rmadaka opened #676 "Incorrect peer status Title's"
**Below are the incorrect Titles in peer status**

1. Instead of "UUID" Title given like "ID"
2. Instead of "HOST NAME" Title given like "NAME"
3. No Space between "PEERADDRESSES"

**Peer status output**:
+--------------------------------------+-----------------------------------+--------------------+
|                  ID                  |               NAME                |   PEERADDRESSES    |

[2018-04-23 14:25] rmadaka opened #677 "Glustercli commands are failing with short forms of volume like vol"
Desc:
Glustercli commands are failing with short forms of volume like vol.

For Example:
./glustercli vol info

above command is failing with below error
Error:
Error: unknown command "vol" for "glustercli"

Did you mean this?
	pool
	volume

Run 'glustercli --help' for usage.
unknown command "vol" for "glustercli"

Did you mean this?
	pool
	volume

[2018-04-24 01:17] obnoxxx opened #683 "RFC: use travis-ci?"
Travis-ci could be used to run the verification and unit tests.
It is very easy. Heketi uses travis for unit tests and basic tests ("make test"), and centos-ci for the functional tests that require vms etc and can't be run in travis.

The series of PRs #680 , #681 and eventually #682 would make it very easy to run "make test" in travis.

If a project admin would be willing to enable travis integra

[2018-04-24 03:10] prashanthpai commented on #677
We do not intend to support short forms. For user friendliness and convenience, there's bash completion. glustercli isn't meant to support everything the older one did exactly the way it was.

[2018-04-24 03:10] #677 closed

[2018-04-24 03:13] prashanthpai commented on #676
UUID is a data type and an implementation detail, `ID` is logical field that describes the peer.

This is also intended. Name defaults to host name of the system but should be changeable in future and settable by admin.

That needs to be fixed.

[2018-04-24 06:47] prashanthpai commented on #655
**cc* @aspandey

[2018-04-24 07:39] prashanthpai commented on #510
- [ ] Bitrot
- [ ] Georep
- [ ] Quota

[2018-04-24 08:53] amarts commented on #655
Noticed that patch does handle one thing more than what is described:

It handles `host:brick<:port>` ie, a way to give different port for the tie-breaker.

other comment is about name. I vote for 'tie-breaker' as the name of client protocol.

[2018-04-24 09:00] #676 closed

[2018-04-24 09:00] #654 closed

[2018-04-24 10:53] rmadaka opened #687 "Peer detach failing with 3 node cluster"
Desc:

Peer detach is failing with 3 node cluster with below  error
command:
./glustercli peer detach 10.70.35.52

Error:
Peer detach failed

Error: Unable to find Peer ID

[2018-04-24 12:15] rmadaka opened #688 "Some times replica-3 volume creation failing"
Some times replica-3 volume creation failing, some time replica-3 volume creation success.

i have created brick directory manually under mount point on all 3 nodes.

Volume creation failing with below error:
Command:
./glustercli volume create vol8 replica 3 10.70.35.219:/bricks/brick0/vol8 10.70.35.235:/bricks/brick0/vol8 10.70.35.52:/bricks/brick0/vol8

Errors:

Volume creation failed

Error: R

[2018-04-24 12:28] atinmu commented on #688
@rmadaka When you file the issues, please point out to the glusterd2 logs to enable developers to take a look at it to find out immediate pointers.

[2018-04-24 13:24] rmadaka commented on #688
Pasted logs here:

INFO[2018-04-24 18:50:48.240022] ::1 - - [24/Apr/2018:18:50:48 +0530] "GET /v1/peers HTTP/1.1" 200 656  reqid=1ec4a643-521c-4228-901e-ae370a24c6ce
DEBU[2018-04-24 18:50:48.250645] Starting transaction                          reqid=acc2c4a3-9d6e-4621-ba86-033823439471 source="[transaction.go:86:transaction.(*Txn).Do]" txnid=192f410c-faff-4530-a6a2-3cc30408d705
DEBU[2018-04-24 18

[2018-04-25 03:56] aravindavk commented on #687
Please update the output of `./glustercli peer status`

[2018-04-25 04:01] aravindavk commented on #688
+1

Please provide the details which helps to debug faster. In this case are all the bricks are mounted? Please share the output of Mount command or df. I am suspecting one of the brick may be unmounted and brick directory is created in root partition itself.

[2018-04-25 07:11] rmadaka commented on #687
./glustercli peer status
+--------------------------------------+-----------------------------------+--------------------+
|                  ID                  |               NAME                |   PEERADDRESSES    |
+--------------------------------------+-----------------------------------+--------------------+
| 071a213c-917c-41ed-8fa0-885a4f13a431 | dhcp35-235.lab.eng.blr.redhat.com | 10.7

[2018-04-25 07:30] rmadaka commented on #688
i have seen some issue in my setup , it seems because of my machines issue, volume creation was failing ,  now i am able to create replica 3 volume successfully every time.

[2018-04-25 07:30] #688 closed

[2018-04-25 10:54] rmadaka opened #692 "Glusterd2 getting hung when the two nodes of glusterd2 stopped out of 3 node cluster"
Glusterd2 getting hung when the two nodes of glusterd2 stopped out of 3 node cluster

Steps to repro:

-> Create 3 node gluster cluster
-> Currently glusterd2 running on all three node (n1, n2, n3)
-> Assume that glustercli commands running on node n3
-> Stop the Glusterd2 on two nodes(n1, n2) out of 3 nodes.
->  Glusterd2 on node n3 getting hung
-> Glustercli commands on node n3 failing with belo

[2018-04-25 11:02] prashanthpai commented on #692
This is a known issue. See:

* https://github.com/gluster/glusterd2/issues/332
* https://github.com/gluster/glusterd2/blob/master/doc/quick-start-user-guide.md#known-issues

Related:
* https://github.com/gluster/glusterd2/issues/352

[2018-04-25 11:47] #658 closed

[2018-04-25 12:02] rmadaka commented on #692
@prashanthpai:  Above two issues and and doc talking about only two node cluster.

[2018-04-25 12:24] rmadaka opened #694 ""Volume get " command giving same output for both existing and non existing volumes"
Desc:

Incorrect-output/same-output given by "volume get" command for both existing and non-existing volumes.

existing vol-name vol1:
-----------------------------
./glustercli volume get vol1 all
GET: vol1

Non existing vol-name vol:
---------------------------------

./glustercli volume get vol all
GET: vol

Note: Logs not generated for above command.

[2018-04-25 12:35] prashanthpai commented on #692
The 2 node down in a 3 node cluster is one example of a quorum loss. The same issue applies to any scenario of loss of quorum i.e when a majority of the nodes are down. (2 in a 3 node cluster, 3 in a 5 node cluster and so on....).

I'll leave the issue open though.

[2018-04-25 12:53] prashanthpai commented on #664
I'll base fixing this on top of fix for https://github.com/gluster/glusterd2/issues/665

[2018-04-25 15:43] itisravi commented on #655
Volume option name is thin-arbiter in cluster/replicate

@aravindavk  I have used thin-arbiter as a string option in https://review.gluster.org/#/c/19835/7/xlators/cluster/afr/src/afr.c@1120

I saw that running `glustercli volume set <volname> afr.thin-arbiter <host>:/bricks/thin-arb-brick> --advanced` did not set the volume option in afr.

[2018-04-25 18:51] phlogistonjohn opened #697 "glustercli panics when given a volume create command"
glustercli should never panic, rather it should print a reasonable error message about why the input was not valid (or accept the input).

[code]

[2018-04-26 05:00] aravindavk commented on #655
Any errors?

Glusterd2 loads all the list of options to validate from *.so files. Is the above mentioned xlator option available in the installed glusterfs?

[2018-04-26 06:29] prashanthpai opened #701 "Add CLI support for thin arbiter"

[2018-04-26 06:41] aravindavk commented on #697
Above example is using volume name as last argument. It should be the first argument. Sent patch to fix the crash, but different ordering like this is not yet handled.

[2018-04-26 07:30] aravindavk commented on #655
In Glusterd2, Option can be set during Volume Create itself.

Above format adds confusion if we have more than one sub volume. I suggest the following format

    glustercli volume create <volname> --replica 2 --thin-arbiter <host:thin-arbiter-brick> <hosts: data brick1> <hosts: data brick2>...

[2018-04-26 07:33] aravindavk commented on #701
Discussion about the syntax https://github.com/gluster/glusterd2/issues/655#issuecomment-384541957

[2018-04-26 08:16] aravindavk commented on #655
I see two `.so` files for replicate, `afr.so` and `replicate.so`. Option is set to "afr.thin-arbiter" but in volfile option is used as `type cluster/replicate`. Please suggest which one to be considered

[2018-04-26 08:26] itisravi commented on #655
For all afr options, we don't use either. The way it works currently is `gluster v set <volname> cluster.<option name> <value>` , for example `gluster vol set testvol cluster.consistent-metadata on`

[2018-04-26 09:25] prashanthpai commented on #701
AFR team confirmed that it'll be one per volume and not one per subvol or replica set.

[2018-04-26 09:51] #701 closed

[2018-04-26 10:25] aravindavk commented on #629
Looks like both @rishubhjain and @Madhu-1 are working on this same issue

https://github.com/gluster/glusterd2/pull/644 and https://github.com/gluster/glusterd2/pull/693

Please assign the issue before starting the work on the issue to avoid the conflict.

[2018-04-26 10:41] prashanthpai commented on #629
#693 got merged and it removes logging to a file.

[2018-04-26 10:41] #629 closed

[2018-04-26 11:15] #665 closed

[2018-04-26 12:15] rmadaka opened #707 "Volume Creation success for bricks under root directory"
Volume Creation success for bricks under root directory, It's not a consistent behavior but  i am hitting this issue most of the time.
Note: Not all bricks should be under root path, Out of 3 node cluster one or two node bricks should be under root path.
Most of the time i am hitting this issue when one node brick under root path out of 3 node cluster.

Repro steps:

-> Create 3 node cluster (n1,

[2018-04-27 03:10] prashanthpai commented on #642
This is complete.

In comparison to glusterd1, things that are intentionally left out in glusterd2:

* NFS statedump
* The hacky way of putting statedump arguments in a file for granular statedumps.

[2018-04-27 03:10] #642 closed

[2018-04-27 09:12] prashanthpai opened #709 "cli: Gluster volume info should display volume options"

[2018-04-27 09:12] prashanthpai opened #710 "cli: Expose setting volume options during volume create"

[2018-04-27 09:25] #559 closed

[2018-04-27 11:49] rmadaka opened #711 "Bitrot Enable/Disable not working for volumes"
If i perform below command ,  output redirecting volume available commands.

./glustercli volume bitrot vol2 enable.

output:
Gluster Volume Management

Usage:
  glustercli volume [command]

Available Commands:
  add-brick   Expand a Gluster Volume
  create      Create a Gluster volume
  delete      Delete a Gluster Volume
  get         Get Gluster Volume Options
  info        Get Gluster Volume I

[2018-04-27 12:09] atinmu commented on #711
I think we need to use volume set interface here? @aravindavk @kotreshhr ?

On Fri, 27 Apr 2018 at 17:19, rmadaka <notifications@github.com> wrote:

--
- Atin (atinm)

[2018-04-27 12:49] prashanthpai commented on #707
This is a really major bug in the undo path:

[code]

The errors returned from different nodes are drained from the channel and are ignored except for the last response.

[2018-04-27 12:49] prashanthpai commented on #707
cc @kshlm

[2018-04-27 16:06] #707 closed

[2018-04-28 15:01] aravindavk commented on #711
Syntax is changed in Glusterd2, Please check `glustercli --help` for more details

    ./glustercli bitrot enable <volname>

[2018-04-30 20:31] vbellur commented on #608
+1 to having gd2 and glusterfs source together.

[2018-05-02 05:53] #664 closed

[2018-05-02 08:55] prashanthpai opened #713 "Race in validation and actor function registration"
Plugins invoke `RegisterValidationFunc` and `RegisterOptionActor` from `init()` function of their respective packages. There's no deterministic order in which `init()` is invoked.

Very often, when invoking `init()`, xlators may not have been read or loaded yet. Loading xlators happens explicitly in `main()`

[2018-05-02 08:59] Madhu-1 opened #714 "glusterd2 hangs after peer probe"
once the peer probe is done, not able to connect to the glusterd2 server
getting an error message in the client

**Peer probe failed

Error: Post http://192.168.122.57:24007/v1/peers: net/http: timeout awaiting response headers**

glusterd2 server  is running

INFO[2018-05-02 14:19:41.669997] new peer joined our cluster                   peer="192.168.122.41:24008" peerid=66881c19-5f03-4c3c-af40-4

[2018-05-02 09:06] #697 closed

[2018-05-02 09:11] Madhu-1 opened #715 "not able to start glusterd2"
Getting Data race while starting glusterd2

Logs:

/var/run/gluster/glusterd2.socket server=sunrpc source="[server.go:137:sunrpc.(*SunRPC).acceptLoop]" transport=unix
INFO[2018-05-02 14:37:29.220650] Started GlusterD ReST server                  ip:port="192.168.122.57:24007" source="[rest.go:91:rest.(*GDRest).Serve]"
INFO[2018-05-02 14:37:29.220835] started server                                a

[2018-05-02 09:57] Madhu-1 commented on #714
@prashanthpai Thanks, I will use external etcd.

[2018-05-02 10:02] rmadaka commented on #711
As aravinda mentioned i have executed with wrong syntax, bitrot enable is working with below syntax

./glustercli bitrot enable <volname>

closing this issue.

[2018-05-02 10:02] #711 closed

[2018-05-02 10:37] prashanthpai commented on #714
Re-opening the issue as it's a genuine issue. The hang isn't captured in any other issue.

[2018-05-02 11:58] r0h4n opened #716 "Tendrl requirements for GD2 [WIP]"
Tendrl is a drop in management UI/API for GD1  [0]

Tendrl uses the below GD1 functionality/cli
- `gluster pool list` (per nodE)
- `gluster get-state glusterd odir /var/run file $filename detail`  (per node)
- `gluster volume heal $volname info split-brain --xml`  (per cluster)
- `gluster volume heal $volname info --xml` (per cluster)
- `gluster volume profile $volname info --xml` (per cluster)
-

[2018-05-02 11:59] r0h4n commented on #716
@atinmu @prashanthpai @shirshendu

[2018-05-03 02:43] prashanthpai opened #718 "Mechanism needed for txn steps to return HTTP status code along with error"

[2018-05-03 04:06] #694 closed, assigned to nobody

[2018-05-03 05:08] aravindavk commented on #713
How about making `RegisterOptionActor` adds entry to a list instead of Xlator. Once Xlator loads, it can read this list and assign Actor to Xlator.

[2018-05-03 05:36] Madhu-1 opened #720 "volumes created with same brick ,failed to start with exit status 1 error message"
Desc:

volume start fails

Error:

Node Log:

INFO[2018-05-03 10:59:32.027377] volume start failed, stopping brick           brick="2a438353-202e-4969-9ac2-fd090fc7a7bc:/export/brick1/data" reqid=dc425eab-ae76-4ee1-a1a2-aea2dff03153 source="[volume-start.go:51:volumes.stopAllBricks]" txnid=6417b612-6c22-4105-82ce-27a25dda9353 volume=testvol3
DEBU[2018-05-03 10:59:32.027504] step function failed

[2018-05-03 06:45] rmadaka opened #721 "Peer probe existing host in cluster with host-name failing with peer is part of another cluster"
Peer probe a node  with host-name which is already part of same cluster failing with peer is part of another cluster.

 ./glustercli peer status
+--------------------------------------+-----------------------------------+--------------------+
|                  ID                  |               NAME                |   PEERADDRESSES    |
+--------------------------------------+-------------------

[2018-05-03 06:48] aravindavk commented on #714
@kshlm any RCA for this issue?

[2018-05-03 10:28] Madhu-1 opened #723 "duplicate brick entry in volumes (create and expand)"
1)create a volume
2)add bricks to the volume with --force flag
3) same brick entry should not be present in volume info

 **add volume add-brick**

cli57 volume info testvol1

Volume Name: testvol1
Type: Distribute
Volume ID: c5ab4701-3746-4e09-9ba7-aaf2a77e03ee
State: Started
Transport-type: tcp
Number of Bricks: 17
Brick1: 2a438353-202e-4969-9ac2-fd090fc7a7bc:/export/brick1/data
Brick2: 2a438353

[2018-05-03 12:00] rmadaka opened #724 "Volume creation failing with host-names"
If we provide brick path with host-name  volume creation is failing with below error messages.
******************************************************************************************************************************
./glustercli volume create vol1 replica 3  dhcp35-52.lab.eng.blr.redhat.com:/bricks/brick0/vol1 dhcp35-219.lab.eng.blr.redhat.com:/bricks/brick0/vol1 dhcp35-235.lab.eng.blr.redha

[2018-05-03 12:15] prashanthpai opened #725 "Hostnames (non-IP) must work for all peer communication"
When a user specifies a hostname for a peer, it should persist through-out the system

[2018-05-03 12:26] Madhu-1 opened #726 "add examples to cli commands"
it's hard to understand what needs to be passed as an argument to the CLI

it's better to have examples in CLI help

[2018-05-04 03:10] #713 closed

[2018-05-04 05:12] amarts commented on #428
here is my proposal:

## MVP0:
*  treat rebalance as any other daemon, treat stop as stopping daemon (without rpc request etc).
* behavior of volume stop would change, but doesn't matter much on 'filesystem' part of the code. It works all fine.
* volume rebalance status wouldn't work as it is now.

I believe this will enable us to handle both rebalance and shrink APIs without issues. and is alread

[2018-05-04 05:52] aravindavk opened #728 "Device management APIs"
Current implementation of device management is very hacky, since the
device details are stored in `Peer.Metadata` we are restricted to
store it as string. Due to which, device add/edit/delete involves
multiple Marshal/Unmarshal of device details.

Following changes are required in our device management

- Do not store device details in `peer.Metadata`, store under
  `/devices/<peerid>` namespace
-

[2018-05-04 08:48] Madhu-1 opened #729 "peer detach fails with external ETCD"
setup
1)3 Node GD2 cluster
2)1 external ETCD

steps to reproduce

1) peer probe other two nodes from one node
2)check pool list
3)peer detach from one node
Result :
	peer detach should be successful

1)peer probe nodes
[vagrant@localhost glusterd2]$ cli57 peer probe 192.168.122.157
Peer probe successful
+--------------------------------------+-----------------------+-----------------------+
|

[2018-05-04 14:49] phlogistonjohn commented on #728
I've started looking at the parts of GD2 related to the higher-level volume management and related things. Although I've haven't had much time to look at the current code in GD2.
In light of plans to merge heketi features into GD2 I think it's important to compare and contrast what heketi currently does and what GD2 has or plans to do. So I'm happy to see this topic brought up independently.

Heke

[2018-05-04 14:52] phlogistonjohn commented on #728
Sorry for the wall of text! :-D

[2018-05-04 15:59] aravindavk commented on #728
Thanks for the comments.

In light of plans to merge heketi features into GD2 I think it's important to compare and contrast what heketi currently does and what GD2 has or plans to do. So I'm happy to see this topic brought up independently.

Part of device management code is already available in Gd2, I opened this issue to address the limitations I found during the integration with Intelligent Vo

[2018-05-07 04:36] aravindavk commented on #728
Noted. This is a generic problem applicable for all the APIs provided by Glusterd2. I will open new issue for the same.

Transaction in Gd2 is list of steps with two functions `Do` and `Undo`(Each step can be restricted to run in specific nodes). Only `Do` function will be called during Transaction, if fails, `Undo` function will be called in reverse order. I think @kshlm can provide more details

[2018-05-07 04:58] aravindavk commented on #728
One more addition to API required,

- Enable/Disable device - Added this API after discussion with @phlogistonjohn, This is required to make a device not to be used while provisioning new volume.

[2018-05-07 07:52] Madhu-1 opened #733 "failed to start geo-replication"
1)need to make gsyncd path configurable.

2)getting below error message when tried to start geo-replication

fork/exec /usr/local/libexec/glusterfs/gsyncd: no such file or directory

need to have a better error message.

[2018-05-07 08:21] Madhu-1 opened #734 "failed to delete geo-replication"
failed to delete geo-replication, if the volume is already deleted

cli geo-replication delete testvol2  root@192.168.122.157::testvol -v
ERRO[2018-05-07 13:49:23.852849] failed to get Volume details                  error="Request failed with HTTP Status code 404\nvolume not found" volume=testvol
Geo-replication Delete failed.

steps to reproduce
1)create a volume
2)create a geo-replication
3)del

[2018-05-07 11:22] Madhu-1 opened #735 "failed to pause geo-replication"
steps to reproduce

1)create volume
2)create geo-replication
cli157 geo-replication create testvol2  root@192.168.122.157::testvol -v -f
Geo-replication session created successfully

3)try to pause the geo-replication

cli157 geo-replication pause testvol2  root@192.168.122.157::testvol -v -f

ERRO[2018-05-07 14:07:39.448552] geo-replicationPausefailed                    error="Request failed with

[2018-05-07 22:07] obnoxxx commented on #675
I don't fully understand this yet: The volume create cli (in this basic form) is given brick paths. These paths should exist. What in the above request would trigger gluster to create the directory? Just that it's named `abc` instead of `brick` or `brick0`? So if the command instead was
[code]
would you then require it to create `brick0`? Or if the command was
[code]
would the answer be any differ

[2018-05-07 22:14] obnoxxx commented on #725
@jarrpa

This will be important for the future, how we run gluster specifically in the container space. The background requirement is: Will it be possible to have gluster nodes changing IP addresses when rebooted (dhcp etc), and still remain part of the cluster because peer-probe had been done with a hostname that will remain associated to this node even when the IP changes?

[2018-05-08 05:28] aravindavk commented on #725
Is this issue about the first node? which is not added via peer probe, Glusterd2 itself will detect the IP/hostname on start.

[2018-05-08 05:46] prashanthpai commented on #725
This is about peer attach requests. If a user specifies a hostname during peer attach, it should work and the hostname should appear (instead of IP) everywhere. IOW, we shouldn't implicitly convert hostname to IP internally when we store it in etcd.

[2018-05-08 06:26] prashanthpai commented on #462
@vpandey-RH Checklist:

- [ ] Add volume edit REST API
- [ ] Add CLI support
- [ ] Add support to delete metadata keys

[2018-05-08 07:00] prashanthpai commented on #683
On a related note:

Github has introduced a feature adding a new checks API and it has integration with Travis and Circle CI:

https://blog.github.com/2018-05-07-introducing-checks-api/
https://blog.travis-ci.com/2018-05-07-announcing-support-for-github-checks-api-on-travis-ci-com

It would be beneficial to use Travis for all our checks barring e2e tests.

[2018-05-08 08:55] aravindavk commented on #734
Known issue till we implement a pre hook mechanism for core actions. This issue is applicable for all plugins and also between two plugins. For example, in Glusterd1, Snapshot Create should fail if Geo-rep status is `Started`.

[2018-05-08 08:59] aravindavk commented on #735
Good catch, Thanks. This pid file will get created by gsyncd process once Geo-rep is started(I don't see georep start command). Two fixes required 1) catch this error, 2) Allow pause only when monitor status is Started.

[2018-05-08 09:05] aravindavk commented on #733
`gsyncd` is installed as part of `glusterfs` installation. Fix required in

-  Introduce `glusterfsd --print-libexecdir` similar to `glusterfsd --print-logdir`
- Handle error and change the error message.
- This can be optionally made configurable(Trying to avoid this since this is internal detail)

[2018-05-08 12:13] aravindavk commented on #725
I also observed that, by default we are adding Host IP as peer address while adding self details on Glusterd2 start(`glusterd2/config.go`). We should change this to update hostname itself if peeraddress is not specified in config.

[2018-05-08 12:15] aravindavk commented on #734
This issue is mentioned here https://github.com/gluster/glusterd2/issues/557#issuecomment-363334225

[2018-05-09 07:56] Madhu-1 opened #737 "failed to create volume"
started glusterd2 with the default glusterd2.toml.example file
am able to do peer probe commands

but failed to create volume with the following error
[code]
pool list details
[code]

[2018-05-10 05:12] aravindavk opened #739 "cli: Backward compatibility for option names"
Since Glusterd2 loads list of xlator options directly from `xlators/*.so` files, it expects option name in volume set command as `<xlator>.<option-name>`. In previous releases name used in Volume set command is different that this(only `<option-name>`).

This may break many applications, tests and other integrations. APIs can continue to use the option names as Glusterd2 expects, CLI should conver

[2018-05-10 05:37] aravindavk commented on #728
Not an immediate requirement, good to have Metadata support for device as well(Similar to Peer and Volume).

Usecase:
- If a device is only to be used for Arbiter brick, it can be tagged as `arbiter`
- If a device need to be tagged as ssd
- If a device needs to be marked as premium

[2018-05-10 07:48] rmadaka opened #742 "Peer status not showing that , is peer in connected state or not connected state"
Desc

If any peer goes down, peer status not showing that peer is in disconnected state.

i think status column required in peer status output.

current peer status output like below:
 ./glustercli peer status
+--------------------------------------+-----------------------------------+--------------------+
|                  ID                  |               NAME                |   PEERADDRESSES

[2018-05-10 08:29] prashanthpai opened #743 "Rename peer commands to be consistent"
Currently, there are following peer commands in CLI:

`probe <HOSTNAME>`
`detach <HOSTNAME or PeerID>`
`pool list`
`peer status`

This is a mess! We should converge to one common convention:

`peer attach` or `peer add`
`peer detach` or `peer remove`
`peer list`
`peer status`

[2018-05-10 08:55] Madhu-1 commented on #743
@prashanthpai  am working on this

[2018-05-10 11:12] prashanthpai commented on #462
@vpandey-RH Next step would be to add support to list volumes that have specific keys and/or values set. You can extend the existing volume list API by adding query params.

[2018-05-11 05:01] harigowtham commented on #421
List of things to be done for quota
- [  ] cli
- [  ] volfile generation for that particular volume
- [  ] quota limit set
- [  ] quota limit remove
- [  ] quota disable
- [x] quota enable
- [  ] enable/disable on different volumes
- [x] quota options
- [  ] quota list

If you find that i have missed out anything please add on to the list.
quota disable, enable/disable on different volumes and quo

[2018-05-11 05:05] #723 closed

[2018-05-11 05:15] prashanthpai opened #746 "Enhance GET volfile API"
...for easier debugging:

Current output:

[code]

We need to:

* Remove volfiles/ prefix in above output
* Add ability to fetch individual volfiles from their volfile ID

[2018-05-11 11:38] Madhu-1 opened #749 "add strict slashing to rest server"
[code]
 and
[code]
currently, we are getting 404 page not found if URL as a suffix slash

expected:
should give the same response

[2018-05-11 12:37] rmadaka opened #750 "Volume creation is successfull but getting message like volume creation failed"
I have started creating 200 distributed  replica volumes on 6 node cluster through script.

after 130 volumes creation i am able to see message like below.

Volume creation failed

Error: Post http://localhost:24007/v1/volumes: net/http: timeout awaiting response headers

But actually volume creation is successfully .

Note: above scenario tried for 2 times.
           -> First time i have seen  t

[2018-05-14 03:38] #743 closed

[2018-05-14 04:05] prashanthpai opened #751 "Expose brick create flags in volume create/expand API"
From code:

[code]

Tasks:

- [ ] Add `Flags` field of type `map[string]bool` to `VolCreateReq` and `VolExpandReq`.
- [ ] Retain the old behaviour of `Force` to over-ride or skip all checks
- [ ] Expose flags in volume create CLI
- [ ] Ensure e2e test coverage
- [ ] Introduce additional flag to create brick dirs if it doesn't exist. See https://github.com/gluster/glusterd2/issues/675

[2018-05-15 09:08] #746 closed

[2018-05-16 10:04] prashanthpai commented on #750
Seems to me like bumping up `ResponseHeaderTimeout` should fix it. It is currently set to 3 seconds.

[2018-05-16 13:33] rmadaka opened #758 "Volume creation failing with host name (shortname , Not FQDN)"
Volume creation failing with host name (shortname, Not FQDN)
if we perform "hostname -s " command we will hostname of that vm.

command and output
--------------------------

 ./glustercli volume create rep2 dhcp35-219:/bricks/brick0/rep2/ dhcp35-235:/bricks/brick0/rep2/ dhcp35-52:/bricks/brick0/rep2/ dhcp35-8:/bricks/brick0/rep2/ dhcp35-33:/bricks/brick0/rep2/ dhcp35-194:/bricks/brick0/rep2/
Erro

[2018-05-16 13:59] rmadaka opened #759 "Volume start force failing, after brick killing"
-> Kill any one brick from volume using kill -9 command,
-> Then perform  './glustercli volume start rep1 force '
-> volume start force failing with below error.

./glustercli volume start rep1 force
volume start failed

Error: Request failed with HTTP Status code 400

-> volume start force not able to start the killed brick.

Logs:

DEBU[2018-05-16 19:29:05.275846] attempting to lock

[2018-05-17 04:06] #750 closed

[2018-05-17 05:58] aravindavk commented on #759
`force` need to be checked along with `if volinfo.State == volume.VolStarted {`

    	if volinfo.State == volume.VolStarted && !req.Force

Also errors due to start brick should be ignored if `daemon.Start` command returns `ErrAlreadyStarted`

[2018-05-17 06:16] aspandey opened #760 "[GD2]: Starting volume with "force" option does not start killed bricks if volume is UP"
I created and started a volume and killed one brick for testing purpose.
When I wanted to start this brick using start force option, it was not able to start that killed brick.
I had to stop and start volume.
I used different combination of start which I could find.
glustercli volume start -f testvol
glustercli volume start --force testvol

[2018-05-17 06:17] aspandey commented on #760
@prashanthpai @aravindavk
This is easily reproducible.

[2018-05-17 06:33] prashanthpai commented on #749
In a way, I think it's a good thing that `/thing` works and `/thing/` doesn't. It's unforgiving but will help in maintaining some discipline and uniformity.

It is also reason about handling null/empty values. For example, if route pattern is `/thing/{id}`, then a request coming in on `/thing/` shouldn't be implicitly treated as id being null/empty.

I'll close this issue now. Feel free to reopen

[2018-05-17 06:33] #749 closed

[2018-05-17 08:42] Madhu-1 commented on #724
can you provide more details like
1)glusterd2 configuration file
2)command used for peer add

[2018-05-17 09:18] rmadaka commented on #724
conf.toml:
-------------
workdir = "/var/lib/gd2"
peeraddress = "10.70.35.219:24008"
clientaddress = ":24007"
etcdcurls = "http://10.70.35.219:2379"
etcdpurls = "http://10.70.35.219:2380"

peer add command:
--------------------------

./glustercli peer probe ip/hostname

[2018-05-17 09:34] rmadaka opened #762 "Failed to start GD2"
steps to repro:

-> Assume that gd2 is running on one machine.
-> Then disconnect from network(internet or vpn etc.. some how we have disconnected from the machine)
-> Connect back to network again.
-> Then tried to start the glusterd.
-> Gd2 is throwing message saying that 'Process is already in running' state
-> i have rebooted the system.
-> Then again tried start the GD2 ,  failed start GD2, f

[2018-05-17 09:42] Madhu-1 commented on #759
volume start doesn't contain any request body in cli/rest client. need to make changes to send a post to the server

current rest client code
[code]

[2018-05-17 10:05] prashanthpai commented on #759
...which is how it should be

[2018-05-17 10:10] Madhu-1 commented on #759
@prashanthpai  okay

[2018-05-17 10:10] prashanthpai commented on #617
[code]

[2018-05-17 10:29] rmadaka opened #764 "Volume creation of invalid volume type failing with invalid error messages."
Tried blow scenarios like:
Example 1:
--------------
./glustercli volume create rep replica3 10.70.35.219:/bricks/brick0/rep1/ 10.70.35.235:/bricks/brick0/rep1/ 10.70.35.52:/bricks/brick0/rep1/
panic: runtime error: index out of range

goroutine 1 [running]:
github.com/gluster/glusterd2/glustercli/cmd.bricksAsUUID(0xc42007c4c0, 0x4, 0x4, 0x16, 0x10, 0x4d4855, 0x7d049d, 0x8)
	/home/ppai/work/src/gi

[2018-05-17 11:44] rmadaka opened #766 "Failed to run bitrot scrub-throttle command"
By default scrub procees is started in lazy-mode but if i want to change the rate to either normal/aggressive  scrub-throttle command is failing with below error.
command1:
---------------

./glustercli bitrot scrub-throttle rep aggressive
Failed to set bitrot scrub throttle to aggressive for volume rep

Error: Request failed with HTTP Status code 500
Validation failed for volume option: Option bi

[2018-05-17 11:51] rmadaka opened #767 "Bitrot scrub pause/resume commands are failing"
Bitrot scrub pause/resume commands are failing with below error messages

./glustercli bitrot scrub rep pause
Failed to pause bitrot scrub for volume rep

Error: Request failed with HTTP Status code 500
Validation failed for volume option: Option bit-rot.scrub-state is an advanced option. To set it pass the advanced flag.

./glustercli bitrot scrub rep resume
Failed to resume bitrot scrub for volu

[2018-05-17 12:03] Madhu-1 commented on #767
I think you need to set volume options for this.
check log messages

[2018-05-17 12:03] Madhu-1 commented on #766
I think you need to set volume options for this.
check log messages

[2018-05-17 12:47] Madhu-1 commented on #764
are you using code from the master branch? I think this has been fixed in #700

[2018-05-18 06:29] amarts commented on #767
While it is valid to get an error if it is an advanced option, bitrot pause and start may need to be marked as basic.

@kotreshhr this needs to be fixed in the glusterfs code.

[2018-05-18 06:46] aravindavk commented on #767
Bitrot feature added to glusterd2 before the changes done to options level. Fix required in `glustercli` to include `Advanced` flag while calling restclient. Alternatively these can be made as basic options as @amarts suggested.

@Madhu-1 bitrot glustercli is setting volume options internally

[2018-05-18 06:48] amarts commented on #767
@aravindavk I like this idea better. People using it directly should know it is 'advanced'. Lets not make changes in glusterfs codebase, but in cli.

@kotreshhr nothing pending on you then :+1:

[2018-05-18 06:56] kshlm commented on #767
I would have preferred that the ReST handler in GD2 added this. But, I believe that scrub pause etc., just use the volume set APIs.

[2018-05-18 10:13] aravindavk opened #771 "Multiple IPs management per peer"
Gluster can support multiple IPs per peer for different purposes like
peer-peer communication, volume operations etc

### Starting glusterd(not yet part of cluster)

Auto detects the `DefaultAddresses` as `hostname` if not specified in
config file.

### Peer add command
If the hostname or the IP specified in `peer add` command is different
from that peer's `DefaultAddress` then save that hostname/

[2018-05-18 10:13] aravindavk commented on #771
@amarts @atinmu @kshlm @prashanthpai need your inputs to this issue

[2018-05-18 10:54] amarts commented on #771
This was a majorly asked feature for long time. To handle multiple networks. Lets start with this.

In future, we need a mechanism to specify different network (based on a tag?) for self-heald and rebalance process (or any other internal process) and all other clients. Can be extended to handle smb and nfs in similar way.

[2018-05-18 11:50] prashanthpai commented on #771
@Madhu-1  has a PR posted that addresses some of these: https://github.com/gluster/glusterd2/pull/761

config file.

This isn't preferred as it often translates to `127.0.0.1` if hostname is localhost, in which case it's cannot be probed. But we can check for localhost case, like we do today.

Volume) or Peer ID.

I prefer peer remove to only take peer id and not any of the addresses. We have peer

[2018-05-18 12:17] aravindavk commented on #771
Production setup expects to support hostname instead of IP. Need a solution to fix the localhost issue.
(We can suggest to run `glusterd2 --peeraddress=$(hostname)` with peer address argument)

+1, peer.PeerAddresses[0]  can be hostname

+1

I think that is already available in `restclient`, but we can't have it in restclient since we need to store the address info in Volinfo

This looks good, les

[2018-05-18 12:30] #767 closed

[2018-05-18 12:32] aravindavk commented on #766
Patch #770 fixes this issue. Reopen if seen again

[2018-05-18 12:32] #766 closed

[2018-05-21 07:13] Madhu-1 opened #772 "creation of volume with special characters in volume name (except underscore and hyphen) should fail"

[2018-05-21 09:06] #772 closed

[2018-05-21 17:57] raghavendra-talur commented on #476
@prashanthpai I am a little confused here. How was this issue observed? From what I understand, /var/run/gluster should get created when the rpm is installed or when developer make installs glusterfs-server.

[2018-05-22 02:56] prashanthpai commented on #772
@Madhu-1 Out of curiosity, is there any technical reasons for introducing this ?

The PR #773 has a regular expression that limits volume names to English alphabets and numbers. What about non-English volume names ?

Volume names are used in volfiles, xattrs and paths.

[2018-05-22 03:48] Madhu-1 commented on #772
@prashanthpai  there are limitations in using the special characters in volume name (either in CLI and in URL for any other operation.
we can create volume with a name including special characters, but we cant use those name in CLI or URL to access those resources

and some of the special characters are reserved in [REST](https://tools.ietf.org/html/rfc3986#section-2.2)
we do have a check for this

[2018-05-22 04:04] prashanthpai commented on #772
Those volume names have to be URL (percent) encoded during access.

If glusterd1 imposed such restriction, then there aren't volumes present today that violate that rule. I guess it's okay in that case as it won't be a surprise to existing users :+1:

[2018-05-22 05:39] prashanthpai commented on #476
In glusterd2, the rundir is not hard-coded to `/var/run/gluster` and is configurable. Back when this issue was filed, rundir did not default to `/var/run/gluster`. Now it does. However, we configure rundir to a custom value in our e2e tests.

That, I'll have to check. Even if the above was true, contents of `/var/run/` doesn't persist across reboots.

[2018-05-22 11:10] #759 closed

[2018-05-22 12:17] rmadaka opened #778 "After peer detach from two node cluster, current peer glusterd is going to hung state"
-> Having two node cluster n1, n2
-> Detach one peer(n2) from node n1
-> node n1 glusterd is going to hung state. no glusterd commands are working from node n1
Results:
----------

[root@dhcp35-235 ~]# ./glustercli peer status
+--------------------------------------+-----------------------------------+--------------------+
|                  ID                  |               NAME

[2018-05-22 13:02] rmadaka opened #779 "Peer detach successful but throwing error message like peer detach failed"
-> Having three nodes (n1, n2, n3)
-> Perform peer probe from n1->n2 and n2->n3
-> Now n1, n2, n3 are in cluster
-> Then perform peer detach node n1 from n3.
-> Actually peer detached successfully from cluster but throwing error message like below.

Before Peer detach:
-------------------------
./glustercli peer status
+--------------------------------------+-----------------------------------+---

[2018-05-23 02:24] vbellur commented on #276
It would be good to ensure that glusterd works fine in dual homed systems that have a combination of IPv4 and IPv6 addresses. I have heard some feedback about glusterd operations not working well when both IPv4 and v6 are used for building the trusted storage pool.

[2018-05-23 05:02] prashanthpai commented on #462
@vpandey-RH

The documentation [formatting](https://godoc.org/github.com/gluster/glusterd2/pkg/api#VolumeGetResp) needs to be fixed.

[2018-05-23 05:27] #710 closed

[2018-05-23 06:19] vpandey-RH commented on #462
@prashanthpai  Resolved the documentation issue

[2018-05-23 09:17] #725 closed

[2018-05-23 09:17] #721 closed

[2018-05-23 09:17] #724 closed

[2018-05-23 09:17] #758 closed

[2018-05-23 13:53] rmadaka opened #787 "Able to use same brick for two volumes before volume start"
-> Create replica 3 volume with bricks ip1:/b1,  ip2:/b1,  ip3:/b1
-> Volume created successfully
-> don't start the volume
-> Create one more replica 3 volume with one brick from previous volume remaining two bricks are new
like ip1:/b1 , ip2:/b2, ip3:/b2
-> volume created successfully
-> then start the volumes
-> both the volumes started successfully

Commands:

first-volume:

./glustercli volum

[2018-05-23 13:57] prashanthpai opened #788 "Restrict size of peer and volume metadata"
Impose a size (in bytes) based restriction on volume and peer metadata. This is the overall size and not a per request based size. Requests to store peer and volume metadata should be scrutinised.

[2018-05-23 13:58] #462 closed

[2018-05-23 14:12] prashanthpai commented on #482
Listing (filtering) based on some key and/or value has been done for volume listing (https://github.com/gluster/glusterd2/issues/462) by @vpandey-RH

@rishubhjain or @vpandey-RH Any takers to do the same for peer listing as well ?

[2018-05-23 15:25] shirshendu commented on #670
This will also be very helpful to the RHGS-WA team, to be able to consistently work with an up-to-date glusterd2 build.

[2018-05-24 07:04] vpandey-RH commented on #482
@prashanthpai  I can start working on this if @rishubhjain  is not looking to work on this.

[2018-05-24 07:11] rishubhjain commented on #482
@vpandey-RH Go ahead

[2018-05-24 10:15] rmadaka commented on #742
verified with latest glusterd2 binaries.

'glustercli peer list' command  is showing that peer is in online or offline state.
./glustercli peer list
+--------------------------------------+-----------------------------------+--------------------+--------+
|                  ID                  |               NAME                |   PEER ADDRESSES   | ONLINE |
+------------------------------------

[2018-05-24 12:30] rmadaka opened #791 "Volume start force command causes to all bricks offline"
-> Create volume
-> killing one brick
-> then perform the volume start force command
-> volume start force command failed and all bricks went to offline of that volume
-> Then again perform the volume start force command
-> All bricks came to online of that volume.

commands output:

./glustercli volume status
Volume : rep1
+--------------------------------------+--------------+-------------------

[2018-05-24 14:42] rishubhjain opened #792 "Building Glusterd2 fails"
Building glusterd2 fails with error:

glusterd2/transaction/rpc-service.go:55: cannot use p (type *txnSvc) as type TxnSvcServer in argument to RegisterTxnSvcServer:
	*txnSvc does not implement TxnSvcServer (wrong type for RunStep method)
		have RunStep("context".Context, *TxnStepReq) (*TxnStepResp, error)
		want RunStep("github.com/gluster/glusterd2/vendor/golang.org/x/net/context".Context, *TxnSt

[2018-05-24 14:43] rishubhjain commented on #792
@prashanthpai

[2018-05-24 14:46] prashanthpai commented on #792
This works on my machine, @aravindavk's machine and also CI machine. Weird.
But it definitely was introduced by [this commit](https://github.com/gluster/glusterd2/commit/5c0eaeaabe517f22276f2b03c2a1ed77e189f4ae). Reverting it harmless.

[2018-05-24 14:52] aravindavk commented on #792
can you try again by deleting vendor directory?

[2018-05-24 14:58] #792 closed

[2018-05-25 05:30] prashanthpai opened #794 "Collate store access when setting/getting from txn context"
Operations such as volume create heavily depend on setting and getting values in etcd as a way to communicate information between transaction steps and also to share intermediate/node results.

This is a proposal to change `txn.Set` to `txn.Get` to only set/get it in a local map when called. When the transaction step finishes, we sync it to the store.

Implementation in pseudo-code:

`glusterd2/tr

[2018-05-25 05:31] prashanthpai commented on #794
@kshlm @aravindavk I'd appreciate your thoughts/inputs on this.

[2018-05-25 05:39] prashanthpai opened #795 "Avoid marshalling and marshalling twice"
JSON [isn't a very optimal](https://github.com/alecthomas/go_serialization_benchmarks#results) marshalling protocol.

As we happen to use JSON to store in etcd and also use JSON to respond to client requests, there might be an opportunity to return the data we get from etcd to the client, as is, for certain operations.

This prevents get-unmarshal-marshal-reply cycle.

However, very often we have

[2018-05-25 09:56] rmadaka commented on #707
With latest GD2 binaries , Volume creation not success for bricks under root directory.

[2018-05-25 10:15] r0h4n commented on #670
+1 on master@nightly  builds.  Any help required with setting this up @prashanthpai @kshlm  ?

[2018-05-25 10:28] prashanthpai commented on #670
@r0h4n I believe @kshlm is already on it. He's sent a [PR](https://github.com/gluster/glusterd2/pull/775) which has a script to generate the builds. I guess it's only a matter of how the build can be made available.

[2018-05-25 10:43] rmadaka opened #798 "Bitrot scrub status command failing for bitrot enabled volumes"
Scenario1:

-> Enable bitrot on any volume
-> Bitrot enabled  successfully
-> Then check the bitrot scrub status
-> Bitrot scrub status failing with below error

Commands:

./glustercli bitrot enable rep1
Bitrot enabled successfully for volume rep1

./glustercli bitrot scrub rep1 status
Failed to get bitrot scrub status for volume rep1

Error: Request failed with HTTP Status code 400
Bitrot is not

[2018-05-25 10:48] amarts commented on #798
Can we consider automating it and adding into travis CI? I saw overall 3 bugs in this feature testing?

[2018-05-25 12:15] rmadaka commented on #750
Verified with latest Glusterd2 binaries, I have tried same above scenario creating 200 volumes with script.

Not found any failed messages for volume creation or volume deletion.

[2018-05-25 15:56] prashanthpai commented on #482
Arbitrary metadata can now be set on both peer and volume object.

[2018-05-25 15:56] #482 closed

[2018-05-25 15:57] prashanthpai commented on #482
@vpandey-RH++ @rishubhjain++

[2018-05-28 05:43] prashanthpai commented on #788
Pseudo-code:

[code]

[2018-05-28 05:45] prashanthpai commented on #788
You can also do:

[code]

[2018-05-28 06:53] Madhu-1 opened #803 "failed to add peer"
./build/glustercli --glusterd-host=dhcp43-235 peer add dhcp43-75 -v
ERRO[2018-05-28 12:17:06.120094] peer add failed                               error="Request failed with HTTP Status code 500\nfailed to send join cluster request" host=dhcp43-75
Peer add failed

Error: Request failed with HTTP Status code 500
failed to send join cluster request

[2018-05-28 08:08] #803 closed

[2018-05-28 08:55] rmadaka opened #806 "Peer status and peer remove and peer add behavior"
-> If I perform peer add with IP , peer address of peer status containing only IP like below.

./glustercli peer status
+--------------------------------------+-----------------------------------+--------------------+--------+
|                  ID                  |               NAME                |   PEER ADDRESSES   | ONLINE |
+--------------------------------------+--------------------------

[2018-05-28 09:15] rmadaka opened #807 "peer add with short names not FQDN (hostname -s) is failing"
peer add with short names not FQDN (hostname -s) is failing

Tried First time:

./glustercli peer add  dhcp35-194
Peer add failed

Error: Post http://localhost:24007/v1/peers: net/http: request canceled (Client.Timeout exceeded while awaiting headers)

Tried Second time:
-> Second time filed with different error code

./glustercli peer add  dhcp35-194
Peer add failed

Error: Request failed with HT

[2018-05-28 09:30] rmadaka commented on #807
After tried with shortname  peer add is failing with hostname (FQDN)   and ipaddress also for same peer which is tried with short name.

./glustercli peer add dhcp35-194.lab.eng.blr.redhat.com
Peer add failed

Error: Request failed with HTTP Status code 409
already processing another join/leave request

./glustercli peer add 10.70.35.194
Peer add failed

Error: Request failed with HTTP Status code

[2018-05-29 04:56] #675 closed

[2018-05-29 04:56] #751 closed

[2018-05-29 06:29] #510 closed

[2018-05-29 06:59] rmadaka commented on #675
Gd1 volume create command:

 gluster volume create vol1 10.70.35.118:/bricks/brick0/vol1 10.70.35.128:/bricks/brick0/vol1 10.70.35.53:/bricks/brick0/vol1
volume create: vol1: success: please start the volume to access data

In above command /bricks/brick0 is a mount point  which is already exist, i didn't create vol1 dir manually , at the time of volume creation vol1 dir created automatically.

vo

[2018-05-29 07:20] prashanthpai commented on #806
Please use proper markdown formatting when you file issues for better readability.

[2018-05-29 07:21] prashanthpai commented on #806
-> If I perform peer add with IP , peer address of peer status containing only IP like below.

[code]

-> If I perform peer add with Hostname, peer address of peer status containing both Hostname and IP like below.

[code]

-> If i perform peer add with Hostname, i am able to perform peer remove  with both hostname and ip.
-> If i perfrom peer add with IP, i am able to perform peer remove with onl

[2018-05-29 07:28] prashanthpai commented on #806
@Madhu-1 When there are multiple peer addresses, we should probably put each one in a separate line, like this:

[code]

If the library we use makes it easy to do so.

[2018-05-29 08:03] Madhu-1 commented on #806
@prashanthpai sure, let me send a patch for it.

[2018-05-29 09:23] Madhu-1 opened #815 "failed to enable bitrot"
**step to reproduce**

1. createvolume
2. start volume
3. enable bitrot on volume
[code]

4.try to enable bitrot again

[code]
**Expected**: Error response should be same in above both conditions

5. try to get vol info, volume info shows bitrot option is enabled
**bitrot option shouldn't be enabled**
[code]
6. volfile info

[code]
7.  Logs for failed bitrot enable

[code]

[2018-05-29 09:48] Madhu-1 commented on #791
@rmadaka  am not able to reproduce this issue with new glusterd2.

can you provide glusterd2  logs from all nodes for this issue?

you should use --force flag to start volume forcefully

[code]

[2018-05-29 10:09] prashanthpai opened #817 "glusterd2 CPU usage is 100% after peer add"
In an external etcd setup, glusterd2 CPU usage shoots up to 100% right after peer add. There might be a busy loop somewhere.

[2018-05-29 10:33] prashanthpai commented on #716
@atinmu

Current state of things:

- `gluster pool list` (per node)

This is present today as a consumable REST API. And you don't have to run it per node.

- `gluster get-state glusterd odir /var/run file $filename detail`  (per node)
- `gluster get-state glusterd odir /var/run file $filename volumeoptions` (per node, output of this command is intended to be used for day 1, day 2 operations)

@r0

[2018-05-29 10:48] Madhu-1 commented on #720
not able to reproduce with the new glusterd2. Hence closing

[2018-05-29 10:48] #720 closed

[2018-05-29 10:56] Madhu-1 commented on #787
not able to reproduce this issue

1)create first  volume
[code]
2)create 2nd volume
[code]

3)to create replica volume use cli command like

[code]

@rmadaka  if you are able to reproduce with latest glusterd2,  please let us know

[2018-05-29 10:59] prashanthpai commented on #709
Implemented in https://github.com/gluster/glusterd2/pull/747

[2018-05-29 10:59] #709 closed

[2018-05-29 11:02] prashanthpai commented on #817
[code]

Initial glance is pointing at `/home/ppai/work/src/github.com/gluster/glusterd2/glusterd2/events/liveness.go:34`.

[2018-05-29 11:58] prashanthpai commented on #675
@rmadaka Please take the new build from me.

[2018-05-29 12:00] aravindavk commented on #675
Please build using `PREFIX=/usr make` so that defaults will match the QE setup

[2018-05-29 12:52] atinmu commented on #716
@r0h4n In addition to the points mentioned by @prashanthpai I'd like to highlight that tendrl should consider to move parsing json format than --xml as the default GD2 API response would be over JSON.

@shtripat Please do confirm if none of the commands are missed out w.r.t current integration.

[2018-05-29 15:16] nbalacha opened #819 "Add-brick changes the replica count for the first replica set"
If add-brick is run without specifying the replica count, the newly added bricks are added to the first replica set instead of forming a new replica set.

On performing an add-brick , the newly added bricks end up in the middle of the list of existing bricks:

192.168.122.7:/bricks/brick2/repl-1 and 192.168.122.7:/bricks/brick2/repl-2 were added to the volume.
#>glustercli volume add-brick gd2vol

[2018-05-30 01:57] atinmu commented on #503
@aravindavk Anything pending on the infra part of GD2 here?

[2018-05-30 02:07] atinmu commented on #456
Anything else needs to be done on volume reset API and CLI completion? Do we have the glustercli in place for this API?

[2018-05-30 02:33] rishubhjain commented on #416
@atinmu Rest API is in but CLI commands are yet to be worked upon, will do it right away.

[2018-05-30 02:44] rishubhjain commented on #815
@Madhu-1 In addition to this, even after the failure the bitrot is marked as enabled for that volume.

[2018-05-30 02:44] prashanthpai commented on #416
This issue is largely a duplicate of https://github.com/gluster/glusterd2/issues/482
`Group` is one such metadata key. Please check if metadata and `zone` can be set from CLI during peer add. For general purposes, `group` and `zone` are the same.

[2018-05-30 02:46] prashanthpai commented on #430
As per @kmlmhnn, there is nothing else do be done here.

[2018-05-30 02:46] #430 closed

[2018-05-30 02:47] prashanthpai commented on #456
Have to integrate volume rest API with actor framework and see ensure self heal daemon start/stop works.

[2018-05-30 02:55] kotreshhr commented on #815
The log says volume not found error. Was the volume name given different?

[2018-05-30 03:03] rishubhjain commented on #815
@kotreshhr Referring to the etcd data provided in the 5th step, the volume name provided is the same. May be @Madhu-1 can verify it.

[2018-05-30 03:07] kotreshhr commented on #815
Is it consistently reproducible ? If volume name is different and we are setting the enable flag, that also needs a fix. Let me know the exact scenario.

[2018-05-30 03:27] aravindavk commented on #503
I think Volume Get and CLI is pending. This patch is not merged https://github.com/gluster/glusterd2/pull/572

[2018-05-30 03:40] atinmu commented on #404
@devyanikota Could you update us on the pending things for this issue?

[2018-05-30 03:42] atinmu commented on #356
@rishubhjain @prashanthpai Anything pending on this?

[2018-05-30 03:44] atinmu commented on #328
Is there anything needed to be worked on for this issue apart from testing?

[2018-05-30 04:08] Madhu-1 commented on #815
@kotreshhr  yes am able to reproduce it 5/5.

**step to reproduce the issue**

1.createvolume
2.start volume
3.enable bitrot on volume

[2018-05-30 04:26] prashanthpai commented on #328
Nope, nothing else. We do not store the options. We only load it from the xlators themselves.

[2018-05-30 04:26] #328 closed

[2018-05-30 04:56] shtripat commented on #716
Comment https://github.com/gluster/glusterd2/issues/716#issue-319523107 lists all the commands tendrl uses from gd1.
In addition as @atinmu mentioned above we use the below commands to add/remove webhook for native events handling in tendrl

[code]

Details which are read from get-state output are as below

[code]

Hope this clarifies

[2018-05-30 05:50] #817 closed

[2018-05-30 06:32] Madhu-1 commented on #815
@aravindavk  updated volfile info and volume info

[2018-05-30 09:26] #798 closed

[2018-05-30 12:59] rishubhjain commented on #728
@aravindavk Do we need to allow user to edit device information after adding device?
Enabling/Disabling can be a part of EditDeviceAPI if in case we want to make it generic, else we could continue with EditDeviceState (https://github.com/gluster/glusterd2/pull/810) API

[2018-05-31 05:02] aravindavk commented on #728
Enabling/Disabling can be a part of EditDeviceAPI if in case we want to make it generic, else we could continue with EditDeviceState (#810) API

May be Metadata of device, but for now we can limit to enable/disable in `EditDeviceAPI`

[2018-05-31 05:08] atinmu commented on #456
Thanks, Also please confirm if cli is in place or not?

[2018-05-31 05:14] Madhu-1 commented on #779
@rmadaka  can you add glusterd2 logs

[2018-05-31 05:26] Madhu-1 commented on #737
not able to reproduce in with latest glusterd2

[2018-05-31 05:26] #737 closed

[2018-05-31 05:42] vpandey-RH commented on #456
Sure, will work on it.

[2018-05-31 06:03] kshlm commented on #771
For this my preference would be for the peers themselves to specify the addresses they want to be available on.

As in, users would not specify new/additional addresses with the peer probe command. Instead we would possibly have a new API/command, say '/v1/peer/self/addresses' or `glustercli self add-address`, that would update it's own peerinfo.

The peer add command/API will just use the given a

[2018-05-31 09:11] rafikc30 opened #831 "Address comments and TODO in snapshot implementation"
There are a couple of comments that need to address along with TODO to finish the snapshot basic features. This issue is to track those PRs.

[2018-05-31 09:32] aravindavk commented on #655
Volfile support and CLI support is available.

[2018-05-31 09:32] #655 closed

[2018-05-31 09:36] aravindavk commented on #607
External project will provide these bindings. Closing this issue in Gd2

[2018-05-31 09:36] #607 closed

[2018-05-31 09:54] aravindavk commented on #277
Closing this bug as duplicate of #472

#472 covers all the combination of Replace brick/Peer

[2018-05-31 09:54] #277 closed

[2018-05-31 10:05] aravindavk commented on #538
Closing this issue, we are tracking Events API here https://github.com/gluster/glusterd2/issues/418 and Metrics API here https://github.com/gluster/glusterd2/issues/483. Please add comments to one of these issues if anything is missing

[2018-05-31 10:05] #538 closed

[2018-05-31 10:19] aravindavk commented on #515
Are we still planning to do this change? @itisravi

[2018-05-31 10:43] atinmu commented on #515
This is needed IMO. replica 3 arbiter 1 is a wrong way of representing an
arbiter config.

On Thu, 31 May 2018 at 15:50, Aravinda VK <notifications@github.com> wrote:

--
- Atin (atinm)

[2018-05-31 11:53] #794 closed

[2018-05-31 12:50] #788 closed, assigned to vpandey-RH

[2018-06-01 04:56] prashanthpai opened #834 "cli: Unify --glusterd-{host,https,port} into a single --endpoints option"
Current options:

[code]

[2018-06-01 05:04] prashanthpai opened #835 "Volume delete looks for volfile on disk"
...but it's in store.

[code]

[2018-06-01 05:08] prashanthpai commented on #835
The volfile isn't deleted from store:

[code]

[2018-06-01 05:11] prashanthpai commented on #834
@Madhu-1 It's good to implement this with `etcdctl`'s `--endpoints=` option as a reference for usability

[2018-06-01 05:16] prashanthpai opened #836 "cli: Expose Client Address in peer list"
Currently, `glustercli peer list` displays peer address which is used bu glusterd2 to communicate with each other. This peer address is only useful during peer add operation and not after that. Client address is what the clients would use to communicate with glusterd2. It's useful to print this in CLI.

Current output:
[code]

[2018-06-01 05:19] rishubhjain commented on #815
@Madhu-1 This issue can be closed now I guess

[2018-06-01 05:20] aravindavk commented on #834
I prefer having that as additional option. With the default setup, if only port is different then it is easy to specify port using `--glusterd-port` than specifying `--endpoints` with complete URL

[2018-06-01 05:20] prashanthpai opened #837 "cli: Peer remove should only support peerid as input"
Currently, peer remove can be given both peer ID and hostname. We desire most of the APIs to use IDs wherever it's present to reduce ambiguity. Using IDs will also prevent user from inadvertently giving wrong IP. it also simplifies peer removal when multiple glusterd2s are running on the same node.

[2018-06-01 05:24] prashanthpai opened #838 "volume listing: null is being returned in the body when there are no volumes"
[code]

When there are no volumes, the client should get an empty list and not null.

[2018-06-01 05:31] Madhu-1 commented on #815
fixed by #824 and #827

[2018-06-01 05:31] #815 closed

[2018-06-01 05:51] prashanthpai commented on #834
There can be multiple interfaces on the same machine and glusterd2 can be configured to be listening on one of them.

It's less ambiguous if it's more explicit. It will also reduce the number of options we expose (3 to 1). As an example - `http://127.0.0.1:xxxx` or  `http://localhost:xxxx` isn't so hard to specify. FWIW, the name `endpoint` is used as convention in etcd, OpenStack, OpenShift and a

[2018-06-01 06:46] Madhu-1 opened #839 "failed to list all snapshots"
listing snapshots failed with below messages

[code]

as volume name is not mandatory for listing the snapshots, This request should get passed.

@aravindavk @prashanthpai want to know your thoughts on this.

[2018-06-01 11:58] #838 closed

[2018-06-01 12:03] #837 closed

[2018-06-01 13:11] prashanthpai commented on #835
@Madhu-1 pointed out that the volume delete code uses older volgen code. There are multiple places in store where a volume volfile@ is stored in etcd - gfproxy etc. @aravindavk What's a clean way to do it in volgen2 ? Considering that rebalance, gfproxy, quotad volfile etc will have to change.

[2018-06-02 16:32] rafikc30 commented on #839
@Madhu-1

Snapshot list command accepts a req variable, since req is not given here, the parsing is failed. Fixed the same as part of the commit https://github.com/gluster/glusterd2/pull/846/commits/984c98b138a0bc619bdf536e94dd2d563ec5ef54

[2018-06-03 11:53] aravindavk commented on #835
@prashanthpai I will send PR to delete volfiles on Volume delete

[2018-06-04 04:35] nbalacha opened #847 "Distribute count for a pure distribute volume is always 1"
Create a pure distribute volume and check the distribute count - it is always 1.
This causes rebalance to fail for pure distribute volumes.

[2018-06-04 05:19] prashanthpai opened #849 "Do context plumbing in daemon framework"
Currently, the logger (containing `reqid` and `txnid`) isn't passed to code in daemon framework.

[code]

We should propagate `context.Context` into code in daemon framework. Almost all daemon framework operations such as start, stop happen as a result of user initiated operation via HTTP request.

[2018-06-04 05:33] Madhu-1 commented on #839
@rafikc30, what happens if I pass invalid request? as per your commit, the validation passes (the validation should fail for an invalid request), we should avoid using Request body for HTTP GET requests.

[2018-06-04 06:03] Madhu-1 commented on #847
@nbalacha  can you paste the exact steps to reproduce and the result what you got

[2018-06-04 06:13] nbalacha commented on #847
Create a pure distribute volume with 2 bricks.

[root@rhgs313-6 brick2]# curl -X GET http://192.168.122.6:24007/v1/volumes/dist
{"id":"1e6129e5-414b-4911-9c7c-4ebfbd8f583f","name":"dist","type":"Distribute","transport":"tcp",**"distribute-count":1**,"replica-count":0,"arbiter-count":0,"options":{},"state":"Started","subvols":[{"name":"dist-distribute-0","type":"Distribute","bricks":[{"id":"6acb33f

[2018-06-04 06:16] Madhu-1 commented on #847
Test with new code and let me know if it's not working,

am not able to reproduce  it

[code]

[2018-06-04 08:14] aravindavk commented on #847
I fixed this issue with CLI https://github.com/gluster/glusterd2/pull/797

Volfile generation should work fine with the above CLI change. Please confirm with latest master.

[2018-06-04 08:36] rafikc30 commented on #839
I understand. To list all snapshot and to list snapshots of a single volume, What do you suggest to use? I was using two rest endpoints like /v1/snapshots and /v1/snapshots/volume/{volumename} . But this was also not good, and kaushal suggested to use HTTP GET requests.

So any other suggestions?

[2018-06-04 08:43] Madhu-1 commented on #839
@rafikc30 I would suggest using query param instead of request body for this kind of request. @kshlm  @prashanthpai @aravindavk we need some more info on this.

[2018-06-04 09:12] itisravi opened #850 "gd2 is not updating the arbiter-count in shd and fuse volfiles"
`option arbiter-count 1` is missing in AFR's xlator option in the mount and selfheal daemon volfiles. Without that, things won't work properly in AFR for arbiter volume.
Example:
[code]

[code]

[2018-06-04 09:15] itisravi commented on #850
@aravindavk @vpandey-RH @prashanthpai  @karthik-us

[2018-06-04 18:09] aravindavk opened #851 "Unified Volume Create API and mount bricks on Glusterd2 start"
Based on the comments in PR #661, listed the fixes required for Smart Volume Create API

- Single REST API `/volumes` and auto provision bricks if size is specified.
- Volume name as optional parameter
- Mount bricks on Glusterd2 start or Volume Start
- Save device/lv details in `brick.MountInfo`(This structure is added by Snapshot feature, useful here also. We can even skip custom `fstab` logic s

[2018-06-04 18:28] aravindavk opened #852 "Intelligent Volume Expand"
To expand a Volume which is created using intelligent Volume provisioner,

- Collect expand size as API input
- Get existing sub volume size
- if expand size > sub volume size, then `number_of_new_subvols = ceil(expand_size / subvol_size)`
- Number of new bricks required = num_bricks_in_existing_subvol * number_of_new_subvols
- Expand defaults based on existing sub volumes(File system type, replic

[2018-06-04 18:36] aravindavk opened #853 "Sharding as Volume type"
The issue https://github.com/gluster/glusterfs/issues/321 tracks the usability issues when sharding is disabled after creating data on the Volume.

Sharding should be made as Volume type, If `sharding: true` is provided in Volume create request, it should set the Volume option after creating the Volume.

Also need a mechanism to disallow setting this option as part of Volume set.

[2018-06-05 02:30] #850 closed

[2018-06-05 10:12] Madhu-1 opened #856 "glusterd2 is not responding if ETCD server is down"
even if  ETCD service is down, glusterd2 should return an internal server error(500)

**steps to reproduce issue**

1)create a volume
2)stop external ETCD server
3get volume list

**Expected result:**
Internal Server Error (500)

**Actual result:**
1)For curl request, there is no response from glusterd2
2)Response from rest client

[code]

[2018-06-06 12:33] #856 closed

[2018-06-06 18:34] aravindavk opened #859 "RFE: Geo-replication: Support external IP mapping for remote Volume"
After session creation, Geo-rep master fetches Remote peer IPs from the Volume info of Remote Volume. If the Remote Volume is created using internal IPs(Accessible only in Remote Cluster), Geo-replication session will fail. New API/way is required to specify the external and internal IPs of Remote Volume.

Example: `georemotevol` volume created as below:

    Brick1: internal_ip1:/bricks/b1
    Br

[2018-06-07 07:42] Madhu-1 opened #864 "implement volume status in glustercli"
@prashanthpai I am working on this, please assign this to me.

[2018-06-07 07:45] #864 closed

[2018-06-07 07:46] Madhu-1 commented on #864
we already have volume status CLI command, which displays the volume brick status

[2018-06-07 12:03] devyanikota commented on #456
@aravindavk @prashanthpai in the above checklist, can you please confirm apart from tests(last point) if anything else needs to be done? thank you.

[2018-06-11 06:51] prashanthpai opened #871 "Fix API doc generation for plugins"
The auto-generated API documentation does not link request types to their godoc definitions. The request definitions for plugins are not present at the URL `https://godoc.org/github.com/gluster/glusterd2/pkg/api#` and may be present in plugins package.

[2018-06-11 09:53] prashanthpai opened #875 "CI: Frequent spurious failure of TestVolume/Disperse test"
[code]

[2018-06-11 18:08] raghavendra-talur commented on #852
@aravindavk we also discussed that there should be a way to retain the subvol count the same and use expansion feature of underlying partition. This needs to be checked for feasibility and documented if not possible.

[2018-06-11 18:21] raghavendra-talur commented on #795
@prashanthpai could you please explain a little more?

In my understanding this is very much necessary if we have to abstract the data from clients. There will almost always be more data in the etcd store thank what is in API.

[2018-06-11 21:04] phlogistonjohn opened #877 "Consider versioning all data types in the store"
In order to better support upgrades it may be worthwhile to add version information to the data store (etcd), such that the values are introspect-able across many versions of the software.
This can aid in supporting:
- peer version differences: (for rolling upgrades) nodes can either choose to deserialize an older data type or refuse to work with newer ones
- schema changes: upgrade procedures can

[2018-06-12 02:39] prashanthpai commented on #795
That's correct for most of the API responses. Our internal structs can contain fields that we do not want to return to the clients. Hence, today, we create duplicate structs of same object such as Volinfo - [one](https://github.com/gluster/glusterd2/blob/v4.1.0-rc0/glusterd2/volume/struct.go#L82-L99) for internal use and [another](https://github.com/gluster/glusterd2/blob/v4.1.0-rc0/pkg/api/volume

[2018-06-12 09:07] prashanthpai opened #878 "e2e: Cleanup temporary dir structure"
The e2e tests create workdir inside workdir:

[code]

[2018-06-12 14:42] phlogistonjohn commented on #878
I'm curious,  what don't you like about this structure? I recently did some reorganization here to have everything nest under a single top level dir (and enable per-run directories).

[2018-06-12 14:56] phlogistonjohn commented on #795
Sure, that's doable. FWIW, what Heketi does is nest the public facing structures within the private ones like:
[code]

However, this does have the downside that every time you need to make a change to the API it forces a change to the db. This may not always be want is wanted esp. if there is a more convenient internal representation. I think there are pros and cons for both approaches.

Perhaps.

[2018-06-12 18:28] prashanthpai commented on #878
Also, some tests do not use their own dedicated directories which needs to be fixed. IOW, all tests should adhere to per-test directories.

[2018-06-12 19:07] phlogistonjohn commented on #878
I see what you mean. Thanks for the clarification.

[2018-06-12 20:59] phlogistonjohn opened #880 "[process] Require PRs to remain open at least 24 work hours"
Now that there's a greater involvement in GD2 from people in a wider variety of time zones it might be nice to require that PRs remain open for some time for review, etc.

I raised this idea with a few people in person and they seemed to think it was OK and so I figured this place was the best place to float the idea.

My proposal is:
* Any non-trivial PR must remain open for commentary & feed bac

[2018-06-12 21:09] atinmu commented on #880
Makes sense to me. Some of the exceptions I could think of apart from
trivial PRs are fixes to regressions breaking build/CI, additional e2e
tests/unit tests which don’t touches upon the code functionality but adds
up test coverage

On Tue, 12 Jun 2018 at 16:59, John Mulligan <notifications@github.com>
wrote:

--
- Atin (atinm)

[2018-06-12 21:19] phlogistonjohn commented on #880
I'd buy quick fixes to fix test regressions, although ideally we'd catch those in the review/PR phase. But I can see that subtle merge issues that cause test failures might demand quick turnaround in order to unblock other work.

While I love adding tests and getting more coverage I don't know if I'd make an exception there. Tests being code and writing good tests make the whole testing process mo

[2018-06-12 22:05] atinmu commented on #880
The tests (primarily the e2e ones) what I am referring at are the ones
which are probably missing but the functionalities are already in place. So
its sort of a tests catch up work to be up to date with the functional
implementation. Any new functionality and the respective tests don’t fall
into this category. Having said this, 24 hours isn’t a big window where
things can slow down :-) . So even i

[2018-06-13 05:05] prashanthpai commented on #880
+1

Contributors should add more than one reviewers to PR and that notification serves as a reminder. Github suggests reviewers based on `git blame` and that's very useful.

A more important note - at least for new features or major enhancements, I'd propose to ensure that such PR has approved reviews from at least two reviewers, regardless of how long ago the initial PR was sent and regardless of

[2018-06-13 13:43] aravindavk commented on #880
+1 overall

Blocking PR merge based on this criteria doesn't make any sense to me. As @prashanthpai mentioned, we can block the merge till we get at least 2 acks before merging it. If review is available why not merge the PR? I agree we need more stability in release branches but PR can be merged if review is available and e2e tests are passing in Master branch.

Again, if reviewer is in different

[2018-06-13 14:26] atinmu opened #883 "Document the etcd and other configuration cleanup steps"
I was trying to spend some time in (re)setting up a GD2 cluster of 3 nodes in my docker containers and peer probe failed 3/3 times randomly. I suspect this has something to do with a uncleaned etcd clustering data. Having some pointers in the wiki about how to start from the scratch if there's already left over data of the old cluster. Even a cleanup script in the repo might be very helpful.

@Mad

[2018-06-13 14:49] atinmu opened #884 "Consider moving to Gerrit from GitHub for possibly better reviews"
From the latest top 10 commits from GD2 source:

root@5c687a38c1ee:/home/go/src/github.com/gluster/glusterd2# gl --oneline | head -10
fe2be28 Merge pull request #828 from rishubhjain/usingFetch
f0e2cb7 Merge branch 'master' into usingFetch
310e76f Merge branch 'master' of https://github.com/gluster/glusterd2 into usingFetch
7436b73 Merge pull request #869 from Madhu-1/err_cleanup
edcbd97 Merge bra

[2018-06-13 15:01] phlogistonjohn commented on #884
To be clear do you mean the "topic: brief summary" style of commit message? If so, I agree that would be nice.

I also know that @obnoxxx has suggested using the rebase merge strategy as that would eliminate the merge commits. That could lead to a more linear & readable history. This is doubly nice when PRs are small and only contain one or two patches... when the merge commits are retained we end

[2018-06-13 15:12] atinmu commented on #884
On Wed, 13 Jun 2018 at 11:01, John Mulligan <notifications@github.com>
wrote:

Yes, exactly.

I also know that @obnoxxx <https://github.com/obnoxxx> has suggested using

glusterfs is integrated through gerrit and hence all changes are pushed
through gerrit. That way we don’t get into the rebase merge strategy
problem.

—

--
- Atin (atinm)

[2018-06-13 15:14] #878 closed

[2018-06-13 15:16] prashanthpai commented on #884
@atinmu I'm all in for moving to Gerrit :)

[2018-06-13 15:37] atinmu commented on #884
On Wed, Jun 13, 2018 at 8:46 PM, Prashanth Pai <notifications@github.com>
wrote:

That's one option. But other way to think about is how other projects (like
heketi) sticking to github PR model also overcome this problem.

[2018-06-13 18:29] obnoxxx commented on #884
I would argue against gerrit, since while it can track incarnations of a patchset, it is incapable of tracking more than one patch in one review request. This alone is a criterion for exclusion because it encourages bad commits.

Regarding the original request:

* First of all, you can immediately fix the problem by omitting the merge commits from `git log` with `--no-merges`.
* Secondly, I'd enco

[2018-06-13 18:46] obnoxxx commented on #880
@aravindavk writes:

It makes perfect sense as the team is getting more geographically distributed. This is trying to prevent patches from being proposed and merged before developers in another time zone have had a chance to see. It is not only about the reviewers that the patch submitter *wants* to do review, but also for the broader team to have had a chance to have a look. If we are taking the

[2018-06-14 02:48] prashanthpai commented on #880
While I can't agree with that definition of trivial as it's very subjective,  you have my vote for the above proposal. It's only fair for developers in a different timezone to get a chance to review. Reviews are a great learning tool to know more about the code of the project. A much broader consensus is always desirable. With the proposed time limit, we're settling for a chance to reach broader c

[2018-06-14 06:43] prashanthpai commented on #884
+1
I'm in favour of changing it immediately to follow the heketi way.

On an unrelated note, I [dislike](https://github.com/gluster/glusterd2/pull/706#issuecomment-384878525) the  [heketi](https://github.com/heketi/heketi/commit/be187e4aa4b23a45002cb1ef18ed12d6be4420ba) [style](https://github.com/heketi/heketi/commit/0bedfdd413b75caf1110b8185223d63491dfca33) [commits](https://github.com/heketi/hek

[2018-06-14 12:53] amarts commented on #880
+1 on overall thought and process. I don't think "+24hr before merge" would reduce development speed in anyway, but gets much better from the process part. Please go ahead and get it done.

[2018-06-14 13:17] atinmu commented on #880
I had already given my +1 earlier. So let's close this process with a
consensus.

On Thu, Jun 14, 2018 at 6:23 PM, Amar Tumballi <notifications@github.com>
wrote:

[2018-06-14 13:34] aravindavk commented on #884
Looks good to me. I am also in favor of Gerrit :)

[2018-06-14 13:54] atinmu commented on #884
My vote would also be for Gerrit.

[2018-06-14 14:05] atinmu commented on #428
@nbalacha @aravindavk @prashanthpai - Could one of you summarize what all things are pending w.r.t the completion of the overall rebalance work?
1. Are all the APIs been in code?
2. Do we have e2e test coverage?
3. Do we have glustercli command in place?
4. Others like ReST API document in wiki et all?

[2018-06-14 15:00] prashanthpai commented on #884
@kshlm @aravindavk  Rebase merging has been enabled.

[2018-06-14 16:25] atinmu opened #887 "Capture all incoming commands in a logfile"
We need something similar to what GD1 provides in cmd_history.log where all incoming CLI commands on that node are logged.

[2018-06-14 20:32] aravindavk commented on #887
incoming API requests are logged(we may have to add parameters as well). CLI logs will not be useful if some functionalities are executed via APIs and some via CLI.

[2018-06-14 21:34] atinmu commented on #887
cmd_history.log file is actually populated by glusterd. What I am requesting for a similar placeholder where one can easily figure out what all commands were (un)successfully executed with a timestamp. Having this captured in glusterd log file itself might not satisfy the need. Believe me, this has immensely helped in debugging different types of problems in glusterd.

[2018-06-15 02:55] obnoxxx commented on #884
@prashanthpai writes:

Thanks for bringing it up again, I meant to come back to this... Let me elaborate a bit on my motivations:

I understand that this is to a good extent personal and aesthetic preference or the way ones brain works. And I personally like to chop problems into as small as possible chunks. I like one commit to the tree to be a self-contained, atomic, and minimal change. It shoul

[2018-06-15 03:40] obnoxxx commented on #884
@prashanthpai writes:

Let's segregate:

### First gerrit:

Agreed. big plus for gerrit and big minus for github.

I know. But this is not a substitute for real patchset reviews. Those patches are just loosely related. What I mean by putting up a patchset for review is that I have a sequence of patches, say 10, that together form one logical change.  I need them to be reviewd together and merged t

[2018-06-15 03:43] obnoxxx commented on #880
@atinmu @prashanthpai @aravindavk @amarts @phlogistonjohn thanks for all your inputs and your openness to consider these! Let's put stuff into a document. And this would be a first cut. This will possibly evolve and change over time, as we gather experiences with the process.

[2018-06-15 04:27] prashanthpai commented on #880
@obnoxxx @phlogistonjohn Can one of you please volunteer to send a PR for the same ? We do have a  general [development guide](https://github.com/gluster/glusterd2/blob/master/doc/development-guide.md) which can have a section to host these rules.

[2018-06-15 04:37] obnoxxx commented on #880
Sure, we'll do that!

[2018-06-15 04:43] prashanthpai opened #888 "config: Remove workdir in favour of localstatedir"
The `localstatedir` is where glusterd2 stores it's state or data. This is similar to `/var/lib/glusterd` from glusterd1.

If `localstatedir` isn't specified, it defaults to using `workdir` as `localstatedir`. If `workdir` isn't specified, it defaults to using current working directory as `workdir` from where glusterd2 is invoked.

Instead, we can remove workdir as a configurable option and set wor

[2018-06-15 04:49] nbalacha commented on #428
1. Are all the APIs been in code?
  - The rebalance APIs REST APIs are done. But there are bugs that still need to be fixed.
2. Do we have e2e test coverage?
  - No
3. Do we have glustercli command in place?
  - No.
4. Others like ReST API document in wiki et al?
  - No.

[2018-06-15 06:07] prashanthpai commented on #884
@obnoxxx

That's universally agreeable method to solve any problem and doesn't translate to one commit per file change in interpretation of most developers ;)

That's also universally agreeable concept. In fact, the one commit per file change breaks that and is exactly what makes it **NOT** self-contained and atomic! On GitHub, an atomic unit is a PR (but depends on contributor's preference of com

[2018-06-15 06:32] prashanthpai commented on #884
...which makes each commit (also a Gerrit change) self-contained and atomic.

You have a change id to track the same fix across release series. You can also accomplish that via Gerrit's "topic". You can cherry-pick and backport from the UI as well with a few clicks. A reviewer of backport can quickly note that it has been cherry-picked and there are no other changes in backport.

For some of us, i

[2018-06-15 09:24] #849 closed

[2018-06-15 11:34] karthik-us opened #890 "SHD is not healing the files"
Even though the shd is started and connected to all the bricks, it is not healing the files which are pending heal.

[2018-06-15 11:37] karthik-us commented on #890
@aravindavk, @vpandey-RH can any one of you take a look at this?

[2018-06-15 11:44] itisravi commented on #890
@karthik-us you might want to explain the imshd part.

[2018-06-15 11:56] karthik-us commented on #890
In the gd1 shd graph for every subvol in a replicated/distributed-replicated volume the option
"option iam-self-heal-daemon yes"
will be set, which is missing in the gd2 shd graph. That might be causing the issue.

[2018-06-15 13:36] aravindavk commented on #890
I will add that missing option, it should be added under `type cluster/replicate` right?

[2018-06-15 13:49] itisravi commented on #890
It applies for both EC and AFR.

[2018-06-15 14:56] atinmu commented on #428
@nbalacha Can we get started on the pending stuffs? Also it'd be worth and very much required to dump all the known TODOs and bug fixes in this issue tracker.

[2018-06-15 15:05] aravindavk commented on #890
@itisravi thanks. Is it possible to paste the sample glustershd volfile from glusterd1?

[2018-06-15 15:23] aravindavk opened #891 "Gluster user Documentation"
Porting upstream Gluster documentation to Glusterd2 and glustercli.

Upstream documentation: https://docs.gluster.org/en/latest

[2018-06-15 15:29] aravindavk commented on #891
We can host in `glusterd2/docs` initially, then we can send to `glusterdocs`. We can consider this as opportunity to restructure the documentation flow.

[2018-06-15 18:06] phlogistonjohn commented on #887
As @aravindavk noted it makes more sense to log the API calls rather than the cli commands alone.

However, I do have two mad-science ideas. First, command line tools could send the originating cli arguments as part of the rest call, either in a header or in specialized attributes common across the api. If present, the logging would record the original cli that initiated the api in question.

Next

[2018-06-15 18:10] atinmu commented on #887
On Fri, Jun 15, 2018 at 11:36 PM, John Mulligan <notifications@github.com>
wrote:

This would satisfy the requirement. The goal is to capture the requests of
the API (with the detailed parameters) and their respective response status
*somewhere* which can be parsed and readable in an easy manner.

—

[2018-06-16 04:56] itisravi commented on #890
http://termbin.com/htqq has the sample output.  If not already there, all the below volume options need to be enabled when shd volfile is created:

[code]

[2018-06-18 04:52] prashanthpai commented on #891
+1

[2018-06-19 06:21] prashanthpai opened #899 "peer list: Add pid field to peer list output"
It's useful to have pid of glusterd2 in the output of `glustercli peer list`. This will help in quickly co-relating ports, peer id and pid when we run multiple glusterd2 on same node during testing and development.

[code]

[2018-06-19 06:41] prashanthpai commented on #899
As pointed out by @Madhu-1 - every peer during start up updates etcd with it's information. As pid won't change after start up, it's okay to store in etcd although it's considered dynamic information. This also incurs no additional overhead.

[2018-06-19 06:48] prashanthpai commented on #899
@Madhu-1 As of current code, the liveness key doesn't have a value. You can store pid as the value for liveness.

[code]

Refer:
**glusterd2/store/liveness.go**:

[code]

[code]

[2018-06-20 08:29] aravindavk commented on #890
One more issue I need to address. Reopened the issue for the same

[2018-06-20 10:44] labazza opened #908 "peer detach not working in glustercli"
hi,

i'm testing some operations with gluster4 and glustercli.
I have re-installed a node with the same host name/IP and add it back to the cluster.
This resulted in a double entry, this could be expected but then i am not able to remove the old one nor the new nor any other node.
So at this point i am not sure i run peer detach correctly or something is not working as expected or everything broke

[2018-06-22 04:52] #899 closed

[2018-06-22 08:03] atinmu commented on #847
@nbalacha - Is this something what you can retest and report back?

[2018-06-22 08:23] atinmu commented on #791
Need retest and also a reproducer with all the logs

[2018-06-22 08:28] atinmu commented on #778
Does this behavior persists for a 3 node cluster?

[2018-06-22 08:30] atinmu commented on #764
retest!

[2018-06-22 11:24] #834 closed

[2018-06-22 11:37] Madhu-1 commented on #779
@rmadaka  if you are able to reproduce this issue, please attach gd2 server logs.

[2018-06-22 11:41] Madhu-1 commented on #908
@labazza can you be more specific with the steps to reproduce the issue.

Note:
*you cannot use hostname or IP to remove peer.

*you are trying ```peer detach``` command, we have replaced ```peer detach``` with ```peer remove``` command. Please make  sure you use the latest glusterd2 build for testing

[2018-06-22 12:23] labazza commented on #908
To reproduce, just try a peer detach and you get 'Peer detach failed'

Note:
* i have tried with hostname, IP and ID
* i have tried this in gluster 4.0 not 4.1 and peer remove is not available:
[root@glusternode-01 ~]# glustercli peer
detach  probe   status
[root@glusternode-01 ~]# glustercli peer

On Fri, Jun 22, 2018 at 1:41 PM Madhu Rajanna <notifications@github.com>
wrote:

[2018-06-22 12:39] Madhu-1 commented on #908
can you update the configuration used on each glusterd2?
are you using external ETCD or elastic ETCD for glusterd2

[2018-06-22 12:50] labazza commented on #908
Hi Madhu,

i just did a yum install glusterd2 in two nodes, nothing is running on
them, i performed a peer attach and peer detach and failed that way, i post
below the glusterd2 version and centos version.
API call as said before is working and anyways i will move to 4.1 asap.

[root@glusternode-01 ~]# yum info glusterd2
Loaded plugins: puppet
Looking at puppet catalog for repo info
1703 packages

[2018-06-22 12:54] atinmu commented on #726
Do you mean 'man gluster' ?

[2018-06-22 12:56] atinmu commented on #718
@prashanthpai What's the priority of this? Can you please set the labels accordingly?

[2018-06-22 13:05] atinmu commented on #670
Anything pending here @kshlm ?

[2018-06-22 13:08] atinmu commented on #668
I sort of forgot the motivation behind this request. Do you guys happen to recollect it?

@prashanthpai @amarts ^^

Based on that information the labels need to be set.

[2018-06-22 13:10] Madhu-1 commented on #726
in heketi, we have example for each CLI commands

[code]

can add similar examples to each glustercli commands, it will be easy to try out things easily.

[2018-06-22 13:16] atinmu commented on #726
Sure!

On Fri, Jun 22, 2018 at 6:40 PM, Madhu Rajanna <notifications@github.com>
wrote:

[2018-06-23 15:37] atinmu commented on #620
@prashanthpai Is there any more work pending for this issue?

[2018-06-23 15:42] atinmu commented on #609
Placeholder for checking the parity. To be completed by GlusterFS 4.3.

[2018-06-23 15:50] atinmu commented on #585
@Madhu-1 @rishubhjain Can you guys check this and see if the current quick start guide has any flaws w.r.t what has been mentioned here? Otherwise this issue needs to be taken to the closure.

[2018-06-23 15:53] atinmu commented on #584
Can we please cross check all the end points and keep the API doc up to date?

@rishubhjain @Madhu-1 can one of you take this up please?

[2018-06-23 15:54] atinmu commented on #576
@prashanthpai @rishubhjain Anything pending on this? If not can this be closed?

[2018-06-23 16:00] atinmu commented on #561
@kshlm bump! anything pending on this?

[2018-06-23 16:36] atinmu commented on #417
@amarts Technically does this issue need to exist by itself as we're already working on IVP pieces tracked through #466 ?

[2018-06-23 16:42] rishubhjain commented on #576
@atinmu Few were remaining, https://github.com/gluster/glusterd2/pull/910 will address this issue.

[2018-06-23 16:49] rishubhjain commented on #585
@atinmu This issue has been addressed partially. Will check with @prashanthpai if we can address the complete issue right away.

[2018-06-24 06:38] atinmu commented on #269
@aravindavk Where are we w.r.t feature completion? Please label this issue accordingly.

[2018-06-25 03:19] atinmu opened #911 "plus one scaling"
Details captured at glusterfs github : https://github.com/gluster/glusterfs/issues/169

This issue is to track the work required in GD2 to achieve this feature.

[2018-06-25 03:21] atinmu opened #912 "gluster-block integration with GD2"
With GD2 we need to come up with an integration method on how gluster-block can be setup.

[2018-06-25 03:24] atinmu opened #913 "User serviceable snapshot with GD2"
USS feature needs to work with GD2

[2018-06-25 03:26] atinmu opened #914 "snapshot bricks need to be multiplexed"
Currently with GD1, snapshot bricks are not multiplexed. With gluster container storage where there is high density of total number of volumes in the cluster, snapshot bricks need to leverage the mechanism of brick multiplexing to reduce overall resource consumption.

[2018-06-25 04:16] Madhu-1 commented on #584
@atinmu  sure , I will look into it

[2018-06-25 06:45] aravindavk commented on #835
Added `GCS-Blocker` since old volfiles will get accumulated in etcd even after volume delete.

[2018-06-25 07:06] kshlm commented on #778
This is the same as #332. Closing this in preference to the older issue.

[2018-06-25 07:06] #778 closed

[2018-06-25 07:12] kshlm commented on #527
@prashanthpai implemented bits of this to perform txn context storage operations during transactions with #809.

[2018-06-25 07:14] kshlm commented on #670
Nightly RPMs are being built for EL7 at [centos-ci][1]. More information on how to use them can be found in the [nightly builds][2] wiki entry.

[1]: https://ci.centos.org/view/Gluster/job/gluster_gd2-nightly-rpms/
[2]: https://github.com/gluster/glusterd2/wiki/Nightly-Builds

[2018-06-25 07:21] #670 closed

[2018-06-25 08:22] rishubhjain commented on #576
@prashanthpai I guess the issue has been addressed, we can close this issue now.

[2018-06-25 08:22] aravindavk commented on #269
Current volgen handles all the volume types and options. Template based volfiles generation is low priority. Closing this issue.

[2018-06-25 08:22] #269 closed

[2018-06-25 09:31] #621 closed

[2018-06-25 09:31] #875 closed

[2018-06-25 11:23] kshlm opened #919 "More distributed and resilient transactions"
The transaction framework as it exists right now, works well. But it has a couple of drawbacks owing to it having a leader who drives the transactions steps.

As we depend on the leader to drive transactions, we also depend on the leader to recover from failures. In case the leader of a transaction fails (quits/crashes) in the middle of a transaction, the transaction would remain unfinished and an

[2018-06-25 11:40] atinmu commented on #919
Putting down my immediate thoughts:

We need to figure out a way to see how the step dependencies and synchronization between different phases can be handled with this model before getting into the implementation part as if we can’t solve this part the whole purpose of this enhancement will be defeated.

Also does this also mean every transactions/API/CLI calls will become asyncronous with this mo

[2018-06-25 12:11] shtripat commented on #919
My 2 cents, regarding locks, can we think of maintaining global lock details in a namespace which all the peers have access to and use this in addition while acquiring lock if there is a re-election of leader?

[2018-06-25 12:31] kshlm commented on #919
I have a very basic solution that would do this. We could have a sync step, that can be added between 2 steps that need to be synchronized. The peers would pause at this step, wait for all other peers to execute this particular step, before continuing with the next step. This can ensure that all previous steps are done everywhere before the next step is executed.

Implementing this can also be sim

[2018-06-25 12:33] kshlm commented on #919
This is most likely what we'll need to do.

[2018-06-25 20:29] rafikc30 commented on #831
- [ ]  config options
        * activate-on-create
        * hard-limit a d soft-limit
        * auto-delete
- [ ]  copy quotad configuration during snapshot create
- [ ]  Label based snapshots
- [ ]  copy geo-replication configuration during snapshot create
- [ ]  check for rebalance status during snapshot create (Need to have a common snapshot check api)
- [ ]  High Availibility for snapshots
-

[2018-06-26 04:38] rishubhjain opened #920 "Add metadata for devices"
Just like Peer and Volume metadata, users should be able to provide, metadata for devices as well.
For now the device metadata will be stored in Peer object itself.

Part of : https://github.com/gluster/glusterd2/issues/728

[2018-06-26 04:50] aravindavk commented on #920
It should be in device struct not in peer struct directly.

[2018-06-26 05:44] aravindavk commented on #418
API endpoints are implemented for Events APIs. I will open new issue to track the pending issues related to Events APIs

[2018-06-26 05:44] #418 closed

[2018-06-26 05:56] aravindavk opened #921 "Events API enhancements"
- [ ]  Add support for events listener port for glusterfs daemons like `glusterfsd`, `glustershd`, `gsyncd`, `quotad` etc.
- [ ] Webhook Test API  (Say `POST /webhook/test`), From all peer nodes send a dummy HTTP POST message to webhook URL. return success if Webhook is reachable
- [ ] All event names to new format(Ex: `VOLUME_CREATE` to `volume.created`)
- [ ] On receive of local event from other

[2018-06-26 06:12] aravindavk commented on #921
Currently in Gd1, Events Port is defaulted to `#define EVENT_PORT 24009`, This should change to accept event-port as parameter. The changes are expected in two places, 1) Glusterfs source to add this new argument and use it whenever required. 2) Modify Glusterd2, daemon management code to include this argument while spawning every daemon.

For example, to enable brick process to send events, glust

[2018-06-26 07:39] rafikc30 opened #922 "Back Up and Restore quota related information during snapshot create and restore"
Quota information stored in etcd/disk need to be backed up during snapshot create and same has to be restored during snapshot restore.

Once quota information has completely stored in either etcd/disk this issue has to be worked on.

[2018-06-26 08:01] Madhu-1 opened #923 "Trigger actors on volume start/stop"
if the options are set during volume creation, Trigger actors to start daemons on volume Start and to stop daemons on volume stop.

[2018-06-26 08:03] aravindavk commented on #923
Also required during stop to stop the daemons when Volume is stopped

[2018-06-26 08:54] prashanthpai commented on #214
First step - we need to check current state of:

* TLS between client (glusterfs mount) and glusterd1
* TLS between client and brick processes after initial handshake

[2018-06-26 08:58] prashanthpai opened #924 "Let bricks choose their own port"
The current way of glusterd2 picking ports for bricks is racy and we often see e2e test failures related to that. We must let the bricks pick their own ports.

[2018-06-26 09:05] #890 closed

[2018-06-26 09:20] aravindavk opened #925 "Persistent Brick index for Self Heal xattr names"
Afr records dirty flag details in xattr. The name of the xattr is `<volume-name>-client-<index>`

These xattrs names are specified as `afr-pending-xattr` in volfile so that both Client and Self heal daemon will understand. For example,

    volume testvol-replicate-0
        type cluster/replicate
        option iam-self-heal-daemon yes
        option use-compound-fops off
        option self-heal

[2018-06-26 09:20] aravindavk commented on #925
@itisravi please add if I missed anything

[2018-06-26 09:40] amarts commented on #925
I would like to keep the subvol names as brick id, but the hard part is it gets messed up with debugging. Another way to solve the exact upgrade issue is, to handle the subvol ordering (naming) in volume create itself in the json request. That way, if the names are provided, volgen would use it, if not, it will assign brick-id ?

[2018-06-26 09:45] prashanthpai opened #926 "CI: TestBitrot/Replica-volume fails often"
[code]

Starting of brick has failed.

[2018-06-26 09:47] amarts commented on #924
@prashanthpai we need to discuss and detail out the tasks here. This can be decent amount of work. Lets see what is the minimum we have to do to handle the races, and what is the 'ideal' solution in long run.

[2018-06-26 09:50] amarts commented on #887
I would vote for logging the 'API's. Also, we need a mechanism to identify different clients, like glustercli, gluster-ansible, gluster-csi, gluster-operator etc from API endpoint too. Can this be a Cookie in the header? Should we mandate a Cookie from each client connecting?

[2018-06-26 09:50] prashanthpai opened #927 "e2e: Do not use global variable tmpDir"
`tmpDir` is a global variable that multiple tests seem to over-write. This should be fixed. Each test must have it's own variable:

[code]

[2018-06-26 10:01] amarts commented on #417
I would keep it open till the first release to see how many of our APIs still need concept of 'brick'. Hope that is fine. We can run all the commands and see what needs to be done.

[2018-06-26 10:04] prashanthpai commented on #924
@amarts That's right. I'm optimistic that we can build upon prior work done by Prasanna here:

https://review.gluster.org/#/c/14670/
https://review.gluster.org/#/c/14613/
https://review.gluster.org/#/c/14671/

To further reduce the amount of work and to not introduce new regression, unlike the patches above, we can consider to omit corresponding changes in glusterd1 and limit this change to gluste

[2018-06-26 10:14] prashanthpai commented on #887
Yes, a cookie or an identifier. We can also make use of [user agent string](https://en.wikipedia.org/wiki/User_agent) if present. When using curl, or a web browser, user doesn't have to do anything extra to set it. Example:

[code]

That's not ideal and will be too stringent.

[2018-06-26 11:01] kshlm commented on #214
Just dumping what I remember. Ask me if you need any further clarifications.

Currently with GD1 and glusterfs, TLS is implemented using OpenSSL, and IIRC is limited to TLS1.0 and above, with a specific cipher list and encryption options (DEFAULT_CIPHER_LIST, DEFAULT_DH_PARAM, DEFAULT_EC_CURVE etc) which can be configured during runtime.

TLS is integrated with the rpc socket transport, and gets e

[2018-06-26 11:36] itisravi commented on #925
actually, during `replace brick` , the new brick does get the same index as the old one.

[2018-06-26 11:41] itisravi commented on #925
Is this Brick ID different from the one in GD1? In GD1, AFR uses this BrickID only (introduced in the patch you referred to in the description above) as the xattr name: https://review.gluster.org/#/c/12738/

[2018-06-26 12:14] kshlm commented on #887
A logging middleware already exists in the ReST server which logs all incoming requests into the default log file. If required this can be extended to log to a separate file.

And as @prashanthpai mentioned, using a user-agent-string for identifying different types of clients would be the preferred way.

[2018-06-26 12:19] kshlm commented on #262
@atinmu This will be a GCS-Blocker only if we plan to use elasticetcd for GCS. But as of right now (as I understand), the plan is to have GCS use an seperate etcd cluster running in k8s.

[2018-06-26 14:54] atinmu commented on #496
@prashanthpai Can you please take this to the closure in GCS-Sprint1? If you agree, please put it against the milestone.

[2018-06-26 15:12] atinmu commented on #728
@rishubhjain Can't this be targeted for GCS-Sprint1?

[2018-06-26 15:18] atinmu commented on #472
@prashanthpai Can we pick this up for GCS-sprint1 ?

[2018-06-26 15:20] atinmu commented on #219
@raghavendra-talur I'd like you to pick this up for GCS-Sprint1.

[2018-06-27 04:36] poornimag commented on #614
I think the only thing that remains is to put the volume options to a file, instead of keeping it in gd2 codebase. Is there anything else?
For this, we need to handle the scenarios where the file is different on each node(due to different versions) and if we want to store it in etcd as well. Any thoughts on how to handle this scenario?

[2018-06-27 04:42] atinmu commented on #614
@poornimag Do we have all group profiles which exist today in coverage?

[2018-06-27 04:42] aravindavk commented on #847
The issue is fixed by the PR #797 as mentioned in the previous comment. Closing this issue. Please reopen if this issue found again.

[2018-06-27 04:42] #847 closed

[2018-06-27 04:43] #880 closed

[2018-06-27 04:47] atinmu commented on #515
I'd like someone to start working on this in GCS-Sprint1 itself. Anyone?

[2018-06-27 04:49] atinmu commented on #503
@aravindavk Now I see #572 is closed. Can we close this issue now?

[2018-06-27 04:51] atinmu commented on #469
I can't assign rmadaka this issue as he seems to be not part of the gluster.org in github. Pinged @kshlm about it.

[2018-06-27 04:52] Madhu-1 commented on #503
@atinmu   #572 is Superseded by #861, once it's merged. we can close this issue.

[2018-06-27 04:52] atinmu commented on #454
@poornimag @aravindavk  Is there anything pending for this? If not we need to close this one.

[2018-06-27 04:54] atinmu commented on #421
@harigowtham Please provide the details on what all parts of quota APIs are we targeting to complete by GCS-Sprint1.

[2018-06-27 06:59] aravindavk commented on #614
I think we need an option to customize each deployments, we can have json files in codebase, which can be replaced/customized during build.

@amarts thoughts?

[2018-06-27 08:54] poornimag commented on #614
@atinmu yes AFAIK all the group options are there, along with additional ones,
https://github.com/gluster/glusterd2/blob/ff117730aae14c3dd2cb896dc1bb8f46cf9ff00a/glusterd2/commands/volumes/grouped-options.go

[2018-06-27 08:57] prashanthpai commented on #454
This is a duplicate of issue #614

[2018-06-27 08:57] #454 closed

[2018-06-27 09:46] #819 closed

[2018-06-27 09:55] prashanthpai commented on #576
@rishubhjain There's a lot more places:

[code]

[2018-06-27 10:14] prashanthpai opened #930 "CI: Deploy external etcd for e2e tests"
As the first and imminent deployment of glusterd2 will be in a K8s environment, glusterd2 shall use an external etcd cluster managed by K8s etcd operator. To focus on testing that focused deployment, I propose we change our e2e tests running on CI test runs to use an external etcd cluster. This external etcd cluster can be a single node cluster for testing purposes.

[2018-06-27 10:44] rishubhjain commented on #728
@atinmu Since all the important pieces related to IVP are already in, we can take this up in the next sprint and focus on other blockers in this sprint (GCS-Sprint1).

[2018-06-27 14:03] Madhu-1 opened #931 "Re-using active brick paths for another volume must be disallowed"
**steps to reproduce issues**

1)create 2 volumes with same bricks
2)start 2 volumes
3)check glustercli volume status

[code]

**Expected Result:**

Brick ports should not be empty

**Failed to get volume status for same senario**

[code]

[2018-06-27 15:32] atinmu commented on #456
Is @devyanikota still owning this up and taking it to completion? Or is it @vpandey-RH you?

[2018-06-27 16:20] vpandey-RH commented on #456
@atinmu  I have added the CLI as well as the e2e test for this which was missing after the rest API was completed by @devyanikota  . The PR is still under review.

[2018-06-27 19:30] phlogistonjohn commented on #927
@prashanthpai I'm interesting in helping with this as I've already poked at this area a bit and it helps me keep in practice in GD2 land.

[2018-06-28 04:06] prashanthpai commented on #926
Closing this issue to track all spurious failures at https://github.com/gluster/glusterd2/issues/617

[2018-06-28 04:06] #926 closed

[2018-06-28 04:06] prashanthpai commented on #617
[code]

[2018-06-28 04:06] prashanthpai commented on #617
I've seen two types of spurious failures:

* The peer add /remove failures should go away once elastic etcd issues are fixed OR when we move e2e tests to external etcd. Related issues: https://github.com/gluster/glusterd2/issues/714 https://github.com/gluster/glusterd2/issues/332 https://github.com/gluster/glusterd2/issues/930
* Failure to start brick because of race in pmap port allocation. This

[2018-06-28 04:07] prashanthpai commented on #715
@Madhu-1

Can you describe reproducer steps for the same ?

[2018-06-28 04:13] prashanthpai commented on #527
#809 uses etcd v3 transactions to PUT multiple key-value pairs as a single atomic operation. We may continue to use etcd v3 transaction wherever we see fit, probably in the new/better txn framework https://github.com/gluster/glusterd2/issues/919

There's nothing else to be done here. Closing this issue

[2018-06-28 04:13] #527 closed

[2018-06-28 04:15] prashanthpai commented on #884
The original issue reported by @atinmu has been fixed. I'll leave the issue open as it has arguments for and against moving to Gerrit. Will change the title accordingly.

[2018-06-28 04:19] prashanthpai commented on #472
Deferring it as it may need more discussion if we target to improve it. And it likely has dependencies on remove brick, self heal and rebalance.

[2018-06-28 05:03] prashanthpai opened #932 "Consolidate quotad and self heal restart mechanisms"
Self heal daemon doesn't need a restart when it's enabled for a new volume. It can fetch the new volfile over RPC. However, quotad needs a restart when quota is enabled for a new volume.

This discrepancy is causing unnecessary complexity in implementing and drawing parallels between the two.  Quotad should be enhanced so that it doesn't need a restart when quotad is enabled for another volume.

[2018-06-28 05:37] prashanthpai commented on #496
@atinmu Actually, most of the work on this one is being done by @samikshan and @Madhu-1

[2018-06-28 05:55] prashanthpai commented on #931
This is a regression from glusterd1 behaviour:

[code]

Same check must be done in glusterd2.

[2018-06-28 06:41] atinmu commented on #924
Would be interested to know how with out GD1 changes this can be taken care of.

In anyways, I’d suggest when we build up brick multiplexing support in GD2, we take care of this part.

^^ @rtalur

[2018-06-28 07:14] prashanthpai opened #933 "cli: Volume create without name as a flag fails"
[code]

[code]

RCA:

**glustercli/cmd/volume.go**:

[code]

[code]

**Workaround**: Use `--name` flags explicitly

[code]

[2018-06-28 07:15] Madhu-1 opened #934 "self heal daemon is getting started for stopped/created volumes"
steps to reproduce the issue
1)create a volume, don't start the volume

2)set an option on volume

ex:=
[code]

Issue: self heal daemon has started
[code]

**Expected Result:**
we should not start daemon if the volume start is other then started

[2018-06-28 07:25] prashanthpai opened #935 "cli: Add more fields to glustercli volume list"
Current output of `glustercli volume list` is very minimal.

[code]

The following fields must be added: transport, type, state as they are already present in REST API response are agnostic to volume type.

[2018-06-28 07:32] prashanthpai commented on #924
gd2 case: If brick-port is not passed as an argument while spawning brick, glusterfsd will bind to a free port.

gd1 case: Glusterd1 will continue to explicitly set a brick-port as command line arg when spawning brick process. No change will be made there.

In both cases, brick process will report the port used by it to glusterd{1,2} in the `SIGN IN` request.

[2018-06-28 07:36] aravindavk commented on #933
What is the expected behavior? We recently changed Volume name as optional input.

[2018-06-28 08:36] aravindavk commented on #919
What will happen to ongoing request if initiator node goes down. Will application gets connection refused or all the APIs need to be changed as async APIs?

[2018-06-28 08:38] kshlm commented on #919
The client gets a disconnect, and will not know about the status of the request. But if the transaction was initiated, it would continue independently.

[2018-06-28 08:47] aravindavk commented on #919
Looks good in a way(wrt to Transaction completeness and Rollback). But state mismatch between Application and Glusterd2, Application thinks request is failed but it may be successful.  If APIs are async, applications will have reference number to check back the status of the request. Any plans to address this issue?

[2018-06-28 08:51] aravindavk commented on #919
If Client disconnect can be detected or when initiator node goes down, how about initiating rollback instead of completing the request.

[2018-06-28 09:15] aravindavk commented on #919
Other problems:

- If initiator node goes down between transaction, Rollback steps from that node will not be executed. Need a mechanism to call rollback once that node comes back up.
- Repeated requests. This is not a problem in most cases(For example Volume start API called twice). But in some APIs which creates new entity and assigns ID Like Dynamic Volume provision, Volume name is optional and

[2018-06-28 12:15] kshlm commented on #919
This is required not just for the initiator node, but for any involved node going down. Handling it for the larger case will handle it for this specific case.

I agree  that this is a problem specifically with IVP. But for other cases, I'd say we need to ask that clients don't try to maintain state, and that we should ensure that our APIs are idempotent. This way clients should be able to retry an

[2018-06-28 12:39] raghavendra-talur commented on #932
+1

Same is the case for rebalance. @prashanthpai should that be a different issue?

[2018-06-28 12:45] prashanthpai commented on #933
Isn't that only in the presence is `--size` ?

Is the following backward compatible syntax not valid anymore ?

[code]

[2018-06-28 12:47] aravindavk commented on #919
+1

I will revert that patch and make Volume name as required again. Just to make sure, I will look into all the existing APIs to see this problem exists.

[2018-06-28 12:54] aravindavk commented on #933
No. For all cases.

Just added comment to Transaction framework thread to make this as required field again https://github.com/gluster/glusterd2/issues/919#issuecomment-401022413 to solve the Repeated request issue as mentioned in https://github.com/gluster/glusterd2/issues/919#issuecomment-400969293

[2018-06-28 13:29] raghavendra-talur opened #938 "How should brick deletion be handled on volume deletion"
There are two modes of volume creation today

1. With brick paths from admin
2. smart volume, where bricks are generated by gd2.

I propose that the brick deletion happens in complementary way.

1. for admin provided bricks, bricks should not be deleted on volume delete
2. for smart volumes, bricks should be cleaned up on volume deletion.

Implementation:
we could have a volume attribute(delete-br

[2018-06-28 13:48] aravindavk commented on #938
Different behavior for Volumes based on Create method is very confusing. I suggest to add parameter to Volume delete API.

    curl -XDELETE http://localhost:24007/v1/volumes/:name -d '{"delete-bricks": true}'

We can also provide API to cleanup/delete brick/device(Device remove is mentioned here https://github.com/gluster/glusterd2/issues/728). Brick delete only allowed if it is not part of any A

[2018-06-28 16:51] phlogistonjohn commented on #938
The downside to requiring the user to specify an also-please-delete-bricks option is that it either requires the client to know the volume was auto provisioned or somehow figure that info out. However, the nice thing about the approach @aravindavk proposes is that it's very clear and explicit.

Perhaps we can find a middle ground by adding metadata to the volume that indicates that the volume's br

[2018-06-29 04:46] amarts commented on #938
We anyways provide lot of flags for volume create, like re-use bricks, force create bricks etc etc... Keep the flag in delete too like @aravindavk suggested, also add a explicit flag (instead of 'tag' @phlogistonjohn suggested) in volume create which says what should be the delete behavior. That way, a client (assuming it is scripted) would always create a volume with the property it wants.

But,

[2018-06-29 04:58] atinmu commented on #938
I personally think it's absolutely needed for GD2 to internally have differentiation between smart and non smart volumes. Ad @phlogistonjohn suggested having an internal metadata maintained and taking a decision based on that whether to delete the backend or not makes better sense to me.

[2018-06-29 05:36] #931 closed

[2018-06-29 06:19] prashanthpai commented on #919
Some thoughts on the topic idempotency and txn leader :

Just clarifying terms used to developers who don't work on glusterd2:

*initiator node*: the node that received the HTTP request from a client for a management operation (volume create, start etc)

*distributed lock*: taken by a node using the [etcd API](https://godoc.org/github.com/coreos/etcd/clientv3/concurrency#Mutex.Lock). When the lock

[2018-06-29 06:30] Madhu-1 opened #940 "glusterd2 and glustershd logging same logs continuously after volume stop"
**steps to reproduce the issue**
1)create 2 volumes
2)start 2 volumes
[code]
3) set self heal daemon option on 2 volumes
[code]

4)stop one volume
[code]

**Issue:**
glusterd2 and glustershd keeps on generating same logs (which may fillup the space on long run)

**Expected behavior:**
logging should be done only one time

**Glusterd2 Logs:**
[code]
glustershd logs:
[code]

[2018-06-29 06:30] Madhu-1 commented on #940
@prashanthpai can you make this as a bug

[2018-06-29 07:52] atinmu commented on #919
Getting the design ready and a first cut implementation of this enhancement is the target of GCS-Sprint1. Taking this enhancement to the completion will happen over multiple sprints.

[2018-06-29 08:04] sseshasa opened #941 "GD2 Tracing: Add Opencensus/Jaeger infrastructure for tracing GD2 management commands."
Add the necessary infrastructure to enable tracing using opencensus and Jaeger.

[2018-06-30 19:02] phlogistonjohn opened #946 "Expand daemon management interfaces to support multiple backends"
(As promised - a general writeup of how we might update the daemon management support to better support multiple backends)

The following is mostly in pseudo-golang, it looks like go, but I haven't tried to compile it.

The general gist of my idea is to use a more declarative style while allow the system to avoid blocking when undesired and to be able to allow the back-end to monitor and react to

[2018-07-02 03:27] #935 closed, assigned to prashanthpai

[2018-07-02 04:14] #888 closed

[2018-07-02 09:49] prashanthpai commented on #946
This is a good write-up! I'm curious about a few things:

    // Info returns a mapping of strings representing various contextual status values.
    // The contents will vary based on the Manager's implementation but should
    // generally be suitable for logging. Callers should not expect any particular keys
    // but simply treat them as labels for the corresponding values.
    Info() map[str

[2018-07-02 15:09] phlogistonjohn commented on #946
Thank you!

[code]

The idea behind this was to provide a general way of reporting on the status of this daemon without making callers type convert from the interface to the backend-specific implementation of status. This data can be used by the logging system, for example, to report on the status of the deamon.

A more concrete (but hypothetical) example might help: imagine back-ends for direct m

[2018-07-02 15:17] phlogistonjohn commented on #946
Another idea for an alternate name for `SetState`: `WantState` ...

[2018-07-02 19:32] phlogistonjohn commented on #919
Here are some of my initial reactions to the original post. I realize some of this has already been discussed in subsequent comments after skimiming them but instead of editing and re-editing my notes I'm just going to drop them here and then react to comments individually. Please feel free to point out anything in my reaction that has already been settled or modified in case I missed it.

Might I

[2018-07-02 19:39] phlogistonjohn commented on #919
This is where an async api would be useful IMO. The server would reply back to a request with an immediate response of a uniqe "cookie" that the client then uses to track the status of the transaction itself rather than relying on a particular tcp connection to live. That said I don't think the issue is a dealbreaker in a sync api. You might just change the api such that a "cookie" is required at

[2018-07-02 19:43] phlogistonjohn commented on #919
I'd strongly suggest that the design doc live as a file within the glusterd2 repo. You get the benefit of using the PR system for review and feedback and when all is said and done it's a file in your repo that can live along side the code that implements it. Future PRs can update the doc. IMO google docs are not nearly as transparent and discover-able and wiki pages often quickly become neglected

[2018-07-02 20:12] phlogistonjohn commented on #919
+1 to the general gist of a journal.

This works really well for transactions that update a single "object" in the store. I think we need to be a little careful about dealing with scenarios that either need to draw data from the underlying system, like say pulling in the output of a lvm command or updating many objects.  (More on this below)

+1

+1 this is one of the parts of the story that is mi

[2018-07-02 20:23] phlogistonjohn commented on #919
I think one thing that can help the design is if the doc contains a few example scenarios and how the system would handle them.

Personally, I'd like to cover how it might handle stuff going from low complexity to high:
* Simple volume creation - happy path
* Simple volume creation - worker node dies
* Simple volume creation - initiating node dies
* Rough sketch IVP - happy path  (for cover multi

[2018-07-03 02:29] atinmu opened #948 "daemon-log-level cluster wide option"
As of now we have a client-log-level option which can be applied per volume basis. However this gets applied on all the clients and is not an global option. In a scaled setup where there are too many new volume requests coming in, daemons like shd get restarted on every volume start which can bloat the shd logs significantly. Users might need a global tuning which can help in logging in a particul

[2018-07-03 06:29] aravindavk opened #950 "New Geo-replication API request"
Geo-replication status API gets realtime status from all master nodes. New API is required to get just the list of Geo-replication sessions from etcd.(Similar to Volume info)

Get list of all sessions

    GET /v1/geo-replication/info

`GET /v1/geo-replication` returns Status.

[2018-07-03 06:42] aravindavk commented on #950
Sorry for the confusion. API is already available, CLI does extra things to return realtime status even though session details not specified. https://github.com/gluster/glusterd2/blob/master/glustercli/cmd/georep.go#L408

Closing this issue.

[2018-07-03 06:42] #950 closed

[2018-07-03 07:02] #934 closed

[2018-07-03 07:20] sseshasa commented on #941
PR #951 added to track the changes.

[2018-07-03 11:37] sac opened #953 "[RFE] Add vdo support while setting up backend for dynamic provisioning"
VDO is being widely used, we should add VDO support while setting up bricks.
Most of the documentation for VDO can be found in their man pages.

For more documentation and reference, there is a Ansible module which facilitates the vdo creation and deletion. https://docs.ansible.com/ansible/2.5/modules/vdo_module.html and ansible role to setup bricks using VDO https://github.com/gluster/gluster-ans

[2018-07-04 02:03] greatwar opened #954 "volume option not found shard.shard"
gd2 report shard.shard option not found, which named features.shard in gd1.but option shard.shard-block-size accepted by gd2.

after search the doc/issues/sources .  gd2 load options from xlator.so , but only shard-block-size defined in xlator options: (from  [src of shard.c](https://github.com/gluster/glusterfs/blob/release-4.1/xlators/features/shard/src/shard.c))
[code]

so how to enable shard f

[2018-07-04 03:15] aravindavk commented on #954
Thanks for reporting the issue. Currently gd2 expects `<xlator-name>.<option>`, but in this case `shard` enable option was only maintained in Glusterd1 and not in shard xlator. We will work on the fix.

[2018-07-04 03:32] aravindavk commented on #954
https://github.com/gluster/glusterd2/issues/853

[2018-07-04 03:35] aravindavk commented on #428
This is expected behavior wrt REST APIs. For ease of use CLI can expose `--force` or `--fix-layout` flags

[2018-07-04 07:01] prashanthpai opened #955 "Supporting setting volume options that do not belong to any xlator"
During volume set, glusterd2 will validate if an option is valid or not by checking if the option is present in loaded xlators. Some volume options (such as those of NFS ganesha) won't be present in xlators and hence will be invalid.

The actor framework can be used to set actions for volume options that do not belong to xlators, We have to maintain a list of such options somewhere and let validat

[2018-07-04 07:08] prashanthpai opened #956 "e2e: Fix index out of range stacktrace"
[code]

This is probably seen because `setupCluster` sometimes does not return an error if `[]gdProcess` isn't properly populated.

From **e2e/utils_test.go**
[code]

We should ensure that `setupCluster` returns as many instances of `gdProcess` as the number of config files passed. If that's not the case, it should return an error.

[2018-07-04 08:32] Madhu-1 commented on #503
@atinmu  we can close this issue. #861  is merged

[2018-07-04 08:33] Madhu-1 commented on #496
@atinmu we can close this as well. #861  is merged now.

[2018-07-04 08:34] #496 closed

[2018-07-04 08:36] prashanthpai commented on #503
@Madhu-1 I'd leave this open a filtering is pending

[2018-07-04 09:18] aravindavk opened #957 "Restarting Self-heal daemon when Volfile changes"
Self-heal daemon needs to be restarted on volfile change(Volume Start/Set/Reset/Stop)

[2018-07-04 09:21] aravindavk commented on #932
Restart required for Self-heal daemon too. Existing self-heald is not capable of re-configuring itself on Volfile change.

[2018-07-04 09:22] aravindavk commented on #957
I didn't noticed issue already exists. Closing this issue

https://github.com/gluster/glusterd2/issues/932

[2018-07-04 09:22] #957 closed

[2018-07-04 09:24] aravindavk commented on #932
Since this is Volume level(One process per Volume) daemon, we can optimize our notification mechanism to not notify when new Volume is added or a Volume is deleted. So that daemon restart will be limited to only Volume set/reset of that Volume only.

[2018-07-04 09:30] aravindavk commented on #925
To summarize,

- On Volume create start brick index from 0.
- Continue the numbering across the sub volumes.
- On Replace brick, reuse the same index as previous brick
- Add brick always gets `max_index+1`
- Index can be reused if complete sub volume is removed and new sub volume is added.

[2018-07-04 09:39] sabose commented on #414
Can we raise priority on this - to use Swagger for autogen of python-bindings?

[2018-07-04 10:02] aravindavk commented on #414
Sure. I have in-progress API specification for Volume info, I will submit that PR. Other APIs specifications can be added later. Let us know if that is fine.

[2018-07-05 05:56] atinmu commented on #631
The scope of GCS Sprint1 to have get started with some of the .t integrations especially on the basic .t files.

[2018-07-05 06:19] Madhu-1 commented on #503
@prashanthpai  sent a patch for filtering in #958

[2018-07-05 07:51] rmadaka commented on #779
Not able to reproduce this issue with latest build, closing this issue

[2018-07-05 07:51] #779 closed

[2018-07-05 11:15] rmadaka commented on #787
Not able to reproduce this issue with latest build

[2018-07-05 11:15] #787 closed

[2018-07-05 11:20] rmadaka commented on #787
If we are trying to use previous volume brick , volume creation failing with below error .
closed this issue as not reproducible.

 ./glustercli volume create rep4 replica 3 10.70.35.33:/bricks/brick0/rep4 10.70.35.52:/bricks/brick0/rep2 10.70.35.8:/bricks/brick0/rep4
Volume creation failed

Error: Request failed with HTTP Status code 500
Transaction step vol-create.ValidateBricks failed on peer 7

[2018-07-05 12:32] Madhu-1 commented on #791
I Have raised the same issue #931   @prashanthpai I think this is not completely fixed

[2018-07-05 12:49] Madhu-1 commented on #791
@prashanthpai  can you move out this of this sprint, as we are not able to reproduce the original issue, we are facing a new issue here

[2018-07-05 12:50] prashanthpai commented on #791
@rmadaka I'm not looking at this issue yet. At a quick glance at this, I saw, use of `kill -9` which sends a `SIGKILL` and not a `SIGTERM`. Please try to reproduce this with a `SIGTERM`. See man page of kill command for more details

[2018-07-05 13:17] rmadaka commented on #764
Now invalid volume type throwing proper error messages with latest build, messages seems to be fine closing this issue

below commands tried:
1)
./glustercli volume create vol1 @# 10.70.35.33:/bricks/brick0/rep7 10.70.35.52:/bricks/brick0/rep7 10.70.35.8:/bricks/brick0/rep7
Error getting brick UUIDs

Error: invalid Brick details, use <host>:<path> or <peerid>:<path>

2)
./glustercli volume create

[2018-07-05 13:17] #764 closed

[2018-07-05 17:12] phlogistonjohn commented on #414
@ansiwen  is interested in this topic as well

See also: https://github.com/gluster/python-gluster-mgmt-client/issues/9

[2018-07-06 06:22] rmadaka commented on #791
@aravindavk : Here brick process are not going down, port-id became '0'

[2018-07-06 06:41] harigowtham opened #963 "quota limit set"
Enabling the limit set operation on the quota enabled volumes through GD2

[2018-07-06 06:42] harigowtham opened #964 "quota limit remove"
To remove the quota limit set on a quota enabled volume

[2018-07-06 06:43] harigowtham opened #965 "quota list"
The quota list command to print the list of limits with their corresponding values.

[2018-07-06 06:44] harigowtham opened #966 "quota cli"
The cli for all the quota related commands

[2018-07-06 06:47] harigowtham commented on #421
https://github.com/gluster/glusterd2/issues/966
https://github.com/gluster/glusterd2/issues/965
https://github.com/gluster/glusterd2/issues/964
https://github.com/gluster/glusterd2/issues/963

are the broken down quota integration issues.

[2018-07-06 08:15] harigowtham commented on #963
https://github.com/gluster/glusterd2/pull/703 is the PR this change is being worked on

[2018-07-06 08:53] prashanthpai commented on #214
For the first cut, I'll be sending a PR to enable TLS for client to brick communication i.e I/O path. The client and brick volfiles expect transport options to be present as follows:

[code]
[code]

[2018-07-06 09:14] prashanthpai opened #968 "Validation of volume set (xlator) options for client side xlators"
As we load shared objects of xlator during startup of glusterd2, the client xlators may not be present on the node where glusterd2 is installed. In that case, xlator options of client xlators aren't loaded. Hence glusterd2 doesn't know about those client options and can't validate them. Should packaging be done in such a way that client xlators are installed on system which has glusterd2 ?

[2018-07-06 14:20] atinmu commented on #614
Can this issue be closed?

[2018-07-06 15:20] atinmu commented on #421
@harigowtham I believe this issue needs to be moved back to GCS Sprint2 given you have targeted https://github.com/gluster/glusterd2/issues/963, please confirm.

[2018-07-08 05:39] harigowtham commented on #421
@atinmu yes. This is an issue to track over all quota integration. Have filed minor issues which track each and every quota issue know so far. Will mark those that are feasible for sprint 2.

[2018-07-08 11:46] rishubhjain commented on #428
@atinmu  Will discuss the shortcomings and known issues of the rebalance API and take it to completion in  GCS-Sprint1. Will also complete the missing pieces like CLI and e2e cases for rebalance api in this sprint.

[2018-07-08 11:50] rishubhjain commented on #426
@atinmu Still working on remove brick API , won't be able to complete it by the end of this sprint. Since Rebalance API has higher priority will focus on completing that and will take up remove brick api in the next sprint( GCS-Sprint2).

[2018-07-08 11:52] rishubhjain commented on #883
@atinmu Already a PR in place, will address the review comments and will make sure already known issues are documented.

[2018-07-08 18:50] vpandey-RH commented on #427
@atinmu Still working on index/full-heal API , won't be able to complete it by the end of this sprint. Since, all the self heal APIs can't be completed in this sprint (although I think index/full-heal APIs can be finished this week) will take up remove brick api in the next sprint( GCS-Sprint2).

[2018-07-09 02:20] atinmu commented on #427
@vpandey-RH Please have an issue filed for index & full heal API so that I can tag it for Sprint1 and then move this to Sprint2. Once done, acknowledge.

[2018-07-09 02:44] atinmu commented on #219
@raghavendra-talur Circling back to see if the first cut document is ready for review?

[2018-07-09 02:45] atinmu commented on #659
@phlogistonjohn Would we be able to complete this in a week's time or do you want me to move this to Sprint 2?

[2018-07-09 02:46] atinmu commented on #887
@phlogistonjohn Would we be able to complete this in a week's time or do you want me to move this to Sprint 2?

[2018-07-09 03:37] atinmu commented on #614
@poornimag Do we have an infra in place by which we can reset a group profile completely? If not, this was an ask from couple of users in GD1 and good to implement. Can you please confirm?

[2018-07-09 03:39] atinmu commented on #461
snapshot config will be targeted in sprint 2. I'm moving this to sprint 2 now.

[2018-07-09 04:06] #927 closed

[2018-07-09 04:08] aravindavk commented on #851
I will open new issues for each of the following tasks and move out of `GCS-Sprint1`

[2018-07-09 04:51] atinmu commented on #963
I'm moving this to Sprint 2 given we have higher priority items to be delivered by Sprint 1. Development work on this PR can continue.

[2018-07-09 04:52] atinmu commented on #455
Even though a first cut PR #962 exists, but doesn't seem like it can be made ready and merged by end of Sprint 1. Moving this to Sprint 2.

[2018-07-09 05:32] prashanthpai commented on #214
The second part to do is allow authorization of clients i.e provide a list of clients that are authorized to access a particular volume. This requires certain xlator optoins to be turned on in server xlator.

In the following example, we allow two entities named `gd2-` and `Anyone` to access the volume:

[code]

[2018-07-09 05:35] prashanthpai commented on #214
The `glusterfs` fuse mount doesn't have command line options to provide a custom path to SSL certs. It's unfortunately hardcoded to a file in `/etc/ssl/glusterfs*`. I'll try to get as much parity with state of glusterd1.

[2018-07-09 05:56] prashanthpai opened #971 "Add support for glusterfs client authorization"
GlusterFS supports many methods to allow or disallow certain clients to access volume. Users can specify patterns of host/IP addresses using options such as `auth.allow` and `auth.reject`

[2018-07-09 06:12] thotz commented on #434
What does GD1 with nfs-ganesha ?
===========================
-- Setting up HA, creating/managing conf files for ganesha and volumes, exporting/unexporting volume
-- Uses shared storage for saving configuration files
-- Also while taking snapshot, it saves the export related conf files
Most taken care by gluster commands like start, stop, snapshot, set, reset, ganesha specfic(nfs-ganesha and ganesh

[2018-07-09 06:45] prashanthpai commented on #617
The last few fixes have improved stability of `e2e` tests but `TestBitrot/Replica-volume` is still failing often.

[2018-07-09 07:08] vpandey-RH opened #972 "Implement Index and Full Heal API and CLI"
Related to [#427](https://github.com/gluster/glusterd2/issues/427). This feature needs to be completed in GCS-Sprint1. The rest of the self heal APIs will be targeted  for GCS-Sprint2.

[2018-07-09 07:09] vpandey-RH commented on #427
@atinmu  Acknowledged.

[2018-07-09 08:32] rafikc30 opened #974 "Mount Snapshot Brick on glusterd restart"
Snapshot bricks, Bricks of cloned volume and bricks of restored volume should mandatorily do a check to see bricks are mounted or not during a volume start. This is essential in case of a node reboot where the mount point won't be present in the machine.

[2018-07-09 09:42] #956 closed

[2018-07-09 11:13] sac opened #975 "glusterd2 v4.0dev-7 fails to start, errors out with: invalid memory address or nil pointer dereference"
I'm running glusterd2 version v4.0dev-7, fails with error:

INFO[2018-07-09T16:25:38+05:30] gd2-muxserver: Failed service '(*sunrpc.SunRPC)(nil)' (4.999918 failures of 5.000000), restarting: true, error: runtime error: invalid memory address or nil pointer dereference, stacktrace: goroutine 316 [running]:
github.com/gluster/glusterd2/vendor/github.com/thejerf/suture.(*Supervisor).runService.func1.

[2018-07-09 11:21] prashanthpai commented on #975
@sac Please use the latest nightly build from here http://artifacts.ci.centos.org/gluster/gd2-nightly/

[2018-07-09 11:21] #975 closed

[2018-07-09 15:17] rafikc30 opened #976 "Implement Delete all command in snapshot"
Snapshot should implement delete all command that deletes all the snapshot in the volume. It should also have the capability to delete all snapshots of a particular volume.

[2018-07-09 15:20] rafikc30 opened #977 "Snapshot: Remove thinLV of a restored volume, cloned volume"
When we delete a volume that is restored or cloned from a snapshot, we have to delete thinLV associated with that volume.

[2018-07-10 05:49] prashanthpai opened #979 "config: Support etcd client TLS config as configurable option"
When connecting to an external etcd cluster, glusterd2 should be able to use `TLS`.  glusterd2 should take a set of configurable options that specifically pertain to glusterd2 to external etcd communication: `--etcd-ca-file`, `--etcd-cert-file` and `--etcd-key-file` command line flags.

[2018-07-10 08:22] #606 closed

[2018-07-10 09:44] prashanthpai opened #980 "Add TLS support for glusterfs handshake"
PR #967 adds support for TLS for client (glusterfs) to brick communication. The initial handshake between glusterfs (mount) client and glusterd2 doesn't use TLS. In glusterd1, presence of a file `/var/lib/glusterd/secure-access` would turn on TLS. The TLS certificate paths in glusterd1 are hard-coded. For glusterd2, it's some work to enable TLS for handshake. Glusterfs binary (mount process) shoul

[2018-07-10 09:58] amarts commented on #980
Also note, as a possible enhancement, we may need an option of different key for each client-protocol.

Think of the usecase, all my cluster is in local n/w, so I don't (or may use different, easier key) need auth. But in case of thin-arbiter, we may need thin-arbiter volume to have a different encryption as it may go through public n/w.

Need to see how to handle that.

[2018-07-10 10:08] prashanthpai commented on #980
My first thought on that is to make that as a xlator option in the client xlator. IIRC, we don't have mechanism to turn on a client xlator option for a specific/particular client instance in the graph.

[2018-07-10 10:22] prashanthpai opened #984 "Support auto TLS for inter-peer communication"
etcd has an option named `--peer-auto-tls` which enables (only) encryption in communication by mutual TLS without authentication and authorisation. While this doesn't bring much security, it's better than sending data in plain text. It also saves the admins/users from having to manage TLS keys/certificates.

[2018-07-10 14:00] ShyamsundarR commented on #739
Unsure which other issue to post this comment to, so using this one that talks about backward compatibility.

Comment originates from the review: https://review.gluster.org/#/c/20472/3 (see first comment by me and it's response). Tagging @prashanthpai as well here.

Questions and thoughts:
- I understand that GD2 supports options such as [<graph>].<xlator>.<option-name>
- Where <graph> is optional

[2018-07-11 03:50] aravindavk opened #987 "Support common thinpool while auto provisioning bricks"
One `thinpool` and one `lv` is created for each brick when bricks are Auto provisioned. For some use cases common `thinpool` is more useful than creating individual `thinpool` . Per node or per device configuration is required to support both the use cases.

For example, while registering the device

    glustercli device add <peer-id> <device> [--use-common-thinpool]

- Default configuration is o

[2018-07-11 04:06] aravindavk commented on #739
All volume set related to io-stat will be set under `debug/io-stats`, so whenever/wherever volgen sees `type debug/io-stats` then these options will be added to volfile.

Makes sense, does glusterd1 supports this? my understanding was glusterd1 is acting as router user sees the option related to feature but internally it sets to respective xlator. For example, user sets "cluster.data-self-heal", b

[2018-07-11 05:00] Madhu-1 commented on #503
@prashanthpai #958 is merged, can we close this issue now.

[2018-07-11 05:04] prashanthpai opened #989 "TLS for inter-glusterd2 communcation"
glusterd2 communicates with other glusterd2 instances in the cluster (and outside during peer probe). This communication should have an option to happen over TLS connection.

[2018-07-11 07:35] rafikc30 commented on #976
Implementing delete all command for the snapshot is not easy. Given that we have to acquire a lock on all the snapshots marked for deletion plus their parent volumes. Even if we managed to do that, it will be a time-consuming operation where the rest client has to wait.

Implementing delete all operation in glustercli is not that difficult. Where we can get the list of snapshots first and then sen

[2018-07-11 08:07] vpandey-RH commented on #972
@atinmu As dicussed in the standup today, this is the [#bug](https://bugzilla.redhat.com/show_bug.cgi?id=1240658), that needs to be addressed  in relation to full heal before we implement it in GD2.

[2018-07-11 12:11] atinmu commented on #456
Closed through #882

[2018-07-11 12:11] #456 closed

[2018-07-11 12:13] atinmu commented on #614
@prashanthpai As discussed, did you get a chance to look at this? We can track that as a separate issue and close this one as well if this enhancement is not in place.

[2018-07-11 12:35] prashanthpai opened #993 "Improper error message for failed REST authentication"
[code]

I pulled the latest glusterd2 changes which presumably had the change which turns on REST authentication by default.

[2018-07-11 12:45] prashanthpai opened #994 "Issues with REST authentication by default for local clients"
Clients on the same machine should be able to talk to local glusterd2 by default unless configured otherwise. IMO, we turned on rest API authentication on by default a little too early in the development stage.

If the above isn't feasible or proper, at least we need the following:

1. The CLI option `auth` should have some sane default which points to default location of authfile
2. Document the

[2018-07-11 12:47] prashanthpai commented on #994
**cc** @aravindavk

[2018-07-11 12:50] prashanthpai commented on #994
[code]

If it's turned on by default, the example file should show the default value which is `true`

[2018-07-11 12:57] prashanthpai commented on #614
That's not present. I'll file a separate issue for it to be tracked.

[2018-07-11 12:57] #614 closed

[2018-07-11 12:59] prashanthpai opened #995 "Add support to reset a grouped option"
glusterd2 supports setting multiple volume options at once under a group name. There's a need to reset a group option which will reset multiple volume options at once.

[2018-07-11 14:45] phlogistonjohn commented on #987
I thought I had mentioned something releated to this when I commented on issue #728, but I can't find it at the moment, so either I forgot to mention it or perhaps I wrote it somewhere else. Anyways, I think that every device provided to the system will need to have a concept of "formatting" or "layout" that can be extended over time. We'd start off with one or two basic layouts like the current t

[2018-07-11 15:03] JohnStrunk commented on #987
@phlogistonjohn Good point. In addition to things like the device stack, there are parameters to those items like the stripe size for LVM & xfs to match the underlying device geometry.

This seems like a pretty big design space. Any thoughts on what we can do to move forward with a basic, yet extensible, initial design?

[2018-07-11 15:40] phlogistonjohn commented on #987
As previously suggested my favorite approach is to start a document in the repo and iterate on its contents through the PR process.  I imagine that the initial doc would capture the minimal requirements to have feature parity with heketi while fitting in with the gd2 approach to apis & infrastructure. We can then add in any high-level additions like this where we need a little future proofing on t

[2018-07-11 15:50] aravindavk commented on #994
CLI auth file path defaulted to match with the file where glusterd2 looks for it by default. `glustercli` will work without any changes with standard deployment.

This is intentional, if "gluster" group exists in machine, auth file can be read by any users who belong to "gluster" group. In this case, auth file is created as "root" user since "gluster" group doesn't exist. I agree we need to docume

[2018-07-11 15:51] aravindavk commented on #993
@Madhu-1 please look into this. Is this related to the restauth changes?

[2018-07-11 18:51] phlogistonjohn commented on #994
+1 on the environment variable approach. its both invisible to casual shoulder surfing and easy to set up.
I would just ask the names be somewhat consistent. If the cli option is --secret the env var should be more like GLUSTERD2_AUTH_SECRET  (perhaps GLUSTER_CLI_SECRET is even better). I would also allow the env var equivalent to --user for completeness and parity with what heketi-cli supports.

[2018-07-11 22:16] phlogistonjohn commented on #659
So now that this is in sprint2 and we have a little breathing room I'd like to discuss how this ought to work.

I see the following entities potentially generating logging data:
* glusterd2 (N instances, depends on tests)
* other gluster processes (other gluster daemons that glusterd2 interacts with, brick processes, self heal, etc... number depends on tests)
* etcd (when using external etcd, typi

[2018-07-12 04:36] Madhu-1 commented on #993
@aravindavk this is not related to recent changes, this is due to the error handling when we get an unexpected status code in restclient.

[2018-07-12 04:38] #979 closed

[2018-07-12 05:33] aravindavk commented on #987
@phlogistonjohn Thanks for the comments.

Device management is only subset of this requirement, I don't think we need to merge this requirement with other issue. This issue talks about filters in Volume create API also.

Since this is a feature request, github-issue of its own will help us to triage better. Moving every requirements to single github issue will not help. We have many requirements l

[2018-07-12 05:53] prashanthpai commented on #659
I should've been clearer in the issue description. I intended to mean - add link or location of logs (tarballed and compressed) in console output if the tests fail. The proposal is to not add any code to the framework although that's very welcome but not a priority now :) We're looking to debug tests that fail only on the CI machine and not on local runs (one such test is [TestBitrot/Replica-volum

[2018-07-12 06:39] aravindavk opened #998 "Concurrency support for dynamic Volume create API"
Problem:

Volume create API requests holds lock on Volume name till the transaction complete. If bricks auto provisioning is enabled then parallel Volume create requests can choose same device and one request will fail if the space is not available during transaction.

Possible solution:

- Before choosing the devices for creating the brick, hold lock on all devices.
- Once the devices are selecte

[2018-07-12 06:43] aravindavk commented on #998
Issue #851 is split into multiple issues. This is one among them

[2018-07-12 06:52] aravindavk opened #999 "Auto distribute count for Intelligent Volume Provisioning"
Current dynamic Volume create API accepts distribute count as input and defaults to 1 if no distribute count is specified. New feature is required to find distribute count automatically based on given Volume size and available size.

If Distribute count is not specified and disk space is not enough to create volume, try again with increased distribute count till all the bricks can be planned(till

[2018-07-12 06:52] aravindavk commented on #999
Issue #851 is split into multiple issues. This is one among them

[2018-07-12 07:02] aravindavk opened #1000 "Arbiter brick size calculation for Intelligent Volume Provisioning"
Existing feature creates arbiter brick same size as replica brick. Introduce configurable option for average file size with good default value. Apply the formula while planning arbiter brick( https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3.3/html/administration_guide/creating_arbitrated_replicated_volumes#sect-Arbiter_Requirements )

[2018-07-12 07:03] aravindavk commented on #1000
Issue #851 is split into multiple issues. This is one among them

[2018-07-12 07:06] aravindavk opened #1001 "Global configuration for Intelligent Volume provisioning feature"
Global defaults should be configurable: Default replica count, Default Snapshot reserve factor, etc should be configurable via API/Config

[2018-07-12 07:06] aravindavk commented on #1001
Issue #851 is split into multiple issues. This is one among them

[2018-07-12 07:08] aravindavk opened #1002 "Support for multiple file system Intelligent Volume provisioning feature"
Currently all bricks are formatted as `xfs` file system. Support is required for other file systems like `ext3/4`, `zfs`, `btrfs` etc.

[2018-07-12 07:09] aravindavk commented on #1002
Issue #851 is split into multiple issues. This is one among them

[2018-07-12 08:34] aravindavk commented on #912
I will take this up for "GCS-Sprint2"

[2018-07-12 09:00] kshlm commented on #919
I'v posted the doc for review at #1003. [Direct link](https://github.com/kshlm/glusterd2/blob/new-txn-fw-doc/doc/transaction.md) for easy viewing.

[2018-07-12 12:11] aravindavk opened #1005 "Cluster level Volfiles should not include info of stopped Volumes"
Cluster level volfiles like `gluster/bitd`, `gluster/glustershd` includes bricks information even from Stopped Volumes.

- Volgen should not include stopped Volumes while generating Cluster level volfiles
- Volume start and Stop transactions should trigger Volgen of Cluster level volfiles
- ~~Actor model should support Delete Volume as well similar to Start and Stop.~~ (This is not required. daemo

[2018-07-12 12:13] #214 closed

[2018-07-12 12:13] #971 closed

[2018-07-12 12:19] itisravi opened #1006 ""afr-pending-xattr" option is not created in client volfile for thin-arbiter"
When you create  thin-arbiter volumes, the  `afr-pending-xattr` xlator option (which in turn is based on the client xlator names) is populated with only the 1st two (i.e. data bricks). The comma separated value needs to include thin-arbiter brick as well.

[2018-07-12 12:19] itisravi commented on #1006
@karthik-us @aspandey @aravindavk

[2018-07-12 12:21] kshlm commented on #968
Client xlators are always installed on servers. The glusterfs-server package always pulls in glusterfs-client package. To this is a non-issue almost always.

[2018-07-12 12:22] prashanthpai commented on #968
Thanks for clarifying. There's nothing else to be done here then :)

[2018-07-12 12:22] #968 closed

[2018-07-12 12:29] aspandey commented on #1006
we need this issue to be fixed asap as it is blocking our testing for demo.

[2018-07-12 12:29] aspandey commented on #1006
@amarts

[2018-07-12 13:20] sac opened #1007 "glusterd2 crashes ~40 seconds after starting complaining "etcd took long to start""
glusterd crashes with the following log message:

[code]

glusterd version:

[code]

What is the reason for the etcd embedded server to fail?

[2018-07-12 13:34] atinmu commented on #972
@vpandey-RH I still don't understand how the work on GD2 can be blocked because of GD1's missing functionality. Also better to talk about upstream BZs which is https://bugzilla.redhat.com/show_bug.cgi?id=1240658 .

@itisravi any pointers here?

[2018-07-12 13:35] atinmu commented on #503
Closed through #958.

[2018-07-12 13:35] #503 closed

[2018-07-12 13:38] atinmu commented on #250
Design of the transaction framework enhancements is tracked through #919 . This issue is more for the implementation which is beyond the scope of Sprint 1. Moving this to Sprint 2.

[2018-07-12 13:40] atinmu commented on #851
Moving this to Sprint 2 as there's good amount of work required to complete all of the issues referenced.

[2018-07-12 14:43] aravindavk commented on #851
Patch #973 posted for the tasks other than the new issues opened. It can be merged if somebody reviews it.

[2018-07-12 14:55] aravindavk commented on #1006
RCA: Since the thin-arbiter brick is not stored as brick internally, it is not added to the list of xattrs.

[2018-07-12 14:59] aravindavk commented on #851
@atinmu updated status in first comment.

[2018-07-12 15:42] #972 closed

[2018-07-12 22:06] phlogistonjohn commented on #659
+1 thanks for confirming what I was hoping for.

I'm not sure what you mean by this. Do you have an example?

[2018-07-13 04:53] #993 closed

[2018-07-13 07:36] aravindavk commented on #851
Updated title and description of issue

[2018-07-13 10:04] #835 closed

[2018-07-13 10:10] atinmu commented on #921
@Madhu-1 Please open a new issue tracking the pending work and close it

[2018-07-13 10:13] Madhu-1 opened #1010 "Events api enhancement"
opening a new issue to track Pending tasks from #921
- [ ] *Add support for events listener port for glusterfs daemons like ``` glusterfsd, glustershd, gsyncd, quotad ``` etc.
- [ ] event names to a new format(Ex: VOLUME_CREATE to volume.created)

[2018-07-13 10:14] Madhu-1 commented on #921
@aravindavk #942 is merged now. I have opened a new issue to track pending tasks, can we close this one?

[2018-07-13 10:24] Madhu-1 opened #1011 "add github templates"
- [x] Template to create  issue
- [ ] Template to create pull request

[2018-07-13 10:37] #921 closed

[2018-07-13 10:42] prashanthpai commented on #1011
We'll be moving to Gerrit soon, don't bother do it for PRs ;)

[2018-07-13 11:00] sac-urs opened #1012 "gd2 crash while detaching and attaching a peer (external etcd)"
Setup:

Two servers, with external etcd running on both of them. The etcd configuration looks like:

[code]

glusterd2 is started on both the servers, with each server pointing to etcd on it. The gd2 configuration looks like:

[code]

When the run the steps:

1. peer add
2. peer list
3. peer remove
4. peer add

glusterd2 crashes with message

[code]

Attaching logs.
[server1.log](https://github.co

[2018-07-13 11:30] sac-urs commented on #1012
The issue persists with single etcd server as well. The config file on both the nodes:

Server1:

[code]

Server2:
[code]

Both pointing to same etcd server.

[2018-07-13 12:28] rafikc30 opened #1013 "snapshot: Delete snapshot bricks volfile"
Since the snapshot bricks name starts with volname, the delete client volfile function won't delete the volfile. Because the volfileID starts with "snaps/" . This is because when we create volfileID during brick start we don't have VolfileID in the argument.

Also, all the snapshot volfiles has to be deleted after a snap restore.

[2018-07-13 13:18] prashanthpai opened #1014 "Consider running tests such as misspell for all PRs"
There have been multiple PRs over time to fix issues reported by [Go report card](https://goreportcard.com/report/github.com/gluster/glusterd2#golint) service which runs multiple tests such as [ineffassign](https://github.com/gordonklaus/ineffassign) and [misspell](https://github.com/client9/misspell). Instead of merging PRs and fixing these (minor) issues later, it'll be good to have these tests

[2018-07-15 13:55] atinmu commented on #1007
@sac Was this done with embedded etcd mode?

[2018-07-16 01:50] sac commented on #1007
@atinmu Yes it is embeded etcd.

[2018-07-16 04:23] amarts commented on #976
@rafikc30 I like the approach, and we should only do it this way. It is tool which should do it, and APIs should be provided for doing one small thing.

[2018-07-16 04:43] prashanthpai commented on #891
I'll do that.

[2018-07-16 06:30] rafikc30 commented on #976
@amarts also I was wondering comments like snapshot status, snapshot info should be restricted to one snapshot. Is it really helpful for a customer to Print all snapshots/volumes with status/info on stdout or as a rest api response. It will be more confusing, given that we will have number volumes as high. IMHO, it makes more sense to have list all followed by status or info of a particular entity

[2018-07-16 07:00] prashanthpai opened #1018 "Extend metadata based filtering to other operations"
Currently, only volume and peer listing can be filtered based on metadata labels (key-value pairs). Similar to labels in k8s, we should support most of our volume operations to take labels/filters as input.

Example: Stop all volumes having specific keys and values:

[code]

[code]

[2018-07-16 07:10] sac opened #1019 "`peer add' fails with `Authorization header is required' message"
I tried to add a peer following the documentation at:

https://github.com/gluster/glusterd2/blob/master/doc/quick-start-user-guide.md#add-peer

It fails with message `Authorization header is required'. However, when I add a peer using the glustercli, the peer add works fine. We have add documentation on how deal with the `Authorization' part.

[2018-07-16 08:47] amarts commented on #976
Agree! Let the API deal with only one volume at a time, and cli (or any other high level tool) consuming can list the status, list by doing the iteration on all the volumes.

[2018-07-17 06:12] #1005 closed

[2018-07-17 06:33] #994 closed

[2018-07-17 06:39] #1006 closed

[2018-07-17 07:01] sac opened #1022 "Need custom error messages for failed commands"
We need better messaging for failed commands. For example when I try to remove a non-existent peer GD2 throws error:

[code]
Which is a generic error and status code 500 refers to "Internal Server Error and is a very general HTTP status code that means something has gone wrong on the website's server."

Which is not the case here. The users are clueless as to why the command failed.

[2018-07-17 09:48] prashanthpai opened #1023 "Document TLS usage for client-brick communication"
Existing glusterd1 documentation:
https://gluster.readthedocs.io/en/latest/Administrator%20Guide/SSL/

Turning on TLS in glusterd2 can be done as described here: https://github.com/gluster/glusterd2/pull/967
Those steps needs to be put in a document.

[2018-07-17 10:02] prashanthpai opened #1024 "Replica count and arbiter count not set in Volinfo response"
Reproducing steps:

Create a replica 3 arbiter 1 volume:
[code]

Check REST API output:
[code]

As seen above `arbiter-count` and `replica-count` isn't set in response.

[2018-07-17 10:13] amarts commented on #1024
Can we make sure we call it 'replica 2 arbiter 1' ? That way the expectation is properly set with other industry standard behavior.

[2018-07-17 10:29] prashanthpai opened #1025 "volume-status: Add stopping/starting as intermediate states"
As we don't take locks when reading information such as getting brick status, it's important to not return intermediate results. If we do return intermediate results, clients should be able to know that the results cannot be relied on.

For example, if a client issues a volume status request (bricks status really), and if another volume stop operation is going on, the client may see few bricks onl

[2018-07-17 10:36] prashanthpai commented on #1024
I'll be fixing that :+1:  It's tracked here: https://github.com/gluster/glusterd2/issues/515

[2018-07-17 13:18] rmadaka opened #1026 "Volume creation is failing after 59 volumes with 30 node cluster"
-> Created 30 node cluster
-> Tried to create 200 volumes through script
-> It's distributed-replica volume 10x3 (means each volume will be having  30 bricks )
-> One brick from each node that means 30 bricks form 30 nodes
-> Volume creation failing with below error

Volume creation failed

Error: Request failed with HTTP Status code 500
Transaction step vol-create.StoreVolume failed on peer 5a011

[2018-07-17 13:50] prashanthpai commented on #1026
How ? External etcd ? Elastic etcd ? Is it 30 VMs ? Is it 30 containers ?

How ? Normal volume ? Smart dynamic volume ?

Which among the 30 volumes ? first one ? 10th one ?

Please attach etcd logs and glusterd2 logs. Also share disk usage on these nodes (including the nodes that has etcd).

[2018-07-18 02:38] prashanthpai opened #1027 "Make client side timeout configurable"
...right now, client side timeout is hard-coded to 30s

@rmadaka will be using this in his scale testing

[2018-07-18 08:55] prashanthpai opened #1029 "Reintroduce support for IP/hostname in peer remove API"
...by popular demand :)

As a general design decision, it was a decided to allow only IDs in all public API (including peer remove) wherever a unique ID is available for following reasons:

* uniformity across APIs
* users can easily get IPs wrong
* support changing IPs in future, specifically in setups without DNS
* reinforce that the ID represents the entity (peer, volume) being acted upon and n

[2018-07-18 09:50] kshlm opened #1030 "glustercli ReST auth should not use the GD2 secret directly"
`glustercli` at the moment uses the GD2 secret directly to generate a JWT auth token. This is not secure. Clients to GD2 are not supposed to be accessing GD2's auth secret directly. They should instead be provided a token from GD2, which they need to pass on when making their ReST calls.

Currently, GD2 creates a secret file with a random secret when starting, which used for JWT token validation.

[2018-07-18 13:50] aravindavk commented on #1030
You are talking about shared token approach which is not secure without `https` enabled. We discussed about this approach and we choose shared secret approach earlier. If on the wire token is compromised, then the same token can be used forever unless secret at server node is reset.

In case of shared secret approach, each token on the wire will have short expiry time. Even if a token is compromis

[2018-07-18 13:54] aravindavk commented on #1030
Discussion on gluster-devel https://lists.gluster.org/pipermail/gluster-devel/2016-March/048508.html

[2018-07-19 03:49] Madhu-1 commented on #839
fixed in #846

[2018-07-19 03:49] #839 closed

[2018-07-19 05:10] Madhu-1 opened #1033 "update document to enable/disable external ETCD usage in functional testing"

[2018-07-19 06:40] #1027 closed

[2018-07-19 07:09] prashanthpai opened #1037 "config: Change default logdir and rundir"
On RPM install, this is the typical config that gets installed:

[code]

The `logdir` should be `/var/log/glusterfs` and `rundir` should default to `/var/run/gluster`

[2018-07-19 07:35] rishubhjain commented on #1037
@prashanthpai Also I think the file has one blank line in the beginning of the file. Is that on purpose?

[2018-07-19 08:33] aravindavk commented on #1037
Since `glusterd1` and `glusterd2` can co-exists now, it will be good if we keep the logdir and rundir separate.

[2018-07-19 08:35] vpandey-RH opened #1038 "Xlator order mismatch in brick volfiles"
There is mismatch in xlator ordering between GD2 brick volfiles  and GD1 brick volfiles.

**Sample GD1 brick volfile contents -**

    volume testvol9-io-stats
        type debug/io-stats
        option count-fop-hits on
        option latency-measurement on
        option log-level INFO
        option unique-id /bricks/brick77
        subvolumes testvol9-quota
    end-volume

    volume /bricks/b

[2018-07-19 09:10] #1022 closed

[2018-07-19 10:16] #1038 closed

[2018-07-19 11:13] rishubhjain opened #1041 "Restructuring read me and improving documentation"
As per discussion with @prashanthpai @harigowtham
We are restructuring Readme.md file so as to keep only necessary information. We are also introducing another document: "User Guide" which will elaborate on how to use glusterd2 and explain glusterd2 configuration details.

README:

**GlusterD2 Overview.**
Will give a brief overview of glusterd2.

**Documentation**
Will have 3 primary documents:
1)